@font-face {
    font-family: raleway_regular;
    src: url(../fonts/raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: raleway_bold;
    src: url(../fonts/raleway/Raleway-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: billabong;
    src: url(../fonts/billabong/billabong.ttf);
}

body{
    font-family: raleway_regular;
    background-image: url(../../../images/background/grey.png);
    margin: 0;
    width: 100%;
    height: 100%;
}

.billabong-font{
    font-family: billabong;
}

.raleway-bold{
    font-family: raleway_bold;
}

.font-10{
    font-size: 10px;
}

.font-11{
    font-size: 11px;
}

.loading {
    height: 80px;
    width: 100%;
    background-image: url(../../../images/gears.gif);
    background-position:  center center;
    background-repeat: no-repeat;
    opacity: 1;
}
.loading * {
    opacity: .8;
}

.navbar-brand{
    font-family: billabong;
    font-size: 35px;
}
.navbar-default .navbar-brand{
    color: white;
    text-shadow: 1px 1px gray;
}

.hr-small-margin{
    margin-bottom: 10px;
    margin-top: 5px;
}

.white{
    color: white;
}

.border-gray{
    border: 1px solid;
    border-color: #cccccc;
    border-radius: 4px;
}

.pad-10{
    padding: 10px;
}

.margin-10{
    margin-bottom: 10px;
}

.bg-white{
    background-color: white;
    padding: 10px;
}


#cover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 250px;
    width: 100%;
}

#photo{
    margin: 0 auto;
}

#boxlogin{
    margin-top: 240px;
}

#footerLogin{
    background-image: url(../../../images/logo_small.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 70px;
    position: fixed;
    left: 0;
    bottom: 10px;
    font-size: 12px;
    color: white;
    height: 59px;
    padding-top: 15px;
    text-shadow: 1px 1px gray;
}

.navbar{
    background: none;
    border: none;
}

.orange{
    color: orange;
}

.input-transparent{
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.button-transparent{
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
    .button-transparent:hover, .button-transparent:focus{
        background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }

.content-user-photo{
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top: 5px;
    float: right;
    margin-right: 15px;
    background-size: 40px;
    background-repeat: no-repeat;
}

.content-nav-photo{
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float: left;
    position: relative;
    top: -4px;
    margin-right: 7px;
    display: none;
    background-size: 30px;
    background-repeat: no-repeat;
}

.content-very-small-photo{
    background-size: 30px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.content-small-photo{
    background-size:40px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.content-medium-photo{
    background-size:140px;
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
}

.content-large-photo{
    background-size:180px;
    width: 180px;
    height: 190px;
    background-repeat: no-repeat;
    -webkit-border-radius: 110px;
    -moz-border-radius: 110px;
    border-radius: 110px;
}

.modal-load-background{
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 50px;
}

#navbar-login-form{
    display: none;
}

#content-login-form{
    display: block;
}

@media (min-width: 768px) {
    .content-user-photo {
        display: none;
    }
    .content-nav-photo{
        display: block;
    }
    /*#navbar-login-form{
        display: block;
    }
    #content-login-form{
        display: none;
    }*/
    #menuLeft{
        margin-bottom: 5px;
    }
    #footer{
        position: fixed;
    }

    .navbar-default .navbar-nav > li > a{
        color: white;
        text-shadow: 1px 1px gray;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
        background: none;
    }

    .open{
        background: none;
    }
    /*#find{
        padding-top: 100px;
    }*/
}

@media (min-width: 992px) {
    #identity{
        margin-top: 90px;
    }
    #find{
        padding-top: 90px;
    }
}

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }

    #menuLeft {
        margin-left: 20px;
    }

    #boxlogin{
        margin-top: 10px;
    }

    #footerLogin{
        position: static;
        margin-top: 40px;
    }
    .navbar-collapse{
        background-color: #f8f8f8;
        /*border-color: #e7e7e7;*/
    }
}



/*TIMELINE*/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    padding-top: 15px;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }