  *zoom: 1;
.clearfix {
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: NaN a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-view {
  font-size: 13px;
}
.grid-view .table th > .sort-link {
  color: #333;
  display: block;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}
.grid-view .table th > .sort-link:hover {
  text-decoration: none;
}
.grid-view .table th > .sort-link .caret {
  border-color: transparent;
  border-style: solid;
  border-width: 4px;
  display: none;
  position: absolute;
  right: 5px;
}
.grid-view .table th > .sort-link.asc .caret {
  border-bottom-color: #333;
  display: block;
  top: 4px;
}
.grid-view .table th > .sort-link.desc .caret {
  border-top-color: #333;
  display: block;
  top: 8px;
}
.grid-view .table .filters > td .filter-container {
  padding: 0 16px 0 0;
}
.grid-view .table .filters > td .filter-container input[type="text"], 
.grid-view .table .filters > td .filter-container select {
  margin-bottom: 0;
  width: 100%;
}
.grid-view .table tr.selected td {
  background: #eee;
}
.grid-view .table td {
  vertical-align: middle;
}
.grid-view .table .checkbox-column {
  width: 15px;
}
.grid-view .table .number-column {
  text-align: right;
}
.grid-view .table .button-column {
  text-align: right;
  min-width: 50px;
}
.grid-view .summary {
  color: #999999;
  font-size: 12px;
  padding: 6px 0;
  text-align: right;
}
.grid-view .empty {
  font-style: italic;
}
.grid-view.grid-view-loading {
  background: url(../img/loader.gif) no-repeat 100% 10px;
}
.grid-view.grid-view-loading .table {
  opacity: 0.5;
}
.grid-view.grid-view-loading .table th > .sort-link .caret {
  display: none;
}

.list-view.list-view-loading {
  background: url(../img/loader.gif) no-repeat 100% 10px;
}

.grid-view .pagination
{
  margin: 0;
}

.detail-view .null { color:#ffc0cb; }
.detail-view th {
  text-align:right;
  width:160px;
}
span.required {
  color: #b94a48;
  font-weight: bold;
}


.list-view .pagination-container .pagination 
{
  margin-bottom: 0;
  margin-top: 10px;
}

.list-view .sorter {
    font-size: 0.9em;
}
.list-view .sorter ul {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.list-view .sorter li {
    display: inline;
    margin: 0 0 0 5px;
    padding: 0;
}

.list-view .sorter a.desc .caret {
border-bottom: 4px solid;
    border-top: medium none;

}
/* nav-lis has been removed in bootstrap 3. But i need this style so i copy from 2.3.3*/
.nav-list 
{
  margin-bottom: 20px;
}
.nav li + .nav-header {
    margin-top: 9px;
}

.nav-list > li > a, .nav-list .nav-header {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-header {
    color: #999999;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 3px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}


.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    background-color: #C51E10;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.nav-list > li > a {
    padding: 3px 15px;
}

.nav-list .divider {
    background-color: #E5E5E5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}

.errorSummary ul {
  padding-left: 20px;
}

.form-group .row
{
  margin-left: 0;
  margin-right: 0;
}

.pager
{
  margin-top: 10px;
  margin-bottom: 0;
}