<div id="app">
  <b-embed ref="default"></b-embed>
  <br>
  <b-embed ref="tag" tag="aside"></b-embed>
  <br>
  <b-embed ref="type" type="video"></b-embed>
  <br>
  <b-embed ref="aspect" type="video" aspect="4by3"></b-embed>
  <br>
  <b-embed ref="attributes" type="video" foo="bar" baz></b-embed>
  <br>
  <b-embed ref="children" type="video"><source></source></b-embed>
</div>
