<div id="app">
    <b-list-group>
        <b-list-group-item active>Awesome list</b-list-group-item>
        <b-list-group-item href="#">
            Action links are easy
        </b-list-group-item>
        <b-list-group-item>
            This is a text only item
        </b-list-group-item>
    </b-list-group>
</div>
