<template>
  <inside :username="username">
    <div v-if="!checkPeriode()">
      <b-alert show>Mohon maaf, Datul Periode Semester I 2018 saat ini telah berakhir. Terima kasih atas partisipasi bapak dan ibu sekalian dalam mendatulkan anggotanya.</b-alert>
    </div>
  	<template slot="header">
  		<header class="header bg-dark">
          <div class="header-info">
            <div class="left">
              <h2 class="header-title text-white"><strong>Daftar</strong> Wajib Datul</h2>
            </div>
          </div>
        </header>
  	</template>
  	<template slot>
			<b-tabs>
        <b-tab :title="title.semua" active>
          <semua :data="dataSemua"></semua>
        </b-tab>
		  <b-tab :title="title.belumDatul" :busy="busy">
			<belum-datul :data="dataListAnggota"></belum-datul>
		  </b-tab>
		  <b-tab :title="title.p2tel">
			<konfirmasi-p2tel :data="dataListAnggota"></konfirmasi-p2tel>
		  </b-tab>
		  <b-tab :title="title.dapen">
			<konfirmasi-dapentel :data="dataListAnggota" :busy="busy"></konfirmasi-dapentel>
		  </b-tab>
		  <b-tab :title="title.sudahDatul" :busy="busy">
			<selesai-datul :data="dataListAnggota"></selesai-datul>
		  </b-tab>
		</b-tabs>
  	</template>
  </inside>
</template>
<script>
import * as _ from 'underscore'
import inside from '@/layout/inside'
import semua from '@/pages/datul-anggota/dwd/semua'
import belumDatul from '@/pages/datul-anggota/dwd/belum-datul'
import konfirmasiP2tel from '@/pages/datul-anggota/dwd/konfirmasi-p2tel'
import konfirmasiDapentel from '@/pages/datul-anggota/dwd/konfirmasi-dapentel'
import selesaiDatul from '@/pages/datul-anggota/dwd/selesai-datul'
import { HTTP } from '@/config'
export default {
  components: {
    inside, semua, belumDatul, konfirmasiP2tel, konfirmasiDapentel, selesaiDatul
  },
  data () {
  	return {
      username: '',
  		dataListAnggota: [],
		  dataSemua: [],
  		busy: true,
      title: {
        semua: 'Semua',
        belumDatul: 'Belum Datul',
        p2tel: 'Sudah Datul - Menunggu Konfirmasi P2TEL',
        dapen: 'Sudah Datul - Menunggu Konfirmasi Dapentel',
        sudahDatul: 'Selesai Datul'
      }
  	}
  },
  methods: {
    checkPeriode () {
      return this.$store.state.login.periode_datul.status
    },
  },
  asyncComputed: {
    listAnggota () {
      return HTTP.post('listanggota/anggota', { token: this.$store.state.login.token, status: null })
      .then(res => {
        this.dataListAnggota = res.data.data
        this.dataSemua = _.where(res.data.data, {  tanggal_meninggal: null })
        this.totalListAnggota = res.data.data.length
        this.title.semua = `Semua (${_.where(res.data.data, {  tanggal_meninggal: null }).length})`
        this.title.belumDatul = `Belum Datul (${_.where(res.data.data, {  status: 4 }).length})`
        this.title.p2tel = `Sudah Datul - Menunggu Konfirmasi P2TEL (${_.where(res.data.data, {  status: 3 }).length})`
        this.title.dapen = `Sudah Datul - Menunggu Konfirmasi Dapentel (${_.where(res.data.data, {  status: 2 }).length})`
        this.title.sudahDatul = `Selesai Datul (${_.where(res.data.data, {  status: 1 }).length})`
        this.busy = false
      })
    }
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      this.username = res.data.data._username
    })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          next('/datul/daftar-wajib-datul')
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style scoped>
.header {
	margin-bottom: 0 !important;
}
</style>
