<template>
  <inside :username="username">
        <div class="card">
          <h4 class="card-title">Belum Datul</h4>

          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <form class="lookup lookup-sm">
                  <input type="text" placeholder="Search..." v-model="filter">
                </form>
              </div>
              <div class="spinner-linear" v-if="busy">
                <div class="line"></div>
              </div>
              <div class="col-md-12">
                <b-table striped responsive hover :items="dataListAnggota" :fields="fields" :small="true" :per-page="perPage"  :current-page="currentPage" :filter="filter" @row-clicked="goToProfile" :busy="busy">

                </b-table>
              </div>
              <div class="col-md-12">
                <b-pagination align="center" size="md" :total-rows="totalListAnggota" v-model="currentPage" :per-page="perPage"></b-pagination>
              </div>
            </div>
          </div>
        </div>
  </inside>
</template>
<script>
import inside from '@/layout/inside'
import { HTTP } from '@/config'
export default {
  components: {
    inside
  },
  data () {
    return {
      username: '',
      filter: '',
      currentPage: 1,
      perPage: 10,
      busy: true,
      dataListAnggota: [],
      totalListAnggota: null,
      fields: [
        {
          key: 'nik',
          label: 'NIK',
          sortable: true
        },
        {
          key: 'nama',
          label: 'Nama',
          sortable: true
        },
        {
          key: 'cabang_p2tel',
          label: 'Cabang P2TEL',
          sortable: true
        }
      ]
    }
  },
  asyncComputed: {
    listAnggota () {
      return HTTP.post('listanggota/anggota', { token: this.$store.state.login.token, status: 2 })
      .then(res => {
        this.dataListAnggota = res.data.data
        this.totalListAnggota = res.data.data.length
        this.busy = false
      })
    }
  },
  methods: {
    goToProfile(item) {
      this.$router.push(`/profile/${ item.id }`)
    }
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      this.username = res.data.data._username
    })
  },
  beforeRouteEnter (to, from, next) {
      next(vm => {
        HTTP.post('token', vm.$store.state.login)
        .then((res) => {
          if (res.data.success === true) {
            next('/datul-anggota/konfirmasi-dapentel')
          } else {
            next('/')
          }
        })
      })
    }
}
</script>
<style scoped>
  .b-table {
    cursor: pointer;
  }
</style>
