<template>
  <inside :username="userdata._username">
<!--     <template slot="header">
    <header class="header bg-dark">
        <div class="header-info">
          <h1 class="header-title">
            <strong></strong>
            <small></small>
          </h1>
        </div>
      </header>
    </template> -->
    <template>
      <div class="row pl-20 pr-20 pt-10">
        <div class="col-md-9">
          <wid-one title="Daftar Wajib Datul" :icon="checkBusy('fa-file-text-o text-warning')" bg-color="bg-info" text-color="text-white" :number="total_anggota"></wid-one>
        </div>
        <div class="col-md-3">
          <wid-one title="Tidak Wajib Datul" :icon="checkBusy('fa-ban text-white')" bg-color="bg-black" text-color="text-white" :number="tidak_wajib_datul"></wid-one>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <wid-one title="Belum Datul" :icon="checkBusy('fa-times text-warning')" bg-color="bg-primary" text-color="text-white" :number="belum_datul"></wid-one>
            </div>
            <div class="col-md-3">
            	<!-- <wid-two bg-color="bg-yellow" title="Sudah Datul - Menunggu Konfirmasi P2TEL" :icon="checkBusy('fa-building-o')" :number="sudah_datul_p2tel"></wid-two> -->
              <wid-one title="Sudah Datul - Menunggu Konfirmasi P2TEL" icon="fa-building-o text-dark" bg-color="bg-warning" text-color="text-dark" :number="sudah_datul_p2tel"></wid-one>
            </div>
            <div class="col-md-3">
            	<!-- <wid-two bg-color="bg-primary" title="Sudah Datul - Menunggu Konfirmasi Dapentel" :icon="checkBusy('fa-building')" :number="sudah_datul_dapen"></wid-two> -->
              <wid-one title="Sudah Datul - Menunggu Konfirmasi Dapentel" :icon="checkBusy('fa-building text-dark')" bg-color="bg-yellow" text-color="text-blue" :number="sudah_datul_dapen"></wid-one>
            </div>
            <div class="col-md-3">
              <wid-one title="Selesai Datul" :icon="checkBusy('fa-check text-white')" bg-color="bg-success" text-color="text-white" :number="sudah_datul"></wid-one>
            </div>
          </div>
        </div>
      </div>
      <pre>{{  }}</pre>
    </template>
  </inside>
</template>
<script>
import * as _ from 'underscore'
import { HTTP } from '@/config'
import inside from '@/layout/inside'
import widOne from '@/widget/wid-one'
import widTwo from '@/widget/wid-two'

export default {
  components: {
    inside, widOne, widTwo
  },
  data () {
  	return {
  		total_anggota: null,
  		tidak_wajib_datul: null,
  		daftar_wajib_datul: null,
  		belum_datul: null,
  		sudah_datul_p2tel: null,
  		sudah_datul_dapen: null,
  		sudah_datul: null,
  		busy: true,
      userdata: {}
  	}
  },
  asyncComputed: {
    listAnggota () {
      return HTTP.post('listanggota/anggota', { token: this.$store.state.login.token, status: null })
      .then(res => {
        this.dataListAnggota = res.data.data
        this.total_anggota = _.where(res.data.data, {  tanggal_meninggal: null }).length
        this.tidak_wajib_datul = res.data.data.length - _.where(res.data.data, {  tanggal_meninggal: null }).length
        this.belum_datul = _.where(res.data.data, {  status: 4 }).length
        this.sudah_datul_p2tel = _.where(res.data.data, {  status: 3 }).length
        this.sudah_datul_dapen = _.where(res.data.data, {  status: 2 }).length
        this.sudah_datul = _.where(res.data.data, {  status: 1 }).length
        this.busy = false
      })
    }
  },
  methods: {
  	checkBusy (i) {
  		if (this.busy) {
  			return 'fa-spinner fa-pulse text-white'
  		} else {
  			return i
  		}
  	}
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      this.userdata = res.data.data
    })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style>

</style>
