<div id="app">
  <b-img ref="default" src="https://lorempixel.com/200/200/technics/8/"></b-img>
  <br>
  <b-img ref="fluid" fluid src="https://lorempixel.com/200/200/technics/8/"></b-img>
  <br>
  <b-img ref="thumbnail" thumbnail src="https://lorempixel.com/200/200/technics/8/"></b-img>
  <br>
  <b-img ref="rounded" rounded src="https://lorempixel.com/200/200/technics/8/"></b-img>
  <br>
  <b-img ref="roundedTop" rounded="top" src="https://lorempixel.com/200/200/technics/8/"></b-img>
  <br>
  <b-img ref="blank" blank></b-img>
  <br>
  <b-img ref="blankSize" blank width="200" :height="250" blank-color="blue"></b-img>
  <br>
  <b-img ref="blankSrc" blank src="https://lorempixel.com/200/200/technics/8/"></b-img>
  <br>
  <b-img ref="center" center src="https://lorempixel.com/200/200/technics/8/"></b-img>
  <br>
  <b-img ref="left" left src="https://lorempixel.com/200/200/technics/8/"></b-img>
  <br>
  <b-img ref="right" right src="https://lorempixel.com/200/200/technics/8/"></b-img>
  <br>
  <b-img-lazy ref="lazy" blank blank-color="#f00" width="200" height="200" src="https://lorempixel.com/200/200/technics/8/"></b-img-lazy>
</div>
