<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="scss">
@import "./assets/css/style.scss";
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import "./assets/css/scss/app.scss";
</style>
