<template>
	<div class="row">
    <div class="col-md-6" v-for="vm in data">
      <dl class="row">
        <dt class="col-sm-4">Nama</dt>
        <dd class="col-sm-8">{{ vm.nama }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4">NIK</dt>
        <dd class="col-sm-8">{{ vm.nik }}</dd>
        </dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4">Nomor Ahli Waris</dt>
        <dd class="col-sm-8">{{ vm.naw }}</dd>
        </dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4">Tanggal Lahir</dt>
        <dd class="col-sm-8">{{ vm.tgl_lahir }}</dd>
        </dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4">KTP</dt>
        <dd class="col-sm-8">{{ vm.ktp }}</dd>
        </dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4">Agama</dt>
        <dd class="col-sm-8">{{ religion(vm.agama_id) }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4">Golongan Darah</dt>
        <dd class="col-sm-8">{{ vm.golongan_darah }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4">Jenis Kelamin</dt>
        <dd class="col-sm-8">{{ gender(vm.jenis_kelamin) }}</dd>
      </dl>
    </div>
	</div>
</template>
<script>
	export default {
		props: ['data'],
		methods: {
			gender(i) {
        if (i === null) {
          return '-'
        } else if (i === 0) {
          return 'Pria'
        } else if (i === 1) {
          return 'Wanita'
        }
      },
			religion(i) {
        switch(i) {
          case 1:
          return 'Islam';
          break;
          case 2:
          return 'Kristen';
          break;
          case 3:
          return 'Katolik';
          break;
          case 4:
          return 'Hindu';
          break;
          case 5:
          return 'Budha';
          break;
          case 6:
          return 'Konghucu';
          break;
          default:
          null;
        }
      }
		}
	}
</script>