<template>
	<div>
		<address>
			<div class="divider text-primary border-primary">
				<strong>ALAMAT UTAMA</strong>
			</div>
			<div class="row">

		    <div class="col-md-6">
		    	<dl class="row" v-if="addrmakeBlock(alamatutama.jalan)">
						<dt class="col-sm-4">{{ addrmakeKey(alamatutama.jalan, 'jalan') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(alamatutama.jalan) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(alamatutama.komp)">
						<dt class="col-sm-4">{{ addrmakeKey(alamatutama.komp, 'Komplek / Kampung') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(alamatutama.komp) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(alamatutama.no)">
						<dt class="col-sm-4">{{ addrmakeKey(alamatutama.no, 'Nomor') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(alamatutama.no) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(alamatutama.rt)">
						<dt class="col-sm-4">{{ addrmakeKey(alamatutama.rt, 'RT') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(alamatutama.rt) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(alamatutama.rw)">
						<dt class="col-sm-4">{{ addrmakeKey(alamatutama.rw, 'RW') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(alamatutama.rw) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(alamatutama.namakelurahan)">
						<dt class="col-sm-4">{{ addrmakeKey(alamatutama.namakelurahan, 'Kelurahan') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(alamatutama.namakelurahan) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(alamatutama.namakecamatan)">
						<dt class="col-sm-4">{{ addrmakeKey(alamatutama.namakecamatan, 'Kecamatan') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(alamatutama.namakecamatan) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(alamatutama.namakota)">
						<dt class="col-sm-4">{{ addrmakeKey(alamatutama.namakota, 'Kota') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(alamatutama.namakota) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(alamatutama.namaprovinsi)">
						<dt class="col-sm-4">{{ addrmakeKey(alamatutama.namaprovinsi, 'Provinsi') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(alamatutama.namaprovinsi) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(alamatutama.kodepos)">
						<dt class="col-sm-4">{{ addrmakeKey(alamatutama.kodepos, 'Kode Pos') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(alamatutama.kodepos) }}</dd>
		      </dl>
		      <dl class="row">
		      	<dt class="col-md-12">
		      		<button class="btn btn-primary btn-block" @click="editAlamatUtama(alamatutama)" :disabled="ubahAlamatstate(7001, alamatutama.id)">ubah alamat utama</button>
		      	</dt>
		      </dl>
		    </div>
		    <div class="col-md-6">
		    	<template v-for="vm in alamatutama.kontak" >
			    	<dl class="row">
							<dt class="col-sm-3">{{ vm.tipekontak }}</dt>
							<dd class="col-sm-4">{{ vm.kontakvalue }}</dd>
							<dd class="col-sm-5"><button class="btn btn-primary btn-block">ubah kontak</button></dd>
			      </dl>
		    	</template>
		    		<dl class="row">
		    			<dt class="col-md-12">
		    				<button class="btn btn-primary btn-block">tambah kontak</button>
		    			</dt>
		    		</dl>
		    </div>
			</div>
	  </address>
	  <address v-if="alamatlainlength !== 0" v-for="(vm, index) in alamatlain">
			<div class="divider text-primary border-primary">
				<strong>ALAMAT LAIN {{ index + 1 }}</strong>
			</div>
			<div class="row">
				<div class="col-md-6">
					<dl class="row" v-if="addrmakeBlock(vm.jalan)">
						<dt class="col-sm-4">{{ addrmakeKey(vm.jalan, 'jalan') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(vm.jalan) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(vm.komp)">
						<dt class="col-sm-4">{{ addrmakeKey(vm.komp, 'Komplek / Kampung') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(vm.komp) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(vm.no)">
						<dt class="col-sm-4">{{ addrmakeKey(vm.no, 'Nomor') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(vm.no) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(vm.rt)">
						<dt class="col-sm-4">{{ addrmakeKey(vm.rt, 'RT') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(vm.rt) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(vm.rw)">
						<dt class="col-sm-4">{{ addrmakeKey(vm.rw, 'RW') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(vm.rw) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(vm.namakelurahan)">
						<dt class="col-sm-4">{{ addrmakeKey(vm.namakelurahan, 'Kelurahan') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(vm.namakelurahan) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(vm.namakecamatan)">
						<dt class="col-sm-4">{{ addrmakeKey(vm.namakecamatan, 'Kecamatan') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(vm.namakecamatan) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(vm.namakota)">
						<dt class="col-sm-4">{{ addrmakeKey(vm.namakota, 'Kota') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(vm.namakota) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(vm.namaprovinsi)">
						<dt class="col-sm-4">{{ addrmakeKey(vm.namaprovinsi, 'Provinsi') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(vm.namaprovinsi) }}</dd>
		      </dl>
		      <dl class="row" v-if="addrmakeBlock(vm.kodepos)">
						<dt class="col-sm-4">{{ addrmakeKey(vm.kodepos, 'Kode Pos') }}</dt>
						<dd class="col-sm-8">{{ addrmakeVal(vm.kodepos) }}</dd>
		      </dl>
		      <dl class="row">
		      	<dt class="col-md-12">
		      		<button class="btn btn-primary btn-block" @click="editAlamatUtama(vm)" :disabled="ubahAlamatstate(7001, vm.id)">ubah alamat lain {{ index + 1 }}</button>
		      	</dt>
		      </dl>
		      <dl class="row">
		      	<dt class="col-md-12">
		      		<button class="btn btn-primary btn-block"  @click="alamatDefault(vm, index)" :disabled="ubahAlamatstate(7001, vm.id)">jadikan alamat lain {{ index + 1 }} menjadi alamat utama</button>
		      	</dt>
		      </dl>
				</div>
				<div class="col-md-6">
					<template v-for="vm2 in vm.kontak" >
			    	<dl class="row">
							<dt class="col-sm-3">{{ vm2.tipekontak }}</dt>
							<dd class="col-sm-4">{{ vm2.kontakvalue }}</dd>
							<dd class="col-sm-5"><button class="btn btn-primary btn-block">ubah kontak</button></dd>
			      </dl>
		    	</template>
		    	<dl class="row">
	    			<dt class="col-md-12">
	    				<button class="btn btn-primary btn-block">tambah kontak pada alamat lain {{ index + 1}}</button>
	    			</dt>
	    		</dl>
				</div>
			</div>
	  </address>
	  <hr>
	  <div class="row">
		  <div class="col-md-12">
		  	<button class="btn btn-block btn-primary btn-outline" @click="tambahAlamat()" :disabled="tambahAlamatState(7002)">tambah alamat lain</button>
		  </div>
	  </div>
	  <b-modal ref="modalAlamatUtama" title="Perubahan Data Alamat" ok-title="Simpan" cancel-title="Batal" size="lg" @hidden="closeEditAlamat()" :ok-disabled="al.cabangp2tel === null" @ok="postalamat(7001)">
	  	<div class="alert alert-warning" role="alert" v-if="al.default === 1">
        <i class="fa fa-warning"></i> Perubahan alamat utama, dapat mengakibatkan <strong>mutasi cabang!</strong>
      </div>
			<div class="row form-type-line">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-3"><label for="">Jalan</label></div>
						<div class="col-md-9"><b-form-input v-model="al.jalan" type="text" class="form-control-sm"></b-form-input></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Komplek</label></div>
						<div class="col-md-9"><b-form-input v-model="al.komp" type="text" class="form-control-sm"></b-form-input></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Blok</label></div>
						<div class="col-md-9"><b-form-input v-model="al.blok" type="text" class="form-control-sm"></b-form-input></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">No</label></div>
						<div class="col-md-9"><b-form-input v-model="al.no" type="text" class="form-control-sm"></b-form-input></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">RT</label></div>
						<div class="col-md-9"><b-form-input v-model="al.rt" type="text" class="form-control-sm"></b-form-input></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">RW</label></div>
						<div class="col-md-9"><b-form-input v-model="al.rw" type="text" class="form-control-sm"></b-form-input></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-3"><label for="">Provinsi</label></div>
						<div class="col-md-9"><b-form-select size="sm" v-model="al.kodeProvinsi" :options="dataProvinsi" class="mb-3" value-field="ID" text-field="_nama_provinsi" @input="changeProv()"></b-form-select></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Kota / Kabupaten</label></div>
						<div class="col-md-9"><b-form-select size="sm" v-model="al.kodeKota" :options="dataKota" class="mb-3" value-field="ID" text-field="_nama_kota" @input="changeKota()"></b-form-select></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Kecamatan</label></div>
						<div class="col-md-9"><b-form-select size="sm" v-model="al.kodeKecamatan" :options="dataKecamatan" class="mb-3" value-field="kecamatanID" text-field="namaKecamatan" @input="changeKecamatan()"></b-form-select></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Kelurahan</label></div>
						<div class="col-md-9"><b-form-select size="sm" v-model="al.kodeKelurahan" :options="dataKelurahan" class="mb-3" value-field="ID" text-field="_nama_kelurahan" @input="changeKelurahan()"></b-form-select></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Kodepos</label></div>
						<div class="col-md-9"><p>{{ al.kodepos }}</p></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Kode P2TEL</label></div>
						<div class="col-md-9"><p>{{ al.cabangp2tel }}</p></div>
					</div>
				</div>
			</div>
			<pre>{{ al }}</pre>
	  </b-modal>
	  <b-modal ref="modalAlamatDefault" :title="titleModalAlamatDefault" ok-title="Simpan" cancel-title="Batal" @ok="postalamat(7003)">

	  </b-modal>
	  <b-modal ref="modalTambahAlamat" title="Tambah Alamat Baru" ok-title="Simpan" cancel-title="Batal" size="lg" @hidden="closeEditAlamat()" :ok-disabled="al.cabangp2tel === null" @ok="postalamat(7002)">
	  	<div class="alert alert-warning" role="alert" v-if="al.default === 1">
        <i class="fa fa-warning"></i> Perubahan alamat utama, dapat mengakibatkan <strong>mutasi cabang!</strong>
      </div>
			<div class="row form-type-line">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-3"><label for="">Jalan</label></div>
						<div class="col-md-9"><b-form-input v-model="al.jalan" type="text" class="form-control-sm"></b-form-input></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Komplek</label></div>
						<div class="col-md-9"><b-form-input v-model="al.komp" type="text" class="form-control-sm"></b-form-input></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Blok</label></div>
						<div class="col-md-9"><b-form-input v-model="al.blok" type="text" class="form-control-sm"></b-form-input></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">No</label></div>
						<div class="col-md-9"><b-form-input v-model="al.no" type="text" class="form-control-sm"></b-form-input></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">RT</label></div>
						<div class="col-md-9"><b-form-input v-model="al.rt" type="text" class="form-control-sm"></b-form-input></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">RW</label></div>
						<div class="col-md-9"><b-form-input v-model="al.rw" type="text" class="form-control-sm"></b-form-input></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-3"><label for="">Provinsi</label></div>
						<div class="col-md-9"><b-form-select size="sm" v-model="al.kodeProvinsi" :options="dataProvinsi" class="mb-3" value-field="ID" text-field="_nama_provinsi" @input="changeProv()"></b-form-select></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Kota / Kabupaten</label></div>
						<div class="col-md-9"><b-form-select size="sm" v-model="al.kodeKota" :options="dataKota" class="mb-3" value-field="ID" text-field="_nama_kota" @input="changeKota()"></b-form-select></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Kecamatan</label></div>
						<div class="col-md-9"><b-form-select size="sm" v-model="al.kodeKecamatan" :options="dataKecamatan" class="mb-3" value-field="kecamatanID" text-field="namaKecamatan" @input="changeKecamatan()"></b-form-select></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Kelurahan</label></div>
						<div class="col-md-9"><b-form-select size="sm" v-model="al.kodeKelurahan" :options="dataKelurahan" class="mb-3" value-field="ID" text-field="_nama_kelurahan" @input="changeKelurahan()"></b-form-select></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Kodepos</label></div>
						<div class="col-md-9"><p>{{ al.kodepos }}</p></div>
					</div>
					<div class="row">
						<div class="col-md-3"><label for="">Kode P2TEL</label></div>
						<div class="col-md-9"><p>{{ al.cabangp2tel }}</p></div>
					</div>
				</div>
			</div>
			<pre>{{ al }}</pre>
	  </b-modal>
	</div>
</template>
<script>
	import { HTTP } from '@/config'
	import * as _ from 'underscore'
	export default {
		props: [ 'alamatutama', 'alamatlain', 'alamatlainlength', 'perubahanAlamat' ],
		data () {
			return {
				al: {

				},
				dataProvinsi: [],
				dataKota: [],
				dataKecamatan: [],
				dataKelurahan: [],
				titleModalAlamatDefault: '',
				dataAlamatDefault: {}
			}
		},
		computed: {
			getKota () {
				return HTTP.get(`masterlokasi/kota/${ this.al.kodeProvinsi }`)
				.then(res => {
					this.dataKota = res.data
				})
			},
			getKecamatan () {
				return HTTP.get(`masterlokasi/kecamatan/${ this.al.kodeKota }`)
				.then(res => {
					this.dataKecamatan = res.data
				})
			},
			getKelurahan () {
				return HTTP.get(`masterlokasi/kelurahan/${ this.al.kodeKecamatan }`)
				.then(res => {
					this.dataKelurahan = res.data
				})
			}
		},
		asyncComputed: {
			getProvinsi () {
				return HTTP.get('masterlokasi')
				.then(res => {
					this.dataProvinsi = res.data
				})
			}
		},
		methods: {
			closeEditAlamat () {
				this.al = {}
			},
			changeProv () {
				this.al.kodeKota = null
				this.al.kodeKecamatan = null
				this.al.kodeKelurahan = null
				this.al.kodepos = null
				this.al.cabangp2tel = null
				this.getKota
			},
			changeKota () {
				this.getKecamatan
			},
			changeKecamatan () {
				this.getKelurahan
			},
			changeKelurahan () {
				this.al.kodepos = _.where(this.dataKelurahan, { ID: this.al.kodeKelurahan })[0]._kode_pos
				this.al.cabangp2tel = _.where(this.dataKelurahan, { ID: this.al.kodeKelurahan })[0]._tbl_cabang_p2tel
			},
			editAlamatUtama (data) {
				this.al = data
				this.getKota
				this.getKecamatan
				this.getKelurahan
				this.$refs.modalAlamatUtama.show()
			},
			postalamat (kode) {
				if (kode === 7001) {
					HTTP.post('perubahan/alamat', {
						token: this.$store.state.login.token,
						id_alamat: this.al.id,
						jalan: this.al.jalan,
						komp: this.al.komp,
						blok: this.al.blok,
						no: this.al.no,
						rt: this.al.rt,
						rw: this.al.rw,
						id_pmp: (this.al.id).split('.')[0].concat((this.al.id).split('.')[1]),
						kelurahan_id: this.al.kodeKelurahan,
						default: this.al.default,
						_no_urut_alamat: (this.al.id).split('.')[2],
						kode: kode

					}).then(res => { location.reload() })
				} else if(kode === 7002) {
					HTTP.post('perubahan/alamat', {
						token: this.$store.state.login.token,
						id_alamat: this.al.id,
						jalan: this.al.jalan,
						komp: this.al.komp,
						blok: this.al.blok,
						no: this.al.no,
						rt: this.al.rt,
						rw: this.al.rw,
						id_pmp: this.al.id_pmp,
						kelurahan_id: this.al.kodeKelurahan,
						default: this.al.default,
						kode: kode

					}).then(res => { location.reload() })
				} else if (kode === 7003) {
					HTTP.post('perubahan/alamat', {
						token: this.$store.state.login.token,
						id_alamat: this.dataAlamatDefault.id,
						id_pmp: (this.dataAlamatDefault.id).split('.')[0].concat((this.dataAlamatDefault.id).split('.')[1]),
						kode: kode

					}).then(res => { location.reload() })
				}
			},
			ubahAlamatstate (kode, id) {
				return _.where(this.perubahanAlamat, { id_alamat: id }).length !== 0 ? true : false
			},
			tambahAlamatState (kode) {
				return _.where(this.perubahanAlamat, { kode_laporan: kode }).length !== 0 ? true : false
			},
			alamatDefault (vm, index) {
				this.titleModalAlamatDefault = `Jadikan alamat lain ${ index + 1} menjadi alamat utama`
				this.dataAlamatDefault = vm
				this.$refs.modalAlamatDefault.show()
			},
			tambahAlamat () {
				this.al = {
					jalan: null,
					komp: null,
					blok: null,
					no: null,
					rt: null,
					rw: null,
					kodeKelurahan: null,
					kodeKecamatan: null,
					kodeKota: null,
					kodeProvinsi: null,
					default: 0,
					cabangp2tel: null,
					id_pmp: this.$route.path.split('/')[2]
				}
				this.$refs.modalTambahAlamat.show()
			},
			addrmakeVal(val) {
				if (val === null || typeof val === 'undefined' || val === '-' || val === '' || val === ' ') {
					return null
				} else {
					return val
				}
			},
			addrmakeBlock(val) {
				if (val === null || typeof val === 'undefined' || val === '-' || val === '' || val === ' ') {
					return false
				} else {
					return true
				}
			},
			addrmakeKey(val, key) {
				if (val === null || typeof val === 'undefined' || val === '-' || val === '' || val === ' ') {
					return null
				} else {
					return key
				}
			}
		}
	}
</script>