<template>
	<div>
		<div class="row">
			<div class="col-md-6">
				<dl class="row">
					<dt class="col-sm-4">Nama</dt>
					<dd class="col-sm-8">{{ data.nama }}</dd>
	      </dl>
	      <dl class="row">
					<dt class="col-sm-4">NIK</dt>
					<dd class="col-sm-8">{{ data.nik }}</dd>
	      </dl>
	      <dl class="row">
					<dt class="col-sm-4">Nomor Ahli Waris</dt>
					<dd class="col-sm-8">{{ data.naw }}</dd>
	      </dl>
	      <dl class="row">
					<dt class="col-sm-4">Kategori</dt>
					<dd class="col-sm-8">{{ data.kategori }}</dd>
	      </dl>
			</div>
			<div class="col-md-6">
				<dl class="row">
					<dt class="col-sm-3">Tanggal Lahir</dt>
					<dd class="col-sm-4">{{ data.tanggal_lahir }}</dd>
	      </dl>
				<dl class="row">
					<dt class="col-sm-3">Nomor KTP</dt>
					<dd class="col-sm-4">{{ data.ktp }}</dd>
	      	<dd class="col-sm-5"><button class="btn btn-primary btn-block btn-xs" v-b-modal.modalKTP :disabled="ubahBiodatastate(6002)">Ubah nomor KTP</button></dd>
	      </dl>
	      <dl class="row">
					<dt class="col-sm-3">NPWP</dt>
					<dd class="col-sm-4">{{ data.npwp }}</dd>
					<dd class="col-sm-5"><button class="btn btn-primary btn-block btn-xs" v-b-modal.modalNPWP :disabled="ubahBiodatastate(6003)">Ubah NPWP</button></dd>
	      </dl>
	      <dl class="row">
					<dt class="col-sm-3">Golongan Darah</dt>
					<dd class="col-sm-4">{{ data.golongan_darah }}</dd>
					<dd class="col-sm-5"><button class="btn btn-primary btn-block btn-xs" v-b-modal.modalGolDarah :disabled="ubahBiodatastate(6004)">Ubah Data Golongan Darah</button></dd>
	      </dl>
	      <dl class="row">
					<dt class="col-sm-3">Agama</dt>
					<dd class="col-sm-4">{{ data.agama_val }}</dd>
					<dd class="col-sm-5"><button class="btn btn-primary btn-block btn-xs" v-b-modal.modalAgama :disabled="ubahBiodatastate(6005)">Ubah Data Agama</button></dd>
	      </dl>
	      <dl class="row">
					<dt class="col-sm-3">Jenis Kelamin</dt>
					<dd class="col-sm-4">{{ gender(data.jenis_kelamin) }}</dd>
					<dd class="col-sm-5"><button class="btn btn-primary btn-block btn-xs" v-b-modal.modalGender :disabled="ubahBiodatastate(6006)">Ubah Data Jenis Kelamin</button></dd>
	      </dl>
			</div>
		</div>
		<b-modal id="modalKTP" title="Perubahan Nomor KTP" ok-title="Simpan" cancel-title="Batal" :ok-disabled="ktpstate" @ok="ubahbiodata(6002, 'ktp', nomorKTP, dokumenKTP)">
	    <b-form-input
				v-model="nomorKTP"
				type="text"
				:placeholder="data.ktp"
				:state="ktpstate"
				:required="true"
	    ></b-form-input>
	    <br>
	    <b-form-file v-model="dokumenKTP" accept=".jpg" :required="true" choose-label="upload KTP"></b-form-file>
	    <b-form-text v-if="ktpstate">
	     <i class="fa fa-warning"></i> Jumlah angka Nomor KTP 16 angka serta lampirkan file ktp
	    </b-form-text>
	  </b-modal>
	  <b-modal id="modalNPWP" title="Perubahan NPWP" ok-title="Simpan" cancel-title="Batal" :ok-disabled="npwpstate" @ok="ubahbiodata(6003, 'npwp', nomorNPWP, dokumenNPWP)">
	    <b-form-input
				v-model="nomorNPWP"
				type="text"
				:placeholder="data.npwp"
				:state="npwpstate"
				:required="true"
	    ></b-form-input>
	    <br>
	    <b-form-file v-model="dokumenNPWP" accept=".jpg" :required="true" choose-label="upload NPWP"></b-form-file>
	    <b-form-text v-if="ktpstate">
	     <i class="fa fa-warning"></i> Jumlah angka NPWP 15 angka serta lampirkan file NPWP
	    </b-form-text>
	  </b-modal>
	  <b-modal id="modalGolDarah" title="Perubahan Data Golongan Darah" ok-title="Simpan" cancel-title="Batal" :ok-disabled="golDarahState(data.golongan_darah, selectedGolDarah)" @ok="ubahbiodatasingle(6004, selectedGolDarah)">
	    <b-form-select v-model="selectedGolDarah" :options="optGolDarah" class="mb-3"></b-form-select>
	  </b-modal>
	  <b-modal id="modalAgama" title="Perubahan Data Agama" ok-title="Simpan" cancel-title="Batal" :ok-disabled="golDarahState(data.agama, selectedAgama)" @ok="ubahbiodatasingle(6005, selectedAgama)">
	    <b-form-select v-model="selectedAgama" :options="optAgama" class="mb-3"></b-form-select>
	  </b-modal>
	  <b-modal id="modalGender" title="Perubahan Data Jenis Kemlamin" ok-title="Simpan" cancel-title="Batal" :ok-disabled="golDarahState(data.jenis_kelamin, selectedGender)" @ok="ubahbiodatasingle(6006, selectedGender)">
	    <b-form-select v-model="selectedGender" :options="optGender" class="mb-3"></b-form-select>
	  </b-modal>
	</div>
</template>
<script>
	import * as _ from 'underscore'
	import { HTTP, HTTPFORM } from '@/config'
	export default {
		props: [ 'data', 'perubahan' ],
		data () {
			return {
				nomorKTP: '',
				dokumenKTP: null,
				nomorNPWP: '',
				dokumenNPWP: null,
				optGolDarah: [
					{ value: 'A', text: 'A'	},
					{ value: 'B', text: 'B'	},
					{ value: 'AB', text: 'AB'	},
					{ value: 'O', text: 'O'	}
				],
				selectedGolDarah: '',
				optAgama: [
					{ value: 1, text: 'Islam'	},
					{ value: 2, text: 'Kristen'	},
					{ value: 3, text: 'Katolik'	},
					{ value: 4, text: 'Hindu'	},
					{ value: 5, text: 'Budha'	},
					{ value: 6, text: 'Konghucu'	}
				],
				selectedAgama: null,
				optGender: [
					{ value: 0, text: 'Pria'	},
					{ value: 1, text: 'Wanita'	}
				],
				selectedGender: null
			}
		},
		computed: {
			ktpstate () {
				return  ( this.nomorKTP.length === 16 && !(_.isNull(this.dokumenKTP)) ) ? false : true
			},
			npwpstate () {
				return  ( this.nomorNPWP.length === 15 && !(_.isNull(this.dokumenNPWP)) ) ? false : true
			}
		},
		methods: {
			golDarahState (ex, sel) {
				return ex === sel ? true : false
			},
			ubahBiodatastate (kode) {
				return _.where(this.perubahan, { kode_laporan: kode }).length !== 0 ? true : false
			},
			ubahbiodata (kode, type, data_perubahan, file) {
				HTTP.post('perubahan/biodata', { id_pmp: this.data.id, data_perubahan: data_perubahan, token: this.$store.state.login.token, kode_laporan: kode })
				.then(res => {
					// TO DO use $emit to forceupdate
					let formData = new FormData()
					formData.append('id_pmp', this.data.id)
					formData.append('type', type)
					formData.append('dokumen', file)
					HTTPFORM.post('upload/dokumen', formData)
					.then(res => {
						location.reload()
					})
				})
			},
			ubahbiodatasingle (kode, data_perubahan) {
				HTTP.post('perubahan/biodata', { id_pmp: this.data.id, data_perubahan: data_perubahan, token: this.$store.state.login.token, kode_laporan: kode })
				.then(res => {
					location.reload()
				})
			},
			gender(i) {
				if (i === null) {
					return '-'
				} else if (i === 0) {
					return 'Pria'
				} else if (i === 1) {
					return 'Wanita'
				}
			}
		}

	}
</script>