<template>
  <inside :username="userdata._username">
      <header class="header bg-dark" style="background-image: url(http://thetheme.io/theadmin/assets/img/gallery/8.jpg)">
        <div class="header-info h-120px mb-0">
          <div class="media align-items-end">
            <img class="avatar avatar-xxxl avatar-bordered " :src="photo" alt="...">
            <div class="media-body">
              <h3 class="text-white opacity-90"><strong>{{ nama }} | {{ nik }}</strong></h3>
              <small class="text-white opacity-80">{{ nama_cabang }}</small><br>

              <b-badge variant="warning" @click="showFormUploadFoto()" style="cursor: pointer"><i class="fa fa-plus"></i> photo</b-badge>

              <b-badge :variant="colorStatus(data.status)">{{ checkStatus(data.status) }}</b-badge>
            </div>
          </div>
        </div>
      <div>
        <b-modal ref="myModalRef" hide-footer title="Form Upload Photo">
          <div class="d-block text-center">
            <b-form-file v-model="photo"  accept=".jpg, .png, .gif, .jpeg" placeholder="Choose a photo..."></b-form-file>
          </div>
          <b-btn class="mt-3" variant="outline-danger" block @click="uploadPhoto">Upload</b-btn>
        </b-modal>
      </div>

      </header>
        <div class="bg-white">
          <data-ulang :status="data.status" :data="datax" :biodata="data" :alamat="alamatutama" :kontak="kontak" :ahliwaris="ahliwaris" :nama_cabang="nama_cabang" :userdata="userdata" :tgl_datul="tgl_datul" :catatan_1="catatan_1" :catatan_2="catatan_2" :catatan_3="catatan_3" :perubahan="perubahan" :perubahan_alamat="perubahanAlamat" :datafr_mandiri="datafr_mandiri" :datafr_aw0="datafr_aw0" :dataawal="dataawal"></data-ulang>
        </div>
  </inside>
</template>
<script>
import inside from '@/layout/inside'
import biodata from './biodata'
import alamat from './alamat'
import dataUlang from './data-ulang'
import { HTTP } from '@/config'
import { HTTPFORM } from '@/config'
import check from '@/util/check-status-datul'
export default {
  components: {
    inside, biodata, alamat, dataUlang
  },
  data () {
    return {
      datax: [],
      data: {},
      nama: '',
      id_pmp: '',
      nik: '',
      nama_cabang: '',
      photo: '',
      biodata: {},
      dataawal: {},
      alamatutama: {},
      alamatlain: [],
      alamatlainlength: null,
      kontak:[],
      perubahan: [],
      perubahanAlamat: [],
      ahliwaris: [],
      datafr_mandiri: 0,
      datafr_aw0: 0,
      userdata: {},
      tgl_datul: {
        v1: null,
        v2: null,
        v3: null
      },
      catatan_1: '',
      catatan_2: '',
      catatan_3: ''
    }
  },
  asyncComputed: {
    getDataPMP () {
      return HTTP.post('pmp', { id_pmp: this.$route.params.id ,token:this.$store.state.login.token})
      .then(res => {
        this.id_pmp = res.data.data.data[0].id
        this.nama = res.data.data.data[0].nama
        this.nik = res.data.data.data[0].nik
        this.nama_cabang = `P2TEL ${ res.data.data.data[0].nama_cabang }`
        this.photo = res.data.data.data[0].photo
        this.biodata = res.data.data.data[0]
        this.perubahan = res.data.data.perubahan
        this.alamatutama = res.data.data.alamatUtama[0]
        this.alamatlain = res.data.data.alamatLain
        this.alamatlainlength = res.data.data.alamatLain.length
        this.perubahanAlamat = res.data.data.perubahanAlamat
        this.kontak = res.data.data.kontak
        // this.biodata.nik = res.data.data.data[0].nik
        // this.biodata.naw = res.data.data.data[0].naw
        // this.biodata.ktp = res.data.data.data[0].ktp
        this.data = res.data.data.data[0]
        this.datax = res.data.data
        this.ahliwaris = res.data.data.ahliwaris
        this.dataawal = res.data.data.data_awal[0]

        this.tgl_datul.v1 = res.data.data.data[0].tgl_datul_1
        this.tgl_datul.v2 = res.data.data.data[0].tgl_datul_2
        this.tgl_datul.v3 = res.data.data.data[0].tgl_datul_3

        this.catatan_1 = JSON.parse(res.data.data.data[0].catatan_1)
        this.catatan_2 = JSON.parse(res.data.data.data[0].catatan_2)
        this.catatan_3 = JSON.parse(res.data.data.data[0].catatan_3)
		
        this.datafr_mandiri = JSON.parse(res.data.data.datafr_mandiri)
        this.datafr_aw0 = JSON.parse(res.data.data.datafr_aw0)
      })
    }
  },
  methods: {
    checkStatus (i) {
      if((this.$store.state.login.user_level === 5)||(this.$store.state.login.tbl_cabang_petugas === 69)||(this.$store.state.login.user_level === 1)||(this.$store.state.login.user_level === 4)){
        if (i === 1){
          return check(i)
        } else if (i === 2){
          return check(1)
        } else {
          return check(i)
        }
      } else {
        return check(i)
      }
      
    },
    showFormUploadFoto() {
      this.$refs.myModalRef.show()
    },
    uploadPhoto () {
      let formData = new FormData()
      formData.append('id_pmp', this.id_pmp)
      formData.append('photo_profile', this.photo)
      HTTPFORM.post('/upload/photo', formData)
      .then((res) => {
        location.reload()
      })
    },
    colorStatus(i){
      if (i === 1) {
        return 'success'
      } else if (i === 2) {
        return 'success'
      } else if (i === 3) {
        return 'warning'
      } else if (i === 4) {
        return 'primary'
      } else if (i === 5) {
        return ''
      }
    },
    newPhoto () {
      console.log('123')
    }
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      this.userdata = res.data.data
    })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {

        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style scoped>
header {
  margin-bottom: 0;
}
.modal-content{
	background-color: white !important;
}
</style>
