<div id="app">
  <!-- default -->
  <b-form-valid-feedback ref="default" id="default">default</b-form-valid-feedback>
  <!-- tag -->
  <b-form-valid-feedback ref="tag" tag="small" id="tag">tag</b-form-valid-feedback>
  <!-- show -->
  <b-form-valid-feedback ref="show" force-show id="show">force show</b-form-valid-feedback>
</div>
