<div id="app">
  <!-- default -->
  <b-form ref="default">default</b-form>
  <br>
  <b-form ref="inline" inline>inline</b-form>
  <br>
  <b-form ref="browser" novalidate>browser</b-form>
  <br>
  <b-form ref="validated" validated>validation</b-form>
</div>
