<div id="app">
    <!-- default -->
    <b-form-text ref="default" id="default">default</b-form-text>
    <br>
    <!-- custom tag -->
    <b-form-text tag="p" ref="custom">custom</b-form-text>
    <br>
    <!-- text variant -->
    <b-form-text text-variant="danger" ref="variant">variant</b-form-text>
    <br>
    <!-- inline -->
    <b-form-text inline ref="inline">inline</b-form-text>
</div>
