<template>
  <inside :username="username">
    <template slot="header">
      <header class="header bg-dark">
          <div class="header-info">
            <div class="left">
              <h2 class="header-title text-white"><strong>Total Petugas P2Tel</strong> - {{ totalListUser }}</h2>
              
            </div>

          </div>
        </header>
    </template>
    <template slot>
      
      <b-tabs>
        <b-tab title="List P2tel" :busy="busy" active>
          <div class="col-md-4">
            <form class="lookup lookup-sm">
              <input type="text" placeholder="Filter..." v-model="filter">
            </form>
          </div>
          <b-table striped hover :items="items" :fields="fields" :per-page="perPage" :current-page="currentPage" :filter="filter">
            <template slot="action" scope="row">
              <button class="btn btn-label btn-danger btn-xs" @click="btnEditPassword(row.item.username,row.item.nik,row.item.nama)"><label><i class="ti-close"></i></label> Edit Password</button>
            </template>  
          </b-table>
          <b-pagination  align="center" size="md" :total-rows="totalListUser" v-model="currentPage" :per-page="perPage">
          </b-pagination>
        </b-tab>
      </b-tabs>
    </template>
    <b-modal ref="editPassword" hide-footer title="Edit Password">
      <div class="d-block text-center">
        
        <p>{{ edited_nik }} - {{ edited_nama }}</p>
        
        <div class="form-group">
          <label for="input-normal">Password baru</label>
          <input type="text" class="form-control"  placeholder="Password Baru" v-model="passwordBaru">
        </div>
      </div>
      
        <b-btn class="col-md-6" align="right" variant="outline-danger" block @click="postEditPassword()">Update</b-btn>
      
    </b-modal>
  </inside>
</template>
<script>
import * as _s from 'underscore.string'
import inside from '@/layout/inside'
import  FileSaver from 'file-saver'
import { HTTP, HTTPEXCEL } from '@/config'
export default {
  components: {
    inside,
  },
  data () {
    return {
      userData: {},
      username: '',
      busy: true,
      totalListUser:null,
      currentPage:1,
      perPage:10,

      filter:null,
      edited_id:null,
      edited_nik:null,
      edited_nama:null,
      passwordBaru:null,

      fields: [ 
        {
          key:'NIK',
          label: 'NIK',
          sortable:true
        },
        {
          key:'Nama',
          label: 'Nama',
          sortable:true
        },
        {
          key:'Posisi',
          label: 'Posisi',
          sortable:true
        },
        {
          key:'Nama_Cabang',
          label: 'Cabang P2tel',
          sortable:true
        },
        {
          key:'id_cabang',
          label: 'ID Cabang P2tel',
          sortable:true
        },
        
        // {
        //   key:'action',
        //   label: '',
        //   sortable:true
        // },
      ],
      items: [
        
      ]
    }
  },
  computed: {
    
  },
  methods: {
    btnEditPassword(username,nik,nama){
      this.$refs.editPassword.show()
      this.edited_id = username
      this.edited_nik = nik
      this.edited_nama = nama
      
    },
    hideModal () {
      this.$refs.editPassword.hide()
    },
    postEditPassword(){
      HTTP.post('mobile-config/edit-password', { token: this.$store.state.login.token, username:this.edited_id, password:this.passwordBaru })
      .then(res => {
        location.reload()
      })
    }
  },
  asyncComputed: {
    
  },
  beforeMount () {
    
      HTTP.post('admin/p2tel-list', { token: this.$store.state.login.token, status: null })
      .then(res => {
        this.items = res.data.data
        this.totalListUser = res.data.data.length
        this.busy = false
      })
    
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          next('/p2tel/user-list')
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style scoped>
.header {
  margin-bottom: 0 !important;
}
.btn{
  margin: 5px;
}
</style>
