<div id="app">
  <b-button-close ref="default"></b-button-close>
  <b-button-close ref="slot">close</b-button-close>
  <b-button-close ref="disabled" disabled></b-button-close>
  <b-button-close ref="variant" text-variant="primary"></b-button-close>
  <b-button-close ref="handlers" @click="handleClick"></b-button-close>
  <b-button-close ref="handlersDisabled" disabled @click="handleClick"></b-button-close>
</div>
