<template>
  <div>
    <sidebar></sidebar>
    <!-- Topbar -->
    <header class="topbar">
      <div class="topbar-left">
        <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>
      </div>
      <div class="topbar-left">
<!--         <div class="lookup lookup-md">
            <input type="text" placeholder="Search..." >
          </div> -->
      </div>

      <div class="topbar-right">
        <ul class="topbar-btns">
          <li class="dropdown">
            <span class="topbar-btn" data-toggle="dropdown"><img class="avatar" src="../assets/img/avatar/1.jpg" alt="..."></span>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" @click="doLogout()"><i class="ti-power-off"></i> Logout</a>
            </div>
          </li>

          <!-- Notifications -->

          <!-- END Notifications -->

          <!-- Messages -->
          <!-- END Messages -->

        </ul>
        <span>{{ doGreet }}, {{ this.$store.state.header_name.nama_lengkap }} ({{ this.$store.state.header_name.nik_user }})</span>
      </div>
    </header>
    <!-- END Topbar -->
    <!-- END Topbar -->
    <!-- Main container -->
    <main>
      <slot name="header"></slot>
      <div class="main-container">



            <slot></slot>



      </div><!--/.main-content -->



    </main>
    <!-- END Main container -->

  </div>
</template>
<script>
import Sidebar from '@/components/sidebar-rev'
import greeting from '@/util/greeting'
export default {
  components: {
    Sidebar
  },
  props: [ 'username', 'nama_lengkap' ],
  computed: {
    doGreet() {
      return greeting()
    }
  },
  methods: {
    doLogout() {
      window.localStorage.clear()
      this.$store.commit('setlogin', {
        token: '',
        data: ''
      })
      
      this.$router.push('/')
    }
  }
}
</script>
<style>
main {
  padding-top: 64px;
  min-height: 100vh;
}
</style>
