<div id="app">
    <h3>Example heading
        <b-badge ref="no_props">New</b-badge>
    </h3>
    <h4>Example heading
        <b-badge variant="primary">New</b-badge>
    </h4>
    <h5>Example heading
        <b-badge pill
                 ref="badge_pill"
                 variant="success">New</b-badge>
    </h5>
    <p v-for="variant in variants" :key="variant">
        <b-badge :variant="variant"
                 :ref="`badge_${variant}`">{{ variant }}</b-badge>
    </p>
</div>
