<template>
  <inside>
    <p>Daftar Berita</p>
  </inside>
</template>
<script>
import inside from '@/layout/inside'
export default {
  components: {
    inside
  }
}
</script>
<style>

</style>
