<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <style>
  html,body {
  background-color: white;
}
html {
  zoom: 0.75
}
.page {
  position: relative;
  height: 287mm;
  width: 210mm;
  background-color: white;
}

.page-wrapper {
	margin: 7mm 12.7mm;
}

.header {
	border-bottom: 2px solid #A43019;
}

.logo-dapen  {
	display: inline-block;
}
.header-text {
	display: inline-block;
	font-family: 'Open Sans';
}
.header-text-judul {

}

.header-text-tag {
	font-size: 12px;
	line-height: 8px;
	font-weight: bold;
}

.header-text-content {
	font-size: 12px;
	line-height: 2px;
}

.judul-report {
	border-bottom: 1px dotted #A43019;
	padding-bottom: 0px;
}

.judul-report > h4 {
	text-align: center;
	text-transform: uppercase;
	color: grey;
	font-family: 'Open Sans';
	letter-spacing: 1px;
	margin:10px;
}

.report-body {
	margin-top: 20px;
	padding-bottom: 20px;
	font-family: 'Open Sans';
	border-bottom: 2px solid #A43019;
}

.report-body tr {
	line-height: 40px;
	font-size: 13px;
}

.report-body tr td:first-child {
	font-weight: bold;
	background-color: #949494;
	color: white;
	padding: 0 20px;
}

.report-keterangan {
	font-family: 'Open Sans';
	border-bottom: 2px solid #A43019;
}

.report-keterangan p {
	font-size: 14px;
}
.report-footer {
	font-family: 'Open Sans';
	text-align: center;
	font-size: 13px;
}

</style>
</head>
<body>
	<div class="page">
		<div class="page-wrapper">
			<div class="header">
	    		<img src="/img/logo-black.png" alt="" class="logo-dapen">
	    		<div class="header-text">
	    			<h2 class="header-text-judul">DANA PENSIUN TELKOM</h2>
	    			<p class="header-text-tag">Menjadi Dana Pensiun Pemberi Kerja Terbaik di Indonesia</p>
	    			<p class="header-text-content">Jl. Surapati 151 Bandung 40123</p>
	    			<p class="header-text-content">Telp. 022-2500983 | 022-2500250 <strong>||</strong> Fax. 022-2530296 | 022-2506884 | 022-2530197</p>
	    		</div>
			</div>

			<div class="judul-report">
				<h4><%= judul %> Data Ulang</h4>
			</div>
			<div class="report-body">
				<table>
					<tbody>
						<tr>
							<td>NIK</td>
							<td><%= data[0].nik %></td>
						</tr>
						<tr>
							<td>Nama</td>
							<td><%= data[0].nama %></td>
						</tr>
						<tr>
							<td>Alamat</td>
							<td>
								<p>
									Jl.<%= alamat[0].jalan %> Blok\Gang\Lrg.<%= alamat[0].blok %> No.<%= alamat[0].no %> <br>
									Komp/Kamp.<%= alamat[0].komp %> RT.<%= alamat[0].rt %> RW.<%= alamat[0].rw %> <br>
									Desa/Kelurahan.<%= alamat[0].namakelurahan %> <br>
									Kecamatan.<%= alamat[0].namakecamatan %> <br>
									Kota <%= alamat[0].namakota %> <br>
									Provinsi.<%= alamat[0].namaprovinsi %> <br>
									Kodepos.<%= alamat[0].kodepos %>
                    			</p>
                    		</td>
						</tr>
						<tr>
							<td>Pelaksana Datul</td>
							<td><%= pelaksanaDatul %></td>
						</tr> 
            <tr>
							<td>Tanggal Datul</td>
							<td><%= tglDatul %></td>
						</tr
					</tbody>
				</table>
			</div>
			<div class="report-keterangan">
				<p><strong>Catatan</strong></p>
        <ol>
         <li>Bagi Penerima Manfaat Pensiun, pembayaran Kontraprestasi Data Ulang akan dilakukan pada periode bulan berikutnya</li>
         <li>Terhadap data yang telah diberikan, akan dilakukan konfirmasi lanjutan oleh Dapen Telkom/P2TEL</li>
         <li>Datul Berikutnya di Semester II 2018 (Juli - Desember)</li>
        </ol>
			</div>
		</div>


	</div>
</body>
</html>
