<template>
	<div>
	<div class="col-lg-12">
      <div class="card" v-if="status !== 5">
        <h4 class="card-title"><strong>Progress Data Ulang {{userdata._petugas_ID}}</strong></h4>
        <div class="card-body">
          <div data-provide="wizard">
            <ul class="nav nav-process nav-process-circle">
              <li class="nav-item" :class="checkStatus(4)">
                <span class="nav-title" style="height:70px;">Belum Datul <br> <br></span>
                <a class="nav-link" :class=" status == 4 ? 'active' : null"></a>
                <span>15 Juli 2018</span>
              </li>

              <li class="nav-item" :class="checkStatus(3)">
                <span class="nav-title text-center" style="height:70px;">Sudah Datul <br> Menunggu Konfirmasi P2TEL</span>
                <a class="nav-link" :class=" status == 3 ? 'active' : null"></a>
                <span v-if="tgl_datul.v2 == null && tgl_datul.v3 != ''">{{ tgl_datul.v3 }}</span>
                <span v-else>{{ tgl_datul.v2 }}</span>
              </li>
              
              <li class="nav-item" :class="checkStatus(2)" v-if="!checkUser()">
                <span class="nav-title text-center" style="height:70px;">Sudah Datul <br> Menunggu Konfirmasi Dapentel</span>
                <a class="nav-link" :class=" status == 2 ? 'active' : null"></a>
                <span>{{ tgl_datul.v3 }}</span>
              </li>

              <li class="nav-item" :class="checkStatus(1)" v-if="checkPmpStatus(1)">
                <span class="nav-title" style="height:70px;">Selesai Datul <br><br></span>
                <a class="nav-link" :class=" status == 1 ? 'active' : null"></a>
                <span v-if="checkStatus(1) === 'complete'">{{ tgl_datul.v3 }}</span>
              </li>

              <li class="nav-item" :class="checkStatus(2)" v-if="!checkPmpStatus(2)">
                <span class="nav-title" style="height:70px;">Selesai Datul <br><br></span>
                <a class="nav-link" :class=" status == 2 ? 'active' : null"></a>
                <span v-if="tgl_datul.v2 == null && tgl_datul.v3 != ''">{{ tgl_datul.v3 }}</span>
                <span v-else>{{ tgl_datul.v2 }}</span>
              </li>
            </ul>


            <div class="tab-content">
              <div class="tab-pane fade" :class=" status == 4 ? 'active show' : null">
								<button class="btn btn-primary btn-block" @click="doDatul()">Lakukan Data Ulang</button>
              </div>

              <div class="tab-pane fade" :class=" status == 3 ? 'active show' : null">
                <button class="btn btn-primary btn-block" @click="doDatul()" v-if="userdata.ref_user_level === 5">Konfirmasi Data Ulang</button>
                <button class="btn btn-primary btn-block" @click="doDatul()" v-if="userdata._petugas_ID !== 1" disabled>Menunggu Konfirmasi P2TEL</button>
                <button class="btn btn-primary btn-block" @click="cetakBukti()" v-if="(userdata._petugas_ID !== 1 && userdata.ref_user_level !== 5) || userdata._petugas_ID === 1">Cetak Bukti Konfirmasi</button>
              </div>

              <div class="tab-pane fade" :class=" status == 2 ? 'active show' : null">
                <button class="btn btn-primary btn-block" @click="cetakBukti()" v-if="userdata.ref_user_level === 5">Cetak Bukti Konfirmasi</button>
                <button class="btn btn-primary btn-block" @click="doDatul()" v-if="userdata._petugas_ID === 1 && userdata.tbl_cabang_petugas !== 69">Konfirmasi Data Ulang</button>
                <button class="btn btn-primary btn-block" @click="cetakBukti()" v-if="userdata._petugas_ID !== 1 && userdata.ref_user_level !== 5">Cetak Bukti Konfirmasi</button>
                <button class="btn btn-primary btn-block" @click="cetakBukti()" v-if="userdata.tbl_cabang_petugas === 69">Cetak Bukti Datul</button>
              </div>

              <div class="tab-pane fade" :class=" status == 1 ? 'active show' : null">
                <button class="btn btn-primary btn-block" @click="cetakBukti()">Cetak Bukti Datul</button>
              </div>
            </div>

            <hr>
          </div>
        </div>
      </div>
    </div>
	  <b-modal ref="modalDataUlang" title="Data Ulang" class="mb-3" modal-extra-class="modal-fill" no-close-on-esc no-close-on-backdrop hide-header-close>
			<div class="row">
				<div class="col-md-12">
  				<ul class="nav nav-process nav-process-circle">
            <li class="nav-item" :class="checkProses(1)">
              <span class="nav-title">Silaturahmi PMP</span>
              <a class="nav-link"></a>
            </li>

            <li class="nav-item" :class="checkProses(2)">
              <span class="nav-title">Data Diri</span>
              <a class="nav-link"></a>
            </li>

            <li class="nav-item" :class="checkProses(3)">
              <span class="nav-title">Alamat</span>
              <a class="nav-link"></a>
            </li>

  					<li class="nav-item" :class="checkProses(4)">
              <span class="nav-title">Kontak</span>
              <a class="nav-link"></a>
            </li>

            <li class="nav-item" :class="checkProses(5)">
              <span class="nav-title">Ahliwaris</span>
              <a class="nav-link"></a>
            </li>

            <li class="nav-item" :class="checkProses(6)">
              <span class="nav-title">Upload Bukti</span>
              <a class="nav-link"></a>
            </li>

            <li class="nav-item" :class="checkProses(7)">
              <span class="nav-title">Selesai</span>
              <a class="nav-link"></a>
            </li>
          </ul>
		    </div>
        <div class="col-md-12">
          <template v-if="proses === 1">
            <div class="border p-20 pl-30 pr-30">
              <div class="form-group mb-0" v-if="userdata._petugas_ID === 1 || userdata.ref_user_level === 5">
                <label><b>Cara Silaturahmi Datul</b></label>
                <b-form-select v-model="datul.verifikasi.cara.new_value" :options="filterOptionP2tel(datul.verifikasi.cara.options)" class="mb-3" size="sm"></b-form-select>
              </div>
              <div class="form-group mb-0" v-if="userdata._petugas_ID !== 1 && userdata.ref_user_level !== 5">
                <b-form-radio-group id="radios2">
                  <b-form-radio @click.native="datul.verifikasi.cara.new_value = 4" value="PMP Datang">PMP Datang ke Bank</b-form-radio>
                  <b-form-radio @click.native="datul.verifikasi.cara.new_value = 5" value="P2Tel datang ke Bank">P2Tel datang ke Bank</b-form-radio>
                </b-form-radio-group>
                <label><b>Cara Silaturahmi Datul</b></label>
                <b-form-select disabled v-model="datul.verifikasi.cara.new_value" :options="datul.verifikasi.cara.options" class="mb-3" size="sm"></b-form-select>
                <label v-if="datul.verifikasi.cara.new_value === 5">Petugas P2TEL</label>
              </div>
              <!-- {{this.datul.verifikasi.cabang.options}} -->
              <div class="form-group mb-0" v-if="datul.verifikasi.cara.new_value === 5">
                <div class="col-md-6 pull-left">
                  Cabang
                  <b-form-select class="mb-3" v-model="cabang_p2tel" size="sm">
                    <option v-for="cabang in list_cabang" :value="cabang.nama_cabang">{{ cabang.nama_cabang }}</option>
                  </b-form-select>

                  </b-form-select>
                </div>
                <div class="col-md-6 pull-right">
                  Nama
                  <b-form-select v-model="datul.verifikasi.petugas.new_value" :options="filterOptionCabang(datul.verifikasi.petugas.options)" class="mb-3" size="sm"></b-form-select>
                </div>
              </div>
              <!-- dapen -->
              <div class="form-group mb-2" v-if="userdata._petugas_ID === 1">
                <label>Petugas</label>
                <b-form-input disabled v-model="datul.verifikasi.petugas.new_value"></b-form-input>
              </div>
              <!-- xxx -->

              <!-- p2tel -->
              <div class="form-group mb-2" v-if="userdata.ref_user_level === 5">
                <label>Petugas</label>
                <b-form-select v-model="datul.verifikasi.petugas.new_value" :options="datul.verifikasi.petugas.options" class="mb-3" size="sm"></b-form-select>
              </div>
              <!-- xxx -->

              <!-- bank -->
              <div class="form-group mb-2" v-if="userdata._petugas_ID !== 1 && userdata.ref_user_level !== 5">
                <label>Petugas Bank</label>
                <b-form-input readonly v-model="userdata._username"></b-form-input>
              </div>
              <!-- xxx -->

              <div class="form-group mb-2">
                <label>Waktu Silaturahmi Datul</label>
                <datepicker v-model="datul.verifikasi.waktu.new_value" input-class="form-control" calendar-class="datepicker-days" language="id" format="d MMMM yyyy" :disabled="disabledWaktuSilaturahmi"></datepicker> <!-- :disabled="disabledWaktuSilaturahmi" -->
                <!-- <b-form-input v-model="datul.verifikasi.waktu.new_value" class="mb-3" size="sm" type="date"></b-form-input> -->
              </div>
              <p class="mb-2">Catatan Lain</p>
              <b-alert show v-if="status===1 && checkProses(1) && catatan_1!=null">{{ catatan_1.silaturahmi }}</b-alert>
              <b-alert show v-if="status===2 && checkProses(1) && catatan_2!=null">{{ catatan_2.silaturahmi }}</b-alert>
              <b-alert show v-if="status===3 && checkProses(1) && catatan_3!=null">{{ catatan_3.silaturahmi }}</b-alert>
              <b-form-textarea
                 v-model="catatan.silaturahmi"
                 placeholder="...."
                 :rows="3"
                 :max-rows="6">
              </b-form-textarea>
            </div>
          </template>
          <template v-if="proses === 2">
            <div class="border p-20 pl-30 pr-30">
              <p style="color: #265299">Lakukan verifikasi dengan memilih benar/salah. Jika Anda memilih salah, maka isikan data yang benar dan siapkan file pendukung (scan / foto untuk di upload nantinya)</p>
              <div class="row">
                <div class="col-md-5">
                  <dl class="row mb-1">
                    <dt class="col-sm-5">Nama</dt>
                    <dd class="col-sm-7">{{ biodata.nama }}</dd>
                  </dl>
                  <dl class="row mb-1">
                    <dt class="col-sm-5">NIK</dt>
                    <dd class="col-sm-7">{{ biodata.nik }}</dd>
                  </dl>
                  <dl class="row mb-1">
                    <dt class="col-sm-5">Nomor Ahli Waris</dt>
                    <dd class="col-sm-7">{{ biodata.naw }}</dd>
                  </dl>
                  <dl class="row mb-1">
                    <dt class="col-sm-5">Kategori</dt>
                    <dd class="col-sm-7">{{ biodata.kategori }}</dd>
                  </dl>
                </div>

                <div class="col-md-7">
                  <dl class="row mb-1">
                    <dt class="col-sm-3">Tanggal Lahir</dt>
                    <dd class="col-sm-4">{{ biodata.tanggal_lahir }}</dd>
                  </dl>
                  <dl class="row mb-1">
                    <!--dt class="col-sm-12">
                      <b-btn v-b-toggle.collapsektp variant="primary">Lihat KTP</b-btn>
                      <b-collapse id="collapsektp" class="mt-2">
                        <b-card>
                          <img class="" v-if="biodata.ktp_attch!=null" :src="biodata.ktp_attch" alt="...">
                        </b-card>
                      </b-collapse>
                    </dt-->
                    <dt class="col-sm-3">KTP / Nomor Identitas Kependudukan</dt>
                    <dd class="col-sm-4">{{ checkDataPerubahanDataDiri(biodata.ktp, perubahanDataDiri.ktp) }}</dd>
                    <dd class="col-sm-5">
                      <b-form-radio-group v-model="datul.biodata.ktp.confirm" :options="options"></b-form-radio-group>
                    </dd>
                    <dd class="col-sm-12" v-if="perubahanDataDiri.ktp !== null"><span class="text-info"> KTP sebelum perubahan : {{ alamatBlank(biodata.ktp) }}</span></dd>
                    <dd class="col-sm-12"><span class="text-info"><i class="fa fa-warning"></i> Harus Tersedia</span></dd>
                    <dd class="col-sm-12">
                      <b-form-input type="number" v-if="datul.biodata.ktp.confirm" v-model="datul.biodata.ktp.new_value" onkeydown="javascript: return event.keyCode == 69 ? false : true"></b-form-input>
                      <b-form-text v-if="datul.biodata.ktp.confirm">
                         <span class="text-danger"><i class="fa fa-warning"></i> Jumlah angka Nomor KTP 16 angka</span>
                      </b-form-text>
                    </dd>
                  </dl>
                  <dl class="row mb-1">
                    <!--dt class="col-sm-12">
                      <b-btn v-b-toggle.collapsenpwp variant="primary">Lihat NPWP</b-btn>
                      <b-collapse id="collapsenpwp" class="mt-2">
                        <b-card>
                          <img class="" v-if="biodata.npwp_attch!=null" :src="biodata.npwp_attch" alt="...">
                        </b-card>
                      </b-collapse>
                    </dt-->
                    <dt class="col-sm-3">NPWP</dt>
                    <dd class="col-sm-4 mb-1">{{ checkDataPerubahanDataDiri(biodata.npwp, perubahanDataDiri.npwp) }}</dd>
                    <dd class="col-sm-5 mb-1">
                      <b-form-radio-group  v-model="datul.biodata.npwp.confirm" :options="options"></b-form-radio-group>
                    </dd>
                    <dd class="col-sm-12" v-if="perubahanDataDiri.npwp !== null"><span class="text-info"> NPWP sebelum perubahan : {{ alamatBlank(biodata.npwp) }}</span></dd>
                    <dd class="col-sm-12">
                      <b-form-input type="number" v-if="datul.biodata.npwp.confirm" v-model="datul.biodata.npwp.new_value" onkeydown="javascript: return event.keyCode == 69 ? false : true"></b-form-input>
                      <b-form-text v-if="datul.biodata.npwp.confirm">
                         <span class="text-danger"><i class="fa fa-warning"></i> Jumlah angka Nomor Pokok Wajib pajak 15 angka</span>
                      </b-form-text>
                    </dd>
                  </dl>
                  <dl class="row mb-1">
                    <dt class="col-sm-3">Golongan Darah</dt>
                    <dd class="col-sm-4 mb-1">{{ checkDataPerubahanDataDiri(biodata.golongan_darah, perubahanDataDiri.golongan_darah) }}</dd>
                    <dd class="col-sm-5 mb-1">
                      <b-form-radio-group  v-model="datul.biodata.golongan_darah.confirm" :options="options"></b-form-radio-group>
                    </dd>
                    <dd class="col-sm-12" v-if="perubahanDataDiri.golongan_darah !== null"><span class="text-info"> Golongan Darah sebelum perubahan : {{ alamatBlank(biodata.golongan_darah) }}</span></dd>
                    <dd class="col-sm-12">
                      <b-form-select v-if="datul.biodata.golongan_darah.confirm" v-model="datul.biodata.golongan_darah.new_value" :options="optGolDarah" class="mb-3"></b-form-select>
                    </dd>
                  </dl>
                  <dl class="row mb-1">
                    <dt class="col-sm-3">Agama</dt>
                    <dd class="col-sm-4 mb-1">{{ Number(checkDataPerubahanDataDiri(biodata.agama_val, perubahanDataDiri.agama)) }}</dd>
                    <dd class="col-sm-5 mb-1">
                      <b-form-radio-group  v-model="datul.biodata.agama.confirm" :options="options"></b-form-radio-group>
                    </dd>
                    <dd class="col-sm-12" v-if="perubahanDataDiri.agama !== null"><span class="text-info"> Data Agama sebelum perubahan : {{ alamatBlank(religion(biodata.agama_val)) }}</span></dd>
                    <dd class="col-sm-12">
                      <b-form-select v-if="datul.biodata.agama.confirm" v-model="datul.biodata.agama.new_value" :options="optAgama" class="mb-3"></b-form-select>
                    </dd>
                  </dl>
                  <dl class="row mb-1">
                    <dt class="col-sm-3">Jenis Kelamin</dt>
                    <dd class="col-sm-4">{{ checkDataPerubahanDataDiri(gender(biodata.jenis_kelamin), gender(Number(perubahanDataDiri.jenis_kelamin))) }}</dd>
                    <dd class="col-sm-5">
                      <b-form-radio-group  v-model="datul.biodata.jenis_kelamin.confirm" :options="options"></b-form-radio-group>
                    </dd>
                    <dd class="col-sm-12" v-if="perubahanDataDiri.jenis_kelamin !== null"><span class="text-info"> Data Jenis Kelamin sebelum perubahan : {{ alamatBlank(gender( Number(biodata.jenis_kelamin) )) }}</span></dd>
                    <dd class="col-sm-12">
                      <dd class="col-sm-12">
                        <b-form-select v-if="datul.biodata.jenis_kelamin.confirm" v-model="datul.biodata.jenis_kelamin.new_value" :options="optGender" class="mb-3"></b-form-select>
                      </dd>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </template>
          <template v-if="proses === 3">
            <div class="border p-20 pl-30 pr-30">
              <p style="color: #265299">Lakukan verifikasi dengan memilih benar/salah. Jika Anda memilih salah, maka isikan data yang benar</p>

              <div class="row">
                <div class="col-sm-12" v-if="perubahan_alamat.length !== 0">
                  <h6>Data Alamat Perubahan</h6>
                </div>
                <dl class="row mb-1">
                    <dt class="col-sm-3">Check Wilayah</dt>
                    <dd class="col-sm-5">
                      <b-form-radio-group v-model="datul.alamat.wilayah.confirm" :options="options"></b-form-radio-group>
                    </dd>
                  </dl>
                <div class="col-md-6">
                  
                  <dl class="row mb-1">
                    <dt class="col-sm-3">Jalan</dt>
                    <dd class="col-sm-4">{{ perubahanDataAlamat.jalan }}</dd>
                    <dd class="col-sm-5">
                      <b-form-radio-group  v-model="datul.alamat.jalan.confirm" :options="options"></b-form-radio-group>
                    </dd>
                    <dd class="col-sm-12">
                      <b-form-input v-if="datul.alamat.jalan.confirm" v-model="datul.alamat.jalan.new_value"></b-form-input>
                    </dd>
                  </dl>
                  <dl class="row mb-1">
                    <dt class="col-sm-3">Komplek / Kampung</dt>
                    <dd class="col-sm-4">{{ perubahanDataAlamat.komp }}</dd>
                    <dd class="col-sm-5">
                      <b-form-radio-group  v-model="datul.alamat.komp.confirm" :options="options"></b-form-radio-group>
                    </dd>
                    <dd class="col-sm-12">
                      <b-form-input v-if="datul.alamat.komp.confirm" v-model="datul.alamat.komp.new_value" class="mb-3"></b-form-input>
                    </dd>
                  </dl>
                  <dl class="row mb-1">
                    <dt class="col-sm-3">Blok</dt>
                    <dd class="col-sm-4">{{ perubahanDataAlamat.blok }}</dd>
                    <dd class="col-sm-5">
                      <b-form-radio-group  v-model="datul.alamat.blok.confirm" :options="options"></b-form-radio-group>
                    </dd>
                    <dd class="col-sm-12">
                      <b-form-input v-if="datul.alamat.blok.confirm" v-model="datul.alamat.blok.new_value" class="mb-3"></b-form-input>
                    </dd>
                  </dl>
                  <dl class="row mb-1">
                    <dt class="col-sm-3">No</dt>
                    <dd class="col-sm-4">{{ perubahanDataAlamat.no }}</dd>
                    <dd class="col-sm-5">
                      <b-form-radio-group  v-model="datul.alamat.no.confirm" :options="options"></b-form-radio-group>
                    </dd>
                    <dd class="col-sm-12">
                      <b-form-input v-if="datul.alamat.no.confirm" v-model="datul.alamat.no.new_value" class="mb-3"></b-form-input>
                    </dd>
                  </dl>
                  <dl class="row mb-1">
                    <dt class="col-sm-3">RT</dt>
                    <dd class="col-sm-4">{{ perubahanDataAlamat.rt }}</dd>
                    <dd class="col-sm-5">
                      <b-form-radio-group  v-model="datul.alamat.rt.confirm" :options="options"></b-form-radio-group>
                    </dd>
                    <dd class="col-sm-12">
                      <b-form-input v-if="datul.alamat.rt.confirm" v-model="datul.alamat.rt.new_value" class="mb-3"></b-form-input>
                    </dd>
                  </dl>
                  <dl class="row mb-1">
                    <dt class="col-sm-3">RW</dt>
                    <dd class="col-sm-4">{{ perubahanDataAlamat.rw }}</dd>
                    <dd class="col-sm-5">
                      <b-form-radio-group  v-model="datul.alamat.rw.confirm" :options="options"></b-form-radio-group>
                    </dd>
                    <dd class="col-sm-12">
                      <b-form-input v-if="datul.alamat.rw.confirm" v-model="datul.alamat.rw.new_value" class="mb-3"></b-form-input>
                    </dd>
                  </dl>
                </div>
                <div class="col-md-6">
                  <dl class="row mb-1">
                    <dt class="col-sm-3">Check Wilayah</dt>
                    <dd class="col-sm-5">
                      <b-form-radio-group v-model="datul.alamat.wilayah.confirm" :options="options"></b-form-radio-group>
                    </dd>
                  </dl>
                  <template v-if="!datul.alamat.wilayah.confirm">
                    <dl class="row mb-1">
                      <dt class="col-sm-5">Provinsi</dt>
                      <dd class="col-sm-7">{{ perubahanDataAlamat.namaprovinsi }}</dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-5">Kota</dt>
                      <dd class="col-sm-7">{{ perubahanDataAlamat.namakota }}</dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-5">Kecamatan</dt>
                      <dd class="col-sm-7">{{ perubahanDataAlamat.namakecamatan }}</dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-5">Kelurahan</dt>
                      <dd class="col-sm-7">{{ perubahanDataAlamat.namakelurahan }}</dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-5">Kodepos</dt>
                      <dd class="col-sm-7">{{ perubahanDataAlamat.kodepos }}</dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-5">Cabang P2TEL</dt>
                      <dd class="col-sm-7">{{ perubahanDataAlamat.cabangp2tel }}</dd>
                    </dl>
                  </template>
                  <template v-if="datul.alamat.wilayah.confirm">
                    <b-alert show>Perpindahan alamat akan mengakibatkan perpindahan cabang P2TEL</b-alert>

                    <dl class="row mb-1">
                      <dt class="col-sm-5">Provinsi</dt>
                      <dd class="col-sm-7">
                        <b-form-select size="sm" v-model="datul.alamat.provinsi.new_value" :options="dataProvinsi" value-field="ID" text-field="_nama_provinsi" @input="changeProv()"></b-form-select>
                      </dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-5">Kota / Kabupaten</dt>
                      <dd class="col-sm-7">
                        <b-form-select size="sm" v-model="datul.alamat.kota.new_value" :options="dataKota" value-field="ID" text-field="_nama_kota" @input="changeKota()"></b-form-select>
                      </dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-5">Kecamatan</dt>
                      <dd class="col-sm-7">
                       <b-form-select size="sm" v-model="datul.alamat.kecamatan.new_value" :options="dataKecamatan" value-field="kecamatanID" text-field="namaKecamatan" @input="changeKecamatan()"></b-form-select>
                      </dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-5">Kelurahan</dt>
                      <dd class="col-sm-7">
                        <b-form-select size="sm" v-model="datul.alamat.kelurahan.new_value" :options="dataKelurahan"  value-field="ID" text-field="_nama_kelurahan" @input="changeKelurahan()"></b-form-select>
                      </dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-5">Kodepos</dt>
                      <dd class="col-sm-7">{{ datul.alamat.kodepos.new_value }}</dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-5">Kode P2TEL</dt>
                      <dd class="col-sm-7">{{ datul.alamat.cabangp2tel.new_value }}</dd>
                    </dl>
                  </template>
                </div>
                  <hr class="border-info" v-if="perubahan_alamat.length !== 0">
                  <div class="row bl-1 border-info" v-if="perubahan_alamat.length !== 0">
                    <div class="col-sm-12">
                      <h6>Data Alamat Sebelumnya</h6>
                      <p>Jalan {{ alamatBlank(alamat.jalan) }} Komplek/Kampung {{ alamatBlank(alamat.komp) }} Blok {{ alamatBlank(alamat.blok) }} No.{{ alamatBlank(alamat.no) }} RT. {{ alamatBlank(alamat.rt) }}  RW. {{ alamatBlank(alamat.rw) }} <br>Kelurahan {{ alamat.namakelurahan }} Kecamatan {{ alamat.namakecamatan }} Kota {{ alamat.namakota }} Provinsi {{ alamat.namaprovinsi }}</p>
                    </div>
                  </div>
                  <p class="text-danger">Jika PMP an. {{ biodata.nama }} mempunyai alamat lain silahkan tulis dibawah ini</p>
                  <div class="col-sm-12">
                    <b-alert show v-if="status===1 && checkProses(3) && catatan_1!=null">{{ catatan_1.alamat }}</b-alert>
                    <b-alert show v-if="status===2 && checkProses(3) && catatan_2!=null">{{ catatan_2.alamat }}</b-alert>
                    <b-alert show v-if="status===3 && checkProses(3) && catatan_3!=null">{{ catatan_3.alamat }}</b-alert>
                  </div>
                  <b-form-textarea
                     v-model="catatan.alamat"
                     placeholder="...."
                     :rows="3"
                     :max-rows="6">
                  </b-form-textarea>
            </div>

            </div>
          </template>
          <template v-if="proses === 4">
            <div class="border p-20 pl-30 pr-30">
              <p v-if="datul.kontak.length!==0" style="color: #265299">Lakukan verifikasi dengan memilih benar/salah. Jika Anda memilih salah, maka isikan data yang benar</p>
              <div class="row">
                <div class="col-md-8">
                  <dl class="row mb-1" v-for="vm in datul.kontak">
                    <dt class="col-sm-3">{{ vm.tipe }}</dt>
                    <dd class="col-sm-4">{{ vm.old_value }}</dd>
                    <dd class="col-sm-5">
                      <b-form-radio-group  v-model="vm.confirm" :options="options"></b-form-radio-group>
                    </dd>
                    <dd class="col-sm-12">
                      <b-form-input v-if="vm.confirm" v-model="vm.new_value" :type="vm.validation"></b-form-input>
                    </dd>
                  </dl>
                </div>
              </div>
            <p class="text-danger">Jika PMP an. {{ biodata.nama }} mempunyai kontak tambahan silahkan tulis dibawah ini</p>
            <div class="col-sm-12">
            <b-alert show v-if="status===1 && checkProses(4) && catatan_1!=null">{{ catatan_1.kontak }}</b-alert>
            <b-alert show v-if="status===2 && checkProses(4) && catatan_2!=null">{{ catatan_2.kontak }}</b-alert>
            <b-alert show v-if="status===3 && checkProses(4) && catatan_3!=null">{{ catatan_3.kontak }}</b-alert>
          </div>
            <b-form-textarea
                     v-model="catatan.kontak"
                     placeholder="...."
                     :rows="3"
                     :max-rows="6">
                  </b-form-textarea>
            </div>
          </template>
          <template v-if="proses === 5">
            <div class="border p-20 pl-30 pr-30">
              <p v-if="datul.ahliwaris.length!==0" style="color: #265299">Lakukan verifikasi dengan memilih benar/salah. Jika Anda memilih salah, maka isikan data yang benar</p>
              <div class="row mb-1">
                <div class="col-md-12" v-for="vm in datul.ahliwaris">
                  
                  <dl class="row mb-1">
                    <dt class="col-sm-3">Nama</dt>
                    <dd class="col-sm-4">{{ vm.nama.old_value }}</dd>
                  </dl>

                  <dl class="row mb-1">
                    <dt class="col-sm-3">Status Calon PMP:</dt>
                    <dd class="col-sm-4">{{ vm.calon_pmp.old_value }}</dd>
                  </dl>

                  <dl class="row mb-1">
                    <dt class="col-sm-3">Masih Hidup ?</dt>
                    <dd class="col-sm-4">{{  }}</dd>
                    <dd class="col-sm-5"><b-form-radio-group  v-model="vm.tgl_meninggal.confirm" :options="options"></b-form-radio-group></dd>
                    <dd class="col-sm-12">
                      <datepicker v-if="vm.tgl_meninggal.confirm" v-model="vm.tgl_meninggal.new_value" input-class="form-control" calendar-class="datepicker-days" language="id" format="d MMMM yyyy" :disabled="disabled" placeholder="masukan tanggal meninggal"></datepicker>
                    </dd>
                  </dl>
                  <template v-if="!vm.tgl_meninggal.confirm">
                    <dl class="row mb-1" v-if="vm.calon_pmp.old_value === 'Istri' || vm.calon_pmp.old_value === 'Suami'">
                      <dt class="col-sm-3">Status Pernikahan dengan PMP: </dt>
                      <dd class="col-sm-4">Menikah dengan PMP</dd>
                      <dd class="col-sm-5"><b-form-radio-group  v-model="vm.nikah_pmp.confirm" :options="options"></b-form-radio-group></dd>
                      <dd class="col-sm-12">
                        <b-form-select v-if="vm.nikah_pmp.confirm" v-model="vm.nikah_pmp.new_value" :options="optNikahPMP"></b-form-select>
                      </dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-3">KTP</dt>
                      <dd class="col-sm-4">{{ vm.ktp.old_value }}</dd>
                      <dd class="col-sm-5"><b-form-radio-group  v-model="vm.ktp.confirm" :options="options"></b-form-radio-group></dd>
                      <dd class="col-sm-12">
                        <b-form-input v-if="vm.ktp.confirm" v-model="vm.ktp.new_value" type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true"></b-form-input>
                      </dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-3">Agama</dt>
                      <dd class="col-sm-4">{{ religion(vm.agama_id.old_value) }}</dd>
                      <dd class="col-sm-5"><b-form-radio-group  v-model="vm.agama_id.confirm" :options="options"></b-form-radio-group></dd>
                      <dd class="col-sm-12">
                        <b-form-select v-if="vm.agama_id.confirm" v-model="vm.agama_id.new_value" :options="optAgama" class="mb-3"></b-form-select>
                      </dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-3">Golongan Darah</dt>
                      <dd class="col-sm-4">{{ gol_dar(vm.golongan_darah.old_value) }}</dd>
                      <dd class="col-sm-5"><b-form-radio-group  v-model="vm.golongan_darah.confirm" :options="options"></b-form-radio-group></dd>
                      <dd class="col-sm-12">
                        <b-form-select v-if="vm.golongan_darah.confirm" v-model="vm.golongan_darah.new_value" :options="optGolDarah" class="mb-3"></b-form-select>
                      </dd>
                    </dl>
                    <dl class="row mb-1">
                      <dt class="col-sm-3">Jenis Kelamin</dt>
                      <dd class="col-sm-4">{{ gender(vm.jenis_kelamin.old_value) }}</dd>
                      <dd class="col-sm-5"><b-form-radio-group  v-model="vm.jenis_kelamin.confirm" :options="options"></b-form-radio-group></dd>
                      <dd class="col-sm-12">
                        <b-form-select v-if="vm.jenis_kelamin.confirm" v-model="vm.jenis_kelamin.new_value" :options="optGender" class="mb-3"></b-form-select>
                      </dd>
                    </dl>
                  </template>
                  
                  
                  <div class="divider mb-1 mt-0">xxxxxxx</div>
                </div>
                <b-alert v-if="datul.ahliwaris.length===0" show style="width:100%;">Anda tidak mempunyai Calon PMP. <br>Silahkan klik Lanjut.</b-alert>
                <label>Catatan Lain</label>
                <div class="col-sm-12">
                  <b-alert show v-if="status===1 && checkProses(5) && catatan_1!=null">{{ catatan_1.ahliwaris }}</b-alert>
                  <b-alert show v-if="status===2 && checkProses(5) && catatan_2!=null">{{ catatan_2.ahliwaris }}</b-alert>
                  <b-alert show v-if="status===3 && checkProses(5) && catatan_3!=null">{{ catatan_3.ahliwaris }}</b-alert>
                </div>
                <b-form-textarea v-model="catatan.ahliwaris" placeholder="...." :rows="3" :max-rows="6"></b-form-textarea>
              </div>
            </div>
          </template>
          <template v-if="proses === 6">
            <div class="border p-20 pl-30 pr-30">
              <div class="row">
                <div class="col-md-9">
                  <b-form-file v-model="datul.bukti.ktp.data" accept=".jpg" choose-label="upload KTP/KK" v-if="datul.biodata.ktp.confirm"></b-form-file>
                </div>
                <div class="col-md-3" v-if="datul.biodata.ktp.confirm">
                  <b-form-checkbox id="checkbox1"
                         v-model="datul.bukti.ktp.nyusul"
                         value="true">
                         KTP/KK Menyusul
                  </b-form-checkbox>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-9">
                  <b-form-file v-model="datul.bukti.npwp.data" accept=".jpg" choose-label="upload NPWP" v-if="datul.biodata.npwp.confirm"></b-form-file>
                </div>
                <div class="col-md-3" v-if="datul.biodata.npwp.confirm">
                  <b-form-checkbox id="checkbox2"
                         v-model="datul.bukti.npwp.nyusul"
                         value="true">
                         NPWP Menyusul
                  </b-form-checkbox>
                </div>
              </div>

              <p v-if="!datul.biodata.ktp.confirm && !datul.biodata.npwp.confirm" class="text-blue">Tidak terdapat perubahan data a.n {{ biodata.nama }} (NIK. {{ biodata.nik }}), sehingga tidak diperlukan dokumen pendukung untuk diupload, silahkan klik lanjut</p>
            </div>
          </template>
          <template v-if="proses === 7">
            <div class="border p-20 pl-30 pr-30">
              <p>Saya, {{ this.$store.state.header_name.nama_lengkap }} (NIK. {{ this.$store.state.header_name.nik_user }}) <span v-if="userdata.ref_user_level === 5">selaku {{ userdata.Posisi }} {{this.nama_cabang}}</span> menyatakan telah melakukan klarifikasi dan verifikasi PMP atas nama {{ biodata.nama }} ( NIK. {{ biodata.nik }}) dengan sebenar-benarnya dan bertanggung jawab terhadap kebenaran datanya.</p>
              <b-form-checkbox v-model="datul_check_box" value="accepted" unchecked-value="not_accepted"> Setuju</b-form-checkbox>
            </div>
          </template>
        </div>
		  </div>
      <div slot="modal-footer" class="w-100 mb-3">
         <b-btn size="sm" class="float-left" variant="primary" @click="batal()">
           Batal
         </b-btn>
         <b-btn size="sm" class="float-right" variant="primary" @click="lanjut()" :disabled="checkVerifikasi" v-if="proses === 1">
           Lanjut
         </b-btn>
         <b-btn size="sm" class="float-right" variant="primary" @click="lanjut()" :disabled="checkBiodata" v-if="proses === 2">
           Lanjut
         </b-btn>
         <b-btn size="sm" class="float-right" variant="primary" @click="lanjut()" :disabled="checkAlamat" v-if="proses === 3">
           Lanjut
         </b-btn>
         <b-btn size="sm" class="float-right" variant="primary" @click="lanjut()" :disabled="checkKontak" v-if="proses === 4">
           Lanjut
         </b-btn>
         <b-btn size="sm" class="float-right" variant="primary" @click="lanjut()" :disabled="checkAhliwaris" v-if="proses === 5">
           Lanjut
         </b-btn>
         <b-btn size="sm" class="float-right" variant="primary" @click="lanjut()" :disabled="checkBukti" v-if="proses === 6">
           Lanjut
         </b-btn>
         <b-btn size="sm" class="float-right" variant="primary" @click="selesai()"  :disabled="checkSelesai" v-if="proses === 7">
           Data Ulang
         </b-btn>
         <b-btn size="sm" class="float-right" variant="primary" disabled v-if="proses === 8">
           <icon name="fa-spinner"></icon> Sedang Proses...</button>
         </b-btn>
         <b-btn size="sm" class="float-right mr-3" variant="primary" @click="kembali()" v-if="proses !== 1">
           Kembali
         </b-btn>
       </div>
	  </b-modal>
	</div>
</template>
<script>
  import * as _ from 'underscore'
  import * as _s from 'underscore.string'
  import * as _l from 'lodash'
  import * as is from 'is_js'
  import Datepicker from 'vuejs-datepicker'
  import moment from 'moment'
  import { HTTP, HTTPFORM, HTTPEXCEL } from '@/config'
  import axios from 'axios'
  import checkNewValAlamat from '@/util/check-new-value-alamat'
  import  FileSaver from 'file-saver'
	export default {
    components: { Datepicker },
		props: ['status', 'data', 'biodata', 'alamat', 'kontak', 'ahliwaris', 'userdata', 'tgl_datul', 'nama_cabang', 'perubahan', 'perubahan_alamat', 'catatan_1', 'catatan_2', 'catatan_3', 'datafr_mandiri', 'datafr_aw0'],
		data () {
			return {
        cabang_p2tel: '',
        datul_check_box: 'not_accepted',
        disabled: {
          from: new Date()
        },
        disabledWaktuSilaturahmi: {
          from: new Date(),
          to: new Date(2018,6,1)
        },
        catatan: {
          silaturahmi: null,
          alamat: null,
          kontak: null,
          ahliwaris: null
        },
        dataProvinsi: [],
        dataKota: [],
        dataKecamatan: [],
        dataKelurahan: [],
				datul: {
          verifikasi: {
            cara: {
              old_value: null,
              confirm: null,
              new_value: null,
              options: [
                { value: 1, text: 'Dikunjungi'},
                { value: 2, text: 'Tatap muka'},
                { value: 3, text: 'Ditelepon'},
                { value: 4, text: 'PMP datang ke Bank'},
                { value: 5, text: 'P2Tel datang ke Bank'},
              ],
            },
            waktu: {
              old_value: null,
              confirm: null,
              new_value: null
            },
            petugas: {
              old_value: null,
              confirm: null,
              new_value: null,
              options: []
            }
          },
		      biodata: {
            ktp: {
              new_value: null,
              confirm: null,
              kode: 6002
            },
            npwp: {
              new_value: null,
              confirm: null,
              kode: 6003
            },
            golongan_darah: {
              new_value: null,
              confirm: null,
              kode: 6004
            },
            agama: {
              new_value: null,
              confirm: null,
              kode: 6005
            },
            jenis_kelamin: {
              new_value: null,
              confirm: null,
              kode: 6006
            }
					},
          alamat: {
            jalan: {
              new_value: null,
              confirm: null
            },
            komp: {
              new_value: null,
              confirm: null
            },
            blok: {
              new_value: null,
              confirm: null
            },
            no: {
              new_value: null,
              confirm: null
            },
            rt: {
              new_value: null,
              confirm: null
            },
            rw: {
              new_value: null,
              confirm: null
            },
            kelurahan: {
              new_value: null,
              confirm: null
            },
            kecamatan: {
              new_value: null
            },
            kota: {
              new_value: null
            },
            provinsi: {
              new_value: null
            },
            kodepos: {
              new_value: null
            },
            cabangp2tel: {
              new_value: null
            },
            wilayah: {
              confirm: null,
              new_value: null
            }
          },
          kontak: [],
          ahliwaris: [],
          bukti: {
            ktp: {
              data: null,
              nyusul: false
            },
            npwp: {
              data: null,
              nyusul: false
            }
          }
				},
        proses: null,
	      options: [
	        { text: 'Benar', value: false, extra: 'custom-control-success'},
	        { text: 'Salah', value: true,  extra: 'custom-control-danger'}
	      ],
        optGolDarah: [
          { value: 'A', text: 'A' },
          { value: 'B', text: 'B' },
          { value: 'AB', text: 'AB' },
          { value: 'O', text: 'O' }
        ],
        optAgama: [
          { value: 1, text: 'Islam' },
          { value: 2, text: 'Kristen' },
          { value: 3, text: 'Katolik' },
          { value: 4, text: 'Hindu' },
          { value: 5, text: 'Budha' },
          { value: 6, text: 'Konghucu'  }
        ],
        optGender: [
          { value: 0, text: 'Pria'  },
          { value: 1, text: 'Wanita'  }
        ],
        optNikahPMP: [
          { value: 0, text: 'Menikah dengan PMP'  },
          { value: 1, text: 'Bercerai dengan PMP'  }
        ],
        testResult: false,
        ktp_menyusul: '',
        npwp_menyusul: '',
        list_cabang: []
			}
		},
	computed: {
      perubahanDataDiri () {
        return {
          ktp: this.outputDataPerubahan(6002),
          npwp: this.outputDataPerubahan(6003),
          golongan_darah: this.outputDataPerubahan(6004),
          agama: this.outputDataPerubahan(6005),
          jenis_kelamin: this.outputDataPerubahan(6006)
        }
      },
      perubahanDataAlamat () {
        let b = this.alamat
        let a = this.perubahan_alamat[0]
        if (this.perubahan_alamat.length === 0) {
          return {
            jalan: b.jalan,
            komp: b.komp,
            blok: b.blok,
            no: b.no,
            rt: b.rt,
            rw: b.rw,
            namakelurahan: b.namakelurahan,
            namakecamatan: b.namakecamatan,
            namakota: b.namakota,
            namaprovinsi: b.namaprovinsi,
            kodepos: b.kodepos,
            cabangp2tel: b.cabangp2tel
          }
        } else {
          return {
            jalan: a._jalan,
            komp: a._komp,
            blok: a._blok,
            no: a._no,
            rt: a._rt,
            rw: a._rw,
            namakelurahan: a._nama_kelurahan,
            namakecamatan: a._nama_kecamatan,
            namakota: a._nama_kota,
            namaprovinsi: a._nama_provinsi,
            kodepos: a._kode_pos,
            cabangp2tel: a._tbl_cabang_p2tel
          }
        }
        // return this.alamat
      },
      getKota () {
        return HTTP.get(`masterlokasi/kota/${ this.datul.alamat.provinsi.new_value }`)
        .then(res => {
          this.dataKota = res.data
        })
      },
      getKecamatan () {
        return HTTP.get(`masterlokasi/kecamatan/${ this.datul.alamat.kota.new_value }`)
        .then(res => {
          this.dataKecamatan = res.data
        })
      },
      getKelurahan () {
        return HTTP.get(`masterlokasi/kelurahan/${ this.datul.alamat.kecamatan.new_value }`)
        .then(res => {
          this.dataKelurahan = res.data
        })
      },
      today () {
        return new Date()
      },
      checkVerifikasi () {
        if (this.datul.verifikasi.cara.new_value !== null && this.datul.verifikasi.waktu.new_value !== null && this.datul.verifikasi.petugas.new_value) {
          return false
        } else {
          return true
        }
      },
      checkBiodata () {
        if (this.checkKTP && this.checkNPWP && this.checkGolonganDarah && this.checkAgama && this.checkGender) {
          return false
        } else {
          return true
        }
      },
      CheckKTPMandatory () {

      },
      checkKTP () {
        if (this.datul.biodata.ktp.confirm !== null ) {
          if (this.datul.biodata.ktp.confirm === true && (this.datul.biodata.ktp.new_value !== null && this.datul.biodata.ktp.new_value.length === 16) || (this.perubahanDataDiri.ktp !== null)) {
            return true
          } else if (this.datul.biodata.ktp.confirm === false) {
            if (this.biodata.ktp === null) {
              return false
            } else {
              return true
            }
          } else {
            return false
          }
        } else {
          return false
        }
      },
      checkNPWP () {
        if (this.datul.biodata.npwp.confirm !== null ) {
          if (this.datul.biodata.npwp.confirm === true && this.datul.biodata.npwp.new_value !== null && this.datul.biodata.npwp.new_value.length === 15) {
            return true
          } else if (this.datul.biodata.npwp.confirm === false) {
            return true
          } else {
            return false
          }
        } else {
          return false
        }
      },
      checkGolonganDarah () {
        if (this.datul.biodata.golongan_darah.confirm !== null ) {
          if (this.datul.biodata.golongan_darah.confirm === true && this.datul.biodata.golongan_darah.new_value !== null) {
            return true
          } else if (this.datul.biodata.golongan_darah.confirm === false) {
            return true
          } else {
            return false
          }
        } else {
          return false
        }
      },
      checkAgama () {
        if (this.datul.biodata.agama.confirm !== null ) {
          if (this.datul.biodata.agama.confirm === true && this.datul.biodata.agama.new_value !== null) {
            return true
          } else if (this.datul.biodata.agama.confirm === false) {
            return true
          } else {
            return false
          }
        } else {
          return false
        }
      },
      checkGender () {
        if (this.datul.biodata.jenis_kelamin.confirm !== null ) {
          if (this.datul.biodata.jenis_kelamin.confirm === true && this.datul.biodata.jenis_kelamin.new_value !== null) {
            return true
          } else if (this.datul.biodata.jenis_kelamin.confirm === false) {
            return true
          } else {
            return false
          }
        } else {
          return false
        }
      },
      checkAlamat () {
        if (this.checkJalan && this.checkKomp && this.checkBlok && this.checkNo && this.checkRT && this.checkRW && this.checkWilayah) {
          return false
        } else {
          return true
        }
      },
      checkJalan () {
        if (this.datul.alamat.jalan.confirm !== null ) {
          if (this.datul.alamat.jalan.confirm === true && this.datul.alamat.jalan.new_value !== null && this.datul.alamat.jalan.new_value !== '') {
            return true
          } else if (this.datul.alamat.jalan.confirm === false) {
            return true
          } else {
            return false
          }
        } else {
          return false
        }
      },
      checkKomp () {
        if (this.datul.alamat.komp.confirm !== null ) {
          if (this.datul.alamat.komp.confirm === true && this.datul.alamat.komp.new_value !== null && this.datul.alamat.komp.new_value !== '') {
            return true
          } else if (this.datul.alamat.komp.confirm === false) {
            return true
          } else {
            return false
          }
        } else {
          return false
        }
      },
      checkBlok () {
        if (this.datul.alamat.blok.confirm !== null ) {
          if (this.datul.alamat.blok.confirm === true && this.datul.alamat.blok.new_value !== null && this.datul.alamat.blok.new_value !== '') {
            return true
          } else if (this.datul.alamat.blok.confirm === false) {
            return true
          } else {
            return false
          }
        } else {
          return false
        }
      },
      checkNo () {
        if (this.datul.alamat.no.confirm !== null ) {
          if (this.datul.alamat.no.confirm === true && this.datul.alamat.no.new_value !== null && this.datul.alamat.no.new_value !== '') {
            return true
          } else if (this.datul.alamat.no.confirm === false) {
            return true
          } else {
            return false
          }
        } else {
          return false
        }
      },
      checkRT () {
        if (this.datul.alamat.rt.confirm !== null ) {
          if (this.datul.alamat.rt.confirm === true && this.datul.alamat.rt.new_value !== null && this.datul.alamat.rt.new_value !== '') {
            return true
          } else if (this.datul.alamat.rt.confirm === false) {
            return true
          } else {
            return false
          }
        } else {
          return false
        }
      },
      checkRW () {
        if (this.datul.alamat.rw.confirm !== null ) {
          if (this.datul.alamat.rw.confirm === true && this.datul.alamat.rw.new_value !== null && this.datul.alamat.rw.new_value !== '') {
            return true
          } else if (this.datul.alamat.rw.confirm === false) {
            return true
          } else {
            return false
          }
        } else {
          return false
        }
      },
      checkWilayah () {
        if (this.datul.alamat.wilayah.confirm !== null ) {
          if (this.datul.alamat.wilayah.confirm === true && this.datul.alamat.cabangp2tel.new_value !== null) {
            return true
          } else if (this.datul.alamat.wilayah.confirm === false) {
            return true
          } else {
            return false
          }
        } else {
          return false
        }
      },
      checkKontak () {
        let checkConfirm = _.map(this.datul.kontak, (val) => {
          return [val.confirm]
        })
        let checkConfirm2 = _.flatten(checkConfirm)
        let checkNewVal = _.filter(this.datul.kontak, (o) => {
          return( o.confirm === true && (o.new_value === null || o.new_value === ''))
        })
        if ( _.contains(checkConfirm2, null) ) {
          return true
        } else if ( _.contains(checkConfirm2, true) && checkNewVal.length !== 0 ) {
          return true
        } else {
          return false
        }

      },
      checkAhliwaris () {
        let ktp = _.filter(_.pluck(this.datul.ahliwaris, 'ktp'), (o) => { return o.confirm === null || (o.confirm === true && (o.new_value === null || o.new_value.length !== 16)) })
        let agama = _.filter(_.pluck(this.datul.ahliwaris, 'agama_id'), (o) => { return o.confirm === null || (o.confirm === true && o.new_value === null) })
        let golongan_darah = _.filter(_.pluck(this.datul.ahliwaris, 'golongan_darah'), (o) => { return o.confirm === null || (o.confirm === true && o.new_value === null) })
        let jenis_kelamin = _.filter(_.pluck(this.datul.ahliwaris, 'jenis_kelamin'), (o) => { return o.confirm === null || (o.confirm === true && o.new_value === null) })
        let tgl_meninggal = _.filter(_.pluck(this.datul.ahliwaris, 'tgl_meninggal'), (o) => { return o.confirm === null || (o.confirm === true && o.new_value === null) })
        
        // return ktp

        if (tgl_meninggal.length === 0){
          return false
        } else {
          if (ktp.length === 0 && agama.length === 0 && golongan_darah.length === 0 && jenis_kelamin.length === 0 && tgl_meninggal.length === 0) {
            return false
          } else {
            return true
          }
        }

      },
      checkBukti () {
        let ktp = this.datul.biodata.ktp.confirm
        let npwp = this.datul.biodata.npwp.confirm
        let ktpDoc = this.datul.bukti.ktp.data
        let npwpDoc = this.datul.bukti.npwp.data
        let ktpnyusul = this.datul.bukti.ktp.nyusul
        let npwpnyusul = this.datul.bukti.npwp.nyusul


        let ktpCheckDoc = ktpDoc !== null || ktpnyusul
        let npwpCheckDoc = npwpDoc !== null || npwpnyusul

        if (ktp === true  && npwp === true) {
          if (ktpCheckDoc && npwpCheckDoc) {
            return false
          } else {
            return true
          }
        } else if (ktp === false && npwp === true) {
          if (npwpCheckDoc) {
            return false
          } else {
            return true
          }
        } else if (ktp === true && npwp === false) {
          if (ktpCheckDoc) {
            return false
          } else {
            return true
          }
        } else if (ktp === false && npwp === false) {
          return false
        }

      },
      checkSelesai () {
        if(this.datul_check_box === 'accepted') {
          return false
        } else {
          return true
        }
      },
      selesaiAlamatCheck () {
        let alamat =  {
          url: HTTP.post('perubahan/alamat',{
            id_alamat: this.alamat.id,
            jalan: checkNewValAlamat(this.alamat.jalan, this.datul.alamat.jalan.new_value, this.datul.alamat.jalan.confirm),
            komp: checkNewValAlamat(this.alamat.komp, this.datul.alamat.komp.new_value, this.datul.alamat.komp.confirm),
            blok: checkNewValAlamat(this.alamat.blok, this.datul.alamat.blok.new_value, this.datul.alamat.blok.confirm),
            no: checkNewValAlamat(this.alamat.no, this.datul.alamat.no.new_value, this.datul.alamat.no.confirm),
            rt: checkNewValAlamat(this.alamat.rt, this.datul.alamat.rt.new_value, this.datul.alamat.rt.confirm),
            rw: checkNewValAlamat(this.alamat.rw, this.datul.alamat.rw.new_value, this.datul.alamat.rw.confirm),
            id_pmp: this.biodata.id,
            kelurahan_id: checkNewValAlamat(this.alamat.kodeKelurahan, this.datul.alamat.kelurahan.new_value, this.datul.alamat.wilayah.confirm),
            default: this.alamat.default,
            _no_urut_alamat: this.alamat.id.split('.')[2],
            kode: 7001,
            token: this.$store.state.login.token
          })
        }

        if (_.where(this.datul.alamat, { confirm : true }).length !== 0 ) {
          return alamat
        } else {
          return null
        }
      },
      selesaiCheckKontak () {
        let checkConfirm = _.map(this.datul.kontak, (val) => {
          return [val.confirm]
        })
        let checkConfirm2 = _.flatten(checkConfirm)
        let checkNewVal = _.filter(this.datul.kontak, (o) => {
          return( o.confirm === true && (o.new_value === null || o.new_value !== ''))
        })
        return _.map(checkNewVal, (o) => {
          return {
            url: HTTP.post('perubahan/kontak', {
              id_kontak: o.id,
              kontak_value: o.new_value,
              tipe: o.ref_tipe_kontak,
              id_alamat: _s.strLeftBack(o.id, '.'),
              no_urut_kontak: _s.strRightBack(o.id, '.'),
              token: this.$store.state.login.token
            })
          }
        })
      },
 		},
    asyncComputed: {
      getProvinsi () {
        return HTTP.get('masterlokasi')
        .then(res => {
          this.dataProvinsi = res.data
        })
      },
      getPetugas () {
        return HTTP.post('master/petugas', {
          token: this.$store.state.login.token
        }).then(res => {
          this.datul.verifikasi.petugas.options = res.data.data
        })

      },
      getCabangP2tel () {
        return HTTP.get('masterlokasi/listcabang')
        .then((res) => {
          this.list_cabang = res.data.data
        })
      }
    },
	methods: {
      alamatBlank (i) {
        if (i === null || i === '') {
          return ' - '
        } else {
          return i
        }
      },
      outputDataPerubahan (i) {
        let value = _.where(this.perubahan, { kode_laporan: i })
        if (value.length === 0) {
          return null
        } else {
          return value[0].data_perubahan
        }
      },
      checkDataPerubahanDataDiri (before, after) {
        if (after === null) {
          if (before === null || before === '') {
            return '-'
          } else {
            return before
          }
        } else {
          return after
        }
      },
      filterOptionP2tel (i) {
        return _l.filter(i, (o) => { return o.value < 4 })
      },
      filterOptionCabang(i){
        // alert(this.cabang_p2tel)
        return _l.filter(i, (o) => { return o.nama_cabang == this.cabang_p2tel })
      },
      buktiMenyusul(){
        if(this.ktp_menyusul==='accepted' && this.npwp_menyusul==='accepted'){
          this.checkBukti = false
        }
      },
      cetakBukti () {
        console.log(this.biodata)
        HTTPEXCEL.post('datul/buktidatul2', {
          id_pmp: this.biodata.id
        }).then((res) => {
          var blob = new Blob([res.data], {type: "application/pdf"})
          console.log(res)
          FileSaver.saveAs(blob, `${ this.biodata.id }.pdf`)
        })
      },
      cetakBuktiKonfirmasiDapen () {
        HTTPEXCEL.post('datul/buktidatulkonfirmasidapen', {
          id_pmp: this.biodata.id
        }).then((res) => {
          var blob = new Blob([res.data], {type: "application/pdf"})
          console.log(res)
          FileSaver.saveAs(blob, `${ this.biodata.id }.pdf`)
        })
      },
      selesai () {
		this.proses = 8
        HTTP.post('datul/web', {
          token: this.$store.state.login.token,
          id_pmp: this.biodata.id,
          biodata: this.datul.biodata,
          alamat: this.datul.alamat,
          alamatinit: this.alamat,
          kontak: this.datul.kontak,
          ahliwaris: this.datul.ahliwaris,
          verifikasi: this.datul.verifikasi,
          catatan: JSON.stringify(this.catatan),
          datafr_mandiri: this.datafr_mandiri,
          datafr_aw0: this.datafr_aw0,
          petugas_datul: `${ this.$store.state.header_name.nama_lengkap } ${ this.$store.state.header_name.nik_user }`
        })
        .then(res => {
          location.reload()
        })
      },
      changeProv () {
        this.datul.alamat.kota.new_value = null
        this.datul.alamat.kecamatan.new_value = null
        this.datul.alamat.kelurahan.new_value = null
        this.datul.alamat.kodepos.new_value = null
        this.datul.alamat.cabangp2tel.new_value = null
        this.getKota
      },
      changeKota () {
        this.datul.alamat.kecamatan.new_value = null
        this.datul.alamat.kelurahan.new_value = null
        this.datul.alamat.kodepos.new_value = null
        this.datul.alamat.cabangp2tel.new_value = null
        this.getKecamatan
      },
      changeKecamatan () {
        this.datul.alamat.kelurahan.new_value = null
        this.datul.alamat.kodepos.new_value = null
        this.datul.alamat.cabangp2tel.new_value = null
        this.getKelurahan
      },
      changeKelurahan () {
        this.datul.alamat.kodepos.new_value = _.where(this.dataKelurahan, { ID: this.datul.alamat.kelurahan.new_value })[0]._kode_pos
        this.datul.alamat.cabangp2tel.new_value = _.where(this.dataKelurahan, { ID: this.datul.alamat.kelurahan.new_value })[0]._tbl_cabang_p2tel
      },
      gender(i) {
        if (i === null || i === '') {
          return '-'
        } else if (i === 0) {
          return 'Pria'
        } else if (i === 1) {
          return 'Wanita'
        }
      },
      religion(i) {
        switch(i) {
          case 1:
          return 'Islam';
          break;
          case 2:
          return 'Kristen';
          break;
          case 3:
          return 'Katolik';
          break;
          case 4:
          return 'Hindu';
          break;
          case 5:
          return 'Budha';
          break;
          case 6:
          return 'Konghucu';
          break;
          case null:
          return null;
          break;
          default:
          null;
        }
      },
      gol_dar(i) {
				if (i === null) {
					return '-'
				} else if (i == 1) {
					return 'AB+'
				} else if (i == 2) {
					return 'B-'
				} else if (i == 3) {
					return 'B+'
				} else if (i == 4) {
					return 'O-'
				} else if (i == 5) {
					return 'O+'
				} else if (i == 6) {
					return 'B'
				} else if (i == 7) {
					return 'A'
				} else if (i == 8) {
					return 'A+'
				} else if (i == 9) {
					return 'O'
				} else if (i == 10) {
					return 'AB'
				}
			},
	doDatul () {
		// this.datul.biodata.nama.old_value = this.data.data[0].nama
        this.datul.kontak = _.map(this.alamat.kontak, (val) => {
          return {
            confirm: null,
            old_value: val.kontakvalue,
            new_value: null,
            id: val.id,
            tipe: val.tipekontak,
            ref_tipe_kontak: val.refTipeKontak,
            validation: val.validation
          }
        })
        this.datul.ahliwaris = _.map(this.ahliwaris, (val) =>{
          return {
            id: {
              old_value: val.id,
              confirm: null,
              new_value: null
            },
            nama: {
              old_value: val.nama,
              confirm: null,
              new_value: null
            },
            calon_pmp: {
              old_value: val.tipe,
              confirm: null,
              new_value: null
            },
            nikah_pmp: {
              old_value: null,
              confirm: null,
              new_value: null
            },
            photo: {
              old_value: val.photo,
              confirm: null,
              new_value: null
            },
            nik: {
              old_value: val.nik,
              confirm: null,
              new_value: null
            },
            naw: {
              old_value: val.naw,
              confirm: null,
              new_value: null
            },
            ktp: {
              old_value: val.ktp,
              confirm: null,
              new_value: null
            },
            agama_id: {
              old_value: val.agama_id,
              confirm: null,
              new_value: null
            },
            agama_val: {
              old_value: val.agama_val,
              confirm: null,
              new_value: null
            },
            tgl_lahir: {
              old_value: val.tgl_lahir,
              confirm: null,
              new_value: null
            },
            golongan_darah: {
              old_value: val.golongan_darah,
              confirm: null,
              new_value: null
            },
            jenis_kelamin: {
              old_value: val.jenis_kelamin,
              confirm: null,
              new_value: null
            },
            tgl_meninggal: {
              old_value: null,
              confirm: null,
              new_value: null
            }
          }
        })
        if (this.userdata.ref_user_level !== 5) {
          this.datul.verifikasi.petugas.new_value = this.userdata._username
        } else if (this.userdata._petugas_ID !== 1 && this.userdata.ref_user_level !== 5){
          this.datul.verifikasi.petugas.new_value = this.userdata._username
          this.datul.verifikasi.cara.old_value = 4
        }else{
          this.datul.verifikasi.petugas.new_value = null
          this.datul.verifikasi.cara.old_value = null
        }
        this.proses = 1
				this.$refs.modalDataUlang.show()
			},
      checkProses (i) {
        if ( i === this.proses) {
          return 'processing'
        } else if ( this.proses > i) {
          return 'complete'
        } else {
          return ''
        }
      },
      checkStatus (i) {
        if ( i === this.status) {
          if ( i === 1) {
            return 'complete'
          } else {
            return 'processing'
          }
        } else if ( this.status < i) {
          return 'complete'
        } else {
          return ''
        }
      },
      checkUser () {
        if(this.$store.state.login.user_level === 5){
          return true
        } else if (this.$store.state.login.tbl_cabang_petugas === 69){
          return true
        } else {
          return false
        }
      },
      checkPmpStatus (i) {
        if((this.$store.state.login.user_level === 5)||(this.$store.state.login.tbl_cabang_petugas === 69)){
          if (i !== 2){
            return false
          } 
        } else {
          return true
        }
		  },
      batal () {
        location.reload()
      },
      kembali () {
        this.proses = this.proses - 1
      },
      lanjut () {
        this.proses = this.proses + 1
      },
      checkLanjut (i) {

      }
		},
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {

        } else {
          next('/')
        }
      })
    })
	}
}
</script>
<style>
	.modal-content {
		max-width: 1000px !important;
		background-color: red;
	}
  .nav-process-circle .nav-link::before {
    background-color: lightgrey;
  }
  .nav-process-circle .nav-link {
    background-color: lightgrey;
  }
</style>