<template>
	<div>
		<div class="row">
			<div class="col-md-12">
				<!-- <dl class="row border-bottom">
					<dt class="col-sm-3"></dt>
					<dt class="col-sm-3">Data</dt>
					<dt class="col-sm-3">Tanggal Perubahan</dt>
					<dt class="col-sm-3">Pelaksana Perubahan</dt>
				</dl> -->
				<dl class="row border-bottom">
					<dt class="col-sm-3">Nomor KTP</dt>
					<dd class="col-sm-3">{{ biodata("ktp").value }}</dd>
					<!-- <dd class="col-sm-3">{{ biodata("ktp").report_at }}</dd>
					<dd class="col-sm-3">{{ biodata("ktp").report_by  }} - {{ biodata("ktp").user_detail  }}</dd> -->
				</dl>
				<dl class="row border-bottom">
					<dt class="col-sm-3">NPWP</dt>
					<dd class="col-sm-3">{{ biodata("npwp").value }}</dd>
					<!-- <dd class="col-sm-3">{{ biodata("npwp").report_at }}</dd>
					<dd class="col-sm-3">{{ biodata("npwp").report_by  }} - {{ biodata("npwp").user_detail  }}</dd> -->
				</dl>
				<dl class="row border-bottom">
					<dt class="col-sm-3">Golongan Darah</dt>
					<dd class="col-sm-3">{{ gol_dar(biodata("golongan_darah").value) }}</dd>
					<!-- <dd class="col-sm-3">{{ biodata("golongan_darah").report_at }}</dd>
					<dd class="col-sm-3">{{ biodata("golongan_darah").report_by  }} - {{ biodata("golongan_darah").user_detail  }}</dd> -->
				</dl>
				<dl class="row border-bottom">
					<dt class="col-sm-3">Agama</dt>
					<dd class="col-sm-3">{{ agama(biodata("agama").value) }}</dd>
					<!-- <dd class="col-sm-3">{{ biodata("agama").report_at }}</dd>
					<dd class="col-sm-3">{{ biodata("agama").report_by  }} - {{ biodata("agama").user_detail  }}</dd> -->
				</dl>
				<dl class="row border-bottom">
					<dt class="col-sm-3">Jenis Kelamin</dt>
					<dd class="col-sm-3">{{ gender(biodata("jenis_kelamin").value) }}</dd>
					<!-- <dd class="col-sm-3">{{ biodata("jenis_kelamin").report_at }}</dd>
					<dd class="col-sm-3">{{ biodata("jenis_kelamin").report_by  }} - {{ biodata("jenis_kelamin").user_detail  }}</dd> -->
				</dl>
			</div>
		</div>
		<!-- <div class="row">			
			<div class="col-md-12">
				<h6 style="text-align:center;"><b-badge>Riwayat Perubahan</b-badge></h6>
				<div class="col-md-12">
					<dl class="row  border-bottom">
						<dt class="col-sm-2" style="font-weight:600;">Tahapan</dt>
						<dt class="col-sm-2" style="font-weight:600;">Nomor KTP</dt>
						<dt class="col-sm-2" style="font-weight:600;">NPWP</dt>
						<dt class="col-sm-2" style="font-weight:600;">Gol. Darah</dt>
						<dt class="col-sm-2" style="font-weight:600;">Agama</dt>
						<dt class="col-sm-2" style="font-weight:600;">Jenis Kelamin</dt>
					</dl>
					<dl class="row  border-bottom">
						<dd class="col-sm-2">1</dd>
						<dd class="col-sm-2">{{ data.ktp }}</dd>
						<dd class="col-sm-2">{{ data.npwp }}</dd>
						<dd class="col-sm-2">{{ data.golongan_darah }}</dd>
						<dd class="col-sm-2">{{ agama(data.agama) }}</dd>
						<dd class="col-sm-2">{{ gender(data.jenis_kelamin) }}</dd>
					</dl>
					<dl class="row  border-bottom">
						<dd class="col-sm-2">2</dd>
						<dd class="col-sm-2">
							<template v-if="perubahan[0] == null">
								{{ data.ktp }}
							</template>
							<template v-else>
								{{ perubahan[0].data_perubahan }}
							</template>
						</dd>
						<dd class="col-sm-2">
							<template v-if="perubahan[1] == null">
								{{ data.npwp }}
							</template>
							<template v-else>
							{{ perubahan[1].data_perubahan }}
							</template>
						</dd>
						<dd class="col-sm-2">
							<template v-if="perubahan[2] == null">
								{{ data.golongan_darah }}
							</template>
							<template v-else>
							{{ perubahan[2].data_perubahan }}
							</template>
						</dd>
						<dd class="col-sm-2">
							<template v-if="perubahan[3] == null">
								{{ data.agama_val }}
							</template>
							<template v-else>
							{{ perubahan[3].data_perubahan }}
							</template>
						</dd>
						<dd class="col-sm-2">
							<template v-if="perubahan[4] == null">
								{{ gender(data.jenis_kelamin) }}
							</template>
							<template v-else>
							{{ gender(perubahan[4].data_perubahan) }}
							</template>
						</dd>
					</dl>
				</div>
			</div>
		</div> -->
	</div>
</template>
<script>
	import * as _ from 'underscore'
	import { HTTP, HTTPFORM } from '@/config'
	export default {
		props: [ 'data', 'perubahan' ],
		data () {
			return {
				nomorKTP: '',
				dokumenKTP: null,
				nomorNPWP: '',
				dokumenNPWP: null,
				optGolDarah: [
					{ value: 'A', text: 'A'	},
					{ value: 'B', text: 'B'	},
					{ value: 'AB', text: 'AB'	},
					{ value: 'O', text: 'O'	}
				],
				selectedGolDarah: '',
				optAgama: [
					{ value: 1, text: 'Islam'	},
					{ value: 2, text: 'Kristen'	},
					{ value: 3, text: 'Katolik'	},
					{ value: 4, text: 'Hindu'	},
					{ value: 5, text: 'Budha'	},
					{ value: 6, text: 'Konghucu'	}
				],
				selectedAgama: null,
				optGender: [
					{ value: 0, text: 'Pria'	},
					{ value: 1, text: 'Wanita'	}
				],
				selectedGender: null
			}
		},
		computed: {
			ktpstate () {
				return  ( this.nomorKTP.length === 16 && !(_.isNull(this.dokumenKTP)) ) ? false : true
			},
			npwpstate () {
				return  ( this.nomorNPWP.length === 15 && !(_.isNull(this.dokumenNPWP)) ) ? false : true
			}
		},
		methods: {
			golDarahState (ex, sel) {
				return ex === sel ? true : false
			},
			ubahBiodatastate (kode) {
				return _.where(this.perubahan, { kode_laporan: kode }).length !== 0 ? true : false
			},
			ubahbiodata (kode, type, data_perubahan, file) {
				HTTP.post('perubahan/biodata', { id_pmp: this.data.id, data_perubahan: data_perubahan, token: this.$store.state.login.token, kode_laporan: kode })
				.then(res => {
					// TO DO use $emit to forceupdate
					let formData = new FormData()
					formData.append('id_pmp', this.data.id)
					formData.append('type', type)
					formData.append('dokumen', file)
					HTTPFORM.post('upload/dokumen', formData)
					.then(res => {
						location.reload()
					})
				})
			},
			ubahbiodatasingle (kode, data_perubahan) {
				HTTP.post('perubahan/biodata', { id_pmp: this.data.id, data_perubahan: data_perubahan, token: this.$store.state.login.token, kode_laporan: kode })
				.then(res => {
					location.reload()
				})
			},
			gender(i) {
				if (i === null) {
					return '-'
				} else if (i == 0) {
					return 'Pria'
				} else if (i == 1) {
					return 'Wanita'
				}
			},
			agama(i){
				if (i === null){
					return '-'
				} else if (i === 1) {
					return 'Islam'
				} else if (i === 2) {
					return 'Kristen'
				} else if (i === 3) {
					return 'Katolik'
				} else if (i === 4) {
					return 'Hindu'
				} else if (i === 5) {
					return 'Budha'
				} else if (i === 6) {
					return 'Khonghucu'
				}
			},

			biodata(i){
				return _.where(this.data,{key:i})[0]
			},
			gol_dar(i) {
				if (i === null) {
					return '-'
				} else if (i == 1) {
					return 'AB+'
				} else if (i == 2) {
					return 'B-'
				} else if (i == 3) {
					return 'B+'
				} else if (i == 4) {
					return 'O-'
				} else if (i == 5) {
					return 'O+'
				} else if (i == 6) {
					return 'B'
				} else if (i == 7) {
					return 'A'
				} else if (i == 8) {
					return 'A+'
				} else if (i == 9) {
					return 'O'
				} else if (i == 10) {
					return 'AB'
				}
			}

		}

	}
</script>
<style scoped>
.border-bottom{
	border-bottom:solid 1px #ddd;
}
dl,dd{
	margin-bottom:0;
}
</style>