  <template>
  <inside :username="userData._username">
      <div v-if="!checkPeriode()">
        <notif-datul></notif-datul>
          <!-- <b-alert show>Mohon maaf, Datul Periode Semester I 2018 saat ini telah berakhir. Terima kasih atas partisipasi bapak dan ibu sekalian dalam mendatulkan anggotanya.</b-alert> -->
      </div>
      <header class="header bg-dark" style="background-image: url(http://thetheme.io/theadmin/assets/img/gallery/8.jpg)">
        <div class="header-info h-120px mb-0">
          <div class="media align-items-end">
            <img class="avatar avatar-xxxl avatar-bordered " :src="photo" alt="...">
            <div class="media-body">
              <h3 class="text-white opacity-90"><strong>{{ nama }} | {{ nik }}</strong></h3>
              <small class="text-white opacity-80">{{ nama_cabang }}</small><br>
              <b-badge variant="warning" @click="showFormUploadFoto" style="cursor: pointer"><i class="fa fa-plus"></i> photo</b-badge>
              <b-badge :variant="colorStatus(data.status)">{{ checkStatus(data.status) }}</b-badge>
            </div>
          </div>
        </div>
      </header>

      

      <div class="bg-white">
        <b-card no-body>
			<b-tabs card>
				<b-tab title="BIODATA" active>
					<biodata :data="biodata" ></biodata>
				</b-tab>
				<b-tab title="DATA DIRI">
					<datadiri :data="data_perubahan" ></datadiri>
				</b-tab>
				<b-tab title="ALAMAT">
					<alamat :alamatutama="alamatutama" :perubahanAlamat="perubahanAlamat" ></alamat>
				</b-tab>
				<b-tab title="KONTAK">
					<kontak :kontakutama="kontakutama" :kontaknew="kontaknew" ></kontak>
				</b-tab>
				<!-- <b-tab title="CALON PMP">
					<ahliwaris :data="datax.ahliwaris"></ahliwaris>
				</b-tab> -->
        
        <b-tab title="UPDATE DATA">
					<updatePensiun :dataasli="dataasli"  ></updatePensiun>
				</b-tab>
			</b-tabs>
		</b-card>
      </div>
      <div>
        <b-modal ref="myModalRef" hide-footer title="Form Upload Photo">
          <div class="d-block text-center">
            <b-form-file v-model="photo"  accept=".jpg, .png, .gif, .jpeg" placeholder="Choose a photo..."></b-form-file>
          </div>
          <b-btn class="mt-3" variant="outline-danger" block @click="uploadPhoto">Upload</b-btn>
        </b-modal>
      </div>
  </inside>
</template>
<script>
import inside from '@/layout/inside'
import biodata from './biodata'
import datadiri from './datadiri'
import alamat from './alamat'
import kontak from './kontak'
import dataUlang from './data-ulang'
import ahliwaris from './ahliwaris'
import updateMeninggal from './update-meninggal'
import updatePensiun from './update-pensiun'
import { HTTP } from '@/config'
import { HTTPFORM } from '@/config'
import check from '@/util/check-status-datul'
import notifDatul from '@/pages/notif-datul'
export default {
  components: {
    inside, biodata, alamat, kontak, datadiri, dataUlang, ahliwaris , notifDatul , updateMeninggal , updatePensiun
  },
  data () {
  	return {
  		datax: [],
		data: {},
		id_pmp: '',
  		nama: '',
  		nik: '',
  		nama_cabang: '',
  		photo: '',
    biodata: {},
    dataasli:{},
    data_perubahan:{},
    alamatutama: {},
    kontakutama:[],
    kontaknew:[],
		alamatlain: [],
		alamatlainlength: null,
		perubahan: {},
    perubahanAlamat: [],
    
    userData: {},
    
    
    tanggal_close_datul:''

  	}
  },
  asyncComputed: {
  	getDataPMP () {
  		return HTTP.post('pmp', { id_pmp: this.$route.params.id ,token:this.$store.state.login.token})
  		.then(res => {
			this.id_pmp = res.data.data.data[0].id
			this.nama = res.data.data.data[0].nama
			this.nik = res.data.data.data[0].nik
			this.nama_cabang = `P2TEL ${ res.data.data.data[0].nama_cabang }`
			this.photo = res.data.data.data[0].photo
			this.biodata = res.data.data.data[0]
			this.perubahan = res.data.data.perubahan
      this.alamatutama = res.data.data.alamatUtama[0]
      this.kontakutama = res.data.data.kontak
      this.kontaknew = res.data.data.kontakNew
			this.alamatlain = res.data.data.alamatLain
			this.alamatlainlength = res.data.data.alamatLain.length
			this.perubahanAlamat = res.data.data.perubahanAlamat
      this.data = res.data.data.data[0]
      this.dataasli = res.data.data.data[0]
      this.data_perubahan = res.data.data.data_perubahan
      this.datax = res.data.data
      
      
  		})
  	}
  },
  methods: {
    checkPeriode () {
      return this.$store.state.login.periode_datul.status
    },
    checkStatus (i) {
      if((this.$store.state.login.user_level === 5)||(this.$store.state.login.tbl_cabang_petugas === 69)){
        if (i === 1){
          return check(i)
        } else if (i === 2){
          return check(1)
        } else {
          return check(i)
        }
      } else {
        return check(i)
      }
      
    },
    showFormUploadFoto() {
      this.$refs.myModalRef.show()
    },
    uploadPhoto () {
      let formData = new FormData()
      formData.append('id_pmp', this.id_pmp)
      formData.append('photo_profile', this.photo)
      HTTPFORM.post('/upload/photo', formData)
      .then((res) => {
        location.reload()
      })
    },
    colorStatus(i){
      if (i === 1) {
        return 'success'
      } else if (i === 2) {
        return 'success'
      } else if (i === 3) {
        return 'warning'
      } else if (i === 4) {
        return 'primary'
      } else if (i === 5) {
        return ''
      }
    }
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      this.userData = res.data.data
      this.username = res.data.data._username
    })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          // console.log(res)
          next('/profile' + this.$route.path.split('/')[2])
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style>
.header {
	margin-bottom: 0;
}
.card .tabs .card-header ul{
	margin-bottom: 0px;
}
.card .tabs .card-header{
	padding:0 !important;
}
.modal-content{
	background-color: white !important;
}
</style>
