<template>
	<div>
		<address>
			<div class="row">
				<div class="col-md-12">
				
					<template v-for="vm in kontakutama" >
						<dl class=" row border-bottom">
							<dt class="col-sm-3">{{ vm.tipe_kontak }}</dt>
							<dd class="col-sm-4">{{ vm.kontak_value }}</dd>
						</dl>
					</template>
				</div>
			</div>
	  </address>
	</div>
</template>
<script>
	import { HTTP } from '@/config'
	import * as _ from 'underscore'
	export default {
		props: [ 'alamatutama', 'alamatlain', 'alamatlainlength', 'perubahanAlamat' ,'kontakutama'],
		data () {
			return {
				al: {

				},
				dataProvinsi: [],
				dataKota: [],
				dataKecamatan: [],
				dataKelurahan: [],
				titleModalAlamatDefault: '',
				dataAlamatDefault: {}
			}
		},
		computed: {
			getKota () {
				return HTTP.get(`masterlokasi/kota/${ this.al.kodeProvinsi }`)
				.then(res => {
					this.dataKota = res.data
				})
			},
			getKecamatan () {
				return HTTP.get(`masterlokasi/kecamatan/${ this.al.kodeKota }`)
				.then(res => {
					this.dataKecamatan = res.data
				})
			},
			getKelurahan () {
				return HTTP.get(`masterlokasi/kelurahan/${ this.al.kodeKecamatan }`)
				.then(res => {
					this.dataKelurahan = res.data
				})
			}
		},
		asyncComputed: {
			getProvinsi () {
				return HTTP.get('masterlokasi')
				.then(res => {
					this.dataProvinsi = res.data
				})
			}
		},
		methods: {
			closeEditAlamat () {
				this.al = {}
			},
			changeProv () {
				this.al.kodeKota = null
				this.al.kodeKecamatan = null
				this.al.kodeKelurahan = null
				this.al.kodepos = null
				this.al.cabangp2tel = null
				this.getKota
			},
			changeKota () {
				this.getKecamatan
			},
			changeKecamatan () {
				this.getKelurahan
			},
			changeKelurahan () {
				this.al.kodepos = _.where(this.dataKelurahan, { ID: this.al.kodeKelurahan })[0]._kode_pos
				this.al.cabangp2tel = _.where(this.dataKelurahan, { ID: this.al.kodeKelurahan })[0]._tbl_cabang_p2tel
			},
			editAlamatUtama (data) {
				this.al = data
				this.getKota
				this.getKecamatan
				this.getKelurahan
				this.$refs.modalAlamatUtama.show()
			},
			postalamat (kode) {
				if (kode === 7001) {
					HTTP.post('perubahan/alamat', {
						token: this.$store.state.login.token,
						id_alamat: this.al.id,
						jalan: this.al.jalan,
						komp: this.al.komp,
						blok: this.al.blok,
						no: this.al.no,
						rt: this.al.rt,
						rw: this.al.rw,
						id_pmp: (this.al.id).split('.')[0].concat((this.al.id).split('.')[1]),
						kelurahan_id: this.al.kodeKelurahan,
						default: this.al.default,
						_no_urut_alamat: (this.al.id).split('.')[2],
						kode: kode

					}).then(res => { location.reload() })
				} else if(kode === 7002) {
					HTTP.post('perubahan/alamat', {
						token: this.$store.state.login.token,
						id_alamat: this.al.id,
						jalan: this.al.jalan,
						komp: this.al.komp,
						blok: this.al.blok,
						no: this.al.no,
						rt: this.al.rt,
						rw: this.al.rw,
						id_pmp: this.al.id_pmp,
						kelurahan_id: this.al.kodeKelurahan,
						default: this.al.default,
						kode: kode

					}).then(res => { location.reload() })
				} else if (kode === 7003) {
					HTTP.post('perubahan/alamat', {
						token: this.$store.state.login.token,
						id_alamat: this.dataAlamatDefault.id,
						id_pmp: (this.dataAlamatDefault.id).split('.')[0].concat((this.dataAlamatDefault.id).split('.')[1]),
						kode: kode

					}).then(res => { location.reload() })
				}
			},
			ubahAlamatstate (kode, id) {
				return _.where(this.perubahanAlamat, { id_alamat: id }).length !== 0 ? true : false
			},
			tambahAlamatState (kode) {
				return _.where(this.perubahanAlamat, { kode_laporan: kode }).length !== 0 ? true : false
			},
			alamatDefault (vm, index) {
				this.titleModalAlamatDefault = `Jadikan alamat lain ${ index + 1} menjadi alamat utama`
				this.dataAlamatDefault = vm
				this.$refs.modalAlamatDefault.show()
			},
			tambahAlamat () {
				this.al = {
					jalan: null,
					komp: null,
					blok: null,
					no: null,
					rt: null,
					rw: null,
					kodeKelurahan: null,
					kodeKecamatan: null,
					kodeKota: null,
					kodeProvinsi: null,
					default: 0,
					cabangp2tel: null,
					id_pmp: this.$route.path.split('/')[2]
				}
				this.$refs.modalTambahAlamat.show()
			},
			addrmakeVal(val) {
				if (val === null || typeof val === 'undefined' || val === '-' || val === '' || val === ' ') {
					return null
				} else {
					return val
				}
			},
			addrmakeBlock(val) {
				if (val === null || typeof val === 'undefined' || val === '-' || val === '' || val === ' ') {
					return false
				} else {
					return true
				}
			},
			addrmakeKey(val, key) {
				if (val === null || typeof val === 'undefined' || val === '-' || val === '' || val === ' ') {
					return null
				} else {
					return key
				}
			}
		}
	}
</script>
<style scoped>
.border-bottom{
	border-bottom:solid 1px #ddd;
}
dt{
	font-weight:bold;
}
dl,dd{
	margin-bottom:0;
}
</style>