<template>
	<div>
		<address>
			<button class="btn btn-danger btn-sm" @click="btnEdit()">Edit </button>
			<b-modal ref="updateAlamat" title="Update Alamat" class="mb-3" modal-extra-class="modal-fill" no-close-on-esc no-close-on-backdrop hide-header-close>
			<!-- <b-modal ref="updateAlamat" hide-footer title="Update Alamat"> -->
				<div class="border p-20 pl-30 pr-30">
	              <p style="color: #265299">Lakukan verifikasi dengan memilih benar/salah. Jika Anda memilih salah, maka isikan data yang benar</p>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<br/>
					</div>
				</div>

				<div class="col-md-12">
                  
                  	<dl class="row mb-1">
						<dt class="col-sm-3">Jalan</dt>
						<dd class="col-sm-4">{{ addrmakeVal(perubahanDataAlamat.jalan) }}</dd>
						<dd class="col-sm-5">
						<b-form-radio-group  v-model="update.alamat.jalan.confirm" :options="options"></b-form-radio-group>
						</dd>
						<dd class="col-sm-12">
						<b-form-input v-if="update.alamat.jalan.confirm" v-model="update.alamat.jalan.new_value"></b-form-input>
						</dd>
                  	</dl>

				 	<dl class="row mb-1">
						<dt class="col-sm-3">Komplek / Kampung</dt>
						<dd class="col-sm-4">{{ addrmakeVal(perubahanDataAlamat.komp) }}</dd>
						<dd class="col-sm-5">
						<b-form-radio-group  v-model="update.alamat.komp.confirm" :options="options"></b-form-radio-group>
						</dd>
						<dd class="col-sm-12">
						<b-form-input v-if="update.alamat.komp.confirm" v-model="update.alamat.komp.new_value" class="mb-3"></b-form-input>
						</dd>
                  	</dl>

					<dl class="row mb-1">
						<dt class="col-sm-3">Blok</dt>
						<dd class="col-sm-4">{{ addrmakeVal(perubahanDataAlamat.blok) }}</dd>
						<dd class="col-sm-5">
						<b-form-radio-group  v-model="update.alamat.blok.confirm" :options="options"></b-form-radio-group>
						</dd>
						<dd class="col-sm-12">
						<b-form-input v-if="update.alamat.blok.confirm" v-model="update.alamat.blok.new_value" class="mb-3"></b-form-input>
						</dd>
                  	</dl>
					
					<dl class="row mb-1">
						<dt class="col-sm-3">No</dt>
						<dd class="col-sm-4">{{ addrmakeVal(perubahanDataAlamat.no) }}</dd>
						<dd class="col-sm-5">
						<b-form-radio-group  v-model="update.alamat.no.confirm" :options="options"></b-form-radio-group>
						</dd>
						<dd class="col-sm-12">
						<b-form-input v-if="update.alamat.no.confirm" v-model="update.alamat.no.new_value" class="mb-3"></b-form-input>
						</dd>
					</dl>
					<dl class="row mb-1">
						<dt class="col-sm-3">RT</dt>
						<dd class="col-sm-4">{{ addrmakeVal(perubahanDataAlamat.rt) }}</dd>
						<dd class="col-sm-5">
						<b-form-radio-group  v-model="update.alamat.rt.confirm" :options="options"></b-form-radio-group>
						</dd>
						<dd class="col-sm-12">
						<b-form-input v-if="update.alamat.rt.confirm" v-model="update.alamat.rt.new_value" class="mb-3"></b-form-input>
						</dd>
					</dl>
					<dl class="row mb-1">
						<dt class="col-sm-3">RW</dt>
						<dd class="col-sm-4">{{ addrmakeVal(perubahanDataAlamat.rw) }}</dd>
						<dd class="col-sm-5">
						<b-form-radio-group  v-model="update.alamat.rw.confirm" :options="options"></b-form-radio-group>
						</dd>
						<dd class="col-sm-12">
						<b-form-input v-if="update.alamat.rw.confirm" v-model="update.alamat.rw.new_value" class="mb-3"></b-form-input>
						</dd>
					</dl>

					<dl class="row mb-1">
						<dt class="col-sm-7">Check Wilayah</dt>
						<dd class="col-sm-5">
						<b-form-radio-group v-model="update.alamat.wilayah.confirm" :options="options"></b-form-radio-group>
						</dd>
					</dl>

					<template v-if="!update.alamat.wilayah.confirm">
						<dl class="row mb-1">
						<dt class="col-sm-3">Provinsi</dt>
						<dd class="col-sm-9">{{ perubahanDataAlamat.namaprovinsi }}</dd>
						</dl>
						<dl class="row mb-1">
						<dt class="col-sm-3">Kota</dt>
						<dd class="col-sm-9">{{ perubahanDataAlamat.namakota }}</dd>
						</dl>
						<dl class="row mb-1">
						<dt class="col-sm-3">Kecamatan</dt>
						<dd class="col-sm-9">{{ perubahanDataAlamat.namakecamatan }}</dd>
						</dl>
						<dl class="row mb-1">
						<dt class="col-sm-3">Kelurahan</dt>
						<dd class="col-sm-9">{{ perubahanDataAlamat.namakelurahan }}</dd>
						</dl>
						<dl class="row mb-1">
						<dt class="col-sm-3">Kodepos</dt>
						<dd class="col-sm-9">{{ perubahanDataAlamat.kodepos }}</dd>
						</dl>
						<dl class="row mb-1">
						<dt class="col-sm-3">Cabang P2TEL</dt>
						<dd class="col-sm-9">{{ perubahanDataAlamat.cabangp2tel }}</dd>
						</dl>
					</template>

					<template v-if="update.alamat.wilayah.confirm">
						<b-alert show>Perpindahan alamat akan mengakibatkan perpindahan cabang P2TEL</b-alert>

						<dl class="row mb-1">
						<dt class="col-sm-5">Provinsi</dt>
						<dd class="col-sm-7">
							<b-form-select size="sm" v-model="update.alamat.provinsi.new_value" :options="dataProvinsi" value-field="ID" text-field="_nama_provinsi" @input="changeProv()"></b-form-select>
						</dd>
						</dl>
						<dl class="row mb-1">
						<dt class="col-sm-5">Kota / Kabupaten</dt>
						<dd class="col-sm-7">
							<b-form-select size="sm" v-model="update.alamat.kota.new_value" :options="dataKota" value-field="ID" text-field="_nama_kota" @input="changeKota()"></b-form-select>
						</dd>
						</dl>
						<dl class="row mb-1">
						<dt class="col-sm-5">Kecamatan</dt>
						<dd class="col-sm-7">
						<b-form-select size="sm" v-model="update.alamat.kecamatan.new_value" :options="dataKecamatan" value-field="kecamatanID" text-field="namaKecamatan" @input="changeKecamatan()"></b-form-select>
						</dd>
						</dl>
						<dl class="row mb-1">
						<dt class="col-sm-5">Kelurahan</dt>
						<dd class="col-sm-7">
							<b-form-select size="sm" v-model="update.alamat.kelurahan.new_value" :options="dataKelurahan"  value-field="ID" text-field="_nama_kelurahan" @input="changeKelurahan()"></b-form-select>
						</dd>
						</dl>
						<dl class="row mb-1">
						<dt class="col-sm-5">Kodepos</dt>
						<dd class="col-sm-7">{{ update.alamat.kodepos.new_value }}</dd>
						</dl>
						<dl class="row mb-1">
						<dt class="col-sm-5">Kode P2TEL</dt>
						<dd class="col-sm-7">{{ update.alamat.cabangp2tel.new_value }}</dd>
						</dl>
					</template>

				</div>
				<div slot="modal-footer" class="w-100 mb-3">
					<b-btn size="sm" class="float-left" variant="primary" @click="batal()">
						Batal
					</b-btn>
					<b-btn size="sm" class="float-right" variant="primary" @click="postEdit()" :disabled = true >
						Update
					</b-btn>
				</div>
				
			
			</b-modal>
			
			<div class="row">
				<div class="col-md-12">
					<dl class=" row border-bottom" >
						<dt class="col-sm-3">Jalan</dt>
						<dd class="col-sm-3">{{ addrmakeVal(perubahanDataAlamat.jalan) }}</dd>
					</dl>
					<dl class=" row border-bottom" >
						<dt class="col-sm-3">Komplek / Kampung</dt>
						<dd class="col-sm-3">{{ addrmakeVal(perubahanDataAlamat.komp) }}</dd>
					</dl>
					<dl class=" row border-bottom" >
						<dt class="col-sm-3">Blok</dt>
						<dd class="col-sm-3">{{ addrmakeVal(perubahanDataAlamat.blok) }}</dd>
					</dl>
					<dl class=" row border-bottom" >
						<dt class="col-sm-3">Nomor</dt>
						<dd class="col-sm-3">{{ addrmakeVal(perubahanDataAlamat.no) }}</dd>
					</dl>
					<dl class=" row border-bottom" >
						<dt class="col-sm-3">RT</dt>
						<dd class="col-sm-3">{{ addrmakeVal(perubahanDataAlamat.rt) }}</dd>
					</dl>
					<dl class=" row border-bottom" >
						<dt class="col-sm-3">RW</dt>
						<dd class="col-sm-3">{{ addrmakeVal(perubahanDataAlamat.rw) }}</dd>
					</dl>
					<dl class=" row border-bottom" >
						<dt class="col-sm-3">{{ addrmakeKey(alamatutama.namakelurahan, 'Kelurahan') }}</dt>
						<dd class="col-sm-3">{{ addrmakeVal(perubahanDataAlamat.namakelurahan) }}</dd>
					</dl>
					<dl class=" row border-bottom" >
						<dt class="col-sm-3">{{ addrmakeKey(alamatutama.namakecamatan, 'Kecamatan') }}</dt>
						<dd class="col-sm-3">{{ addrmakeVal(perubahanDataAlamat.namakecamatan) }}</dd>
					</dl>
					<dl class=" row border-bottom" >
						<dt class="col-sm-3">{{ addrmakeKey(alamatutama.namakota, 'Kota') }}</dt>
						<dd class="col-sm-3">{{ addrmakeVal(perubahanDataAlamat.namakota) }}</dd>
					</dl>
					<dl class=" row border-bottom" >
						<dt class="col-sm-3">{{ addrmakeKey(alamatutama.namaprovinsi, 'Provinsi') }}</dt>
						<dd class="col-sm-3">{{ addrmakeVal(perubahanDataAlamat.namaprovinsi) }}</dd>
					</dl>
					<dl class=" row border-bottom" >
						<dt class="col-sm-3">{{ addrmakeKey(alamatutama.kodepos, 'Kode Pos') }}</dt>
						<dd class="col-sm-3">{{ addrmakeVal(perubahanDataAlamat.kodepos) }}</dd>
					</dl>
				</div>
			</div>
	  </address>
	</div>
</template>
<script>
	import { HTTP } from '@/config'
	import * as _ from 'underscore'
	export default {
		props: [ 'alamatutama', 'alamatlain', 'alamatlainlength', 'perubahanAlamat' ],
		data () {
			return {
				al: {

				},
				dataProvinsi: [],
				dataKota: [],
				dataKecamatan: [],
				dataKelurahan: [],
				titleModalAlamatDefault: '',
				dataAlamatDefault: {},

				update:{ 
					alamat: {
						jalan: {
							new_value: null,
							confirm: null
						},
						komp: {
							new_value: null,
							confirm: null
						},
						blok: {
							new_value: null,
							confirm: null
						},
						no: {
							new_value: null,
							confirm: null
						},
						rt: {
							new_value: null,
							confirm: null
						},
						rw: {
							new_value: null,
							confirm: null
						},
						kelurahan: {
							new_value: null,
							confirm: null
						},
						kecamatan: {
							new_value: null
						},
						kota: {
							new_value: null
						},
						provinsi: {
							new_value: null
						},
						kodepos: {
							new_value: null
						},
							cabangp2tel: {
							new_value: null
						},
						wilayah: {
							confirm: null,
							new_value: null
						}
					},
				},
				options: [
					{ text: 'Benar', value: false, extra: 'custom-control-success'},
					{ text: 'Salah', value: true,  extra: 'custom-control-danger'}
	      		],
			}
		},
		computed: {
			getKota () {
				return HTTP.get(`masterlokasi/kota/${ this.update.alamat.provinsi.new_value }`)
				.then(res => {
				this.dataKota = res.data
				})
			},
			getKecamatan () {
				return HTTP.get(`masterlokasi/kecamatan/${ this.update.alamat.kota.new_value }`)
				.then(res => {
				this.dataKecamatan = res.data
				})
			},
			getKelurahan () {
				return HTTP.get(`masterlokasi/kelurahan/${ this.update.alamat.kecamatan.new_value }`)
				.then(res => {
				this.dataKelurahan = res.data
				})
			},
			perubahanDataAlamat () {
				let b = this.alamatutama
				let a = this.perubahanAlamat[0]
				if (this.perubahanAlamat.length === 0) {
				return {
					jalan: b.jalan,
					komp: b.komp,
					blok: b.blok,
					no: b.no,
					rt: b.rt,
					rw: b.rw,
					namakelurahan: b.namakelurahan,
					namakecamatan: b.namakecamatan,
					namakota: b.namakota,
					namaprovinsi: b.namaprovinsi,
					kodepos: b.kodepos,
					cabangp2tel: b.cabangp2tel
				}
				} else {
				return {
					jalan: a._jalan,
					komp: a._komp,
					blok: a._blok,
					no: a._no,
					rt: a._rt,
					rw: a._rw,
					namakelurahan: a._nama_kelurahan,
					namakecamatan: a._nama_kecamatan,
					namakota: a._nama_kota,
					namaprovinsi: a._nama_provinsi,
					kodepos: a._kode_pos,
					cabangp2tel: a._tbl_cabang_p2tel
				}
				}
				// return this.alamat
			},
		},
		asyncComputed: {
			getProvinsi () {
				return HTTP.get('masterlokasi')
				.then(res => {
					this.dataProvinsi = res.data
				})
			}
		},
		methods: {
			btnEdit(){
				this.$refs.updateAlamat.show()    
			},

			closeEditAlamat () {
				this.al = {}
			},
			changeProv () {
				this.al.kodeKota = null
				this.al.kodeKecamatan = null
				this.al.kodeKelurahan = null
				this.al.kodepos = null
				this.al.cabangp2tel = null
				this.getKota
			},
			changeKota () {
				this.getKecamatan
			},
			changeKecamatan () {
				this.getKelurahan
			},
			changeKelurahan () {
				this.update.alamat.kodepos.new_value = _.where(this.dataKelurahan, { ID: this.update.alamat.kelurahan.new_value })[0]._kode_pos
				this.update.alamat.cabangp2tel.new_value = _.where(this.dataKelurahan, { ID: this.update.alamat.kelurahan.new_value })[0]._tbl_cabang_p2tel
			},
			editAlamatUtama (data) {
				this.al = data
				this.getKota
				this.getKecamatan
				this.getKelurahan
				this.$refs.modalAlamatUtama.show()
			},
			checkAlamat () {
				console.log(this.update.alamat.jalan.confirm)
					console.log(this.checkJalan)
				if (this.checkJalan) {
					
				return false
				} else {
				return true
				}
			},
			checkJalan () {
				if (this.update.alamat.jalan.confirm !== null ) {
					if (this.update.alamat.jalan.confirm === true && this.update.alamat.jalan.new_value !== null && this.update.alamat.jalan.new_value !== '') {
						return true
					} else if (this.update.alamat.jalan.confirm === false) {
						return true
					} else {
						return false
					}
					} else {
					return false
				}
			},
			checkKomp () {
				if (this.update.alamat.komp.confirm !== null ) {
				if (this.update.alamat.komp.confirm === true && this.update.alamat.komp.new_value !== null && this.update.alamat.komp.new_value !== '') {
					return true
				} else if (this.update.alamat.komp.confirm === false) {
					return true
				} else {
					return false
				}
				} else {
				return false
				}
			},
			checkBlok () {
				if (this.update.alamat.blok.confirm !== null ) {
				if (this.update.alamat.blok.confirm === true && this.update.alamat.blok.new_value !== null && this.update.alamat.blok.new_value !== '') {
					return true
				} else if (this.update.alamat.blok.confirm === false) {
					return true
				} else {
					return false
				}
				} else {
				return false
				}
			},
			checkNo () {
				if (this.update.alamat.no.confirm !== null ) {
				if (this.update.alamat.no.confirm === true && this.update.alamat.no.new_value !== null && this.update.alamat.no.new_value !== '') {
					return true
				} else if (this.update.alamat.no.confirm === false) {
					return true
				} else {
					return false
				}
				} else {
				return false
				}
			},
			checkRT () {
				if (this.update.alamat.rt.confirm !== null ) {
				if (this.update.alamat.rt.confirm === true && this.update.alamat.rt.new_value !== null && this.update.alamat.rt.new_value !== '') {
					return true
				} else if (this.update.alamat.rt.confirm === false) {
					return true
				} else {
					return false
				}
				} else {
				return false
				}
			},
			checkRW () {
				if (this.update.alamat.rw.confirm !== null ) {
				if (this.update.alamat.rw.confirm === true && this.update.alamat.rw.new_value !== null && this.update.alamat.rw.new_value !== '') {
					return true
				} else if (this.update.alamat.rw.confirm === false) {
					return true
				} else {
					return false
				}
				} else {
				return false
				}
			},
			checkWilayah () {
				if (this.update.alamat.wilayah.confirm !== null ) {
				if (this.update.alamat.wilayah.confirm === true && this.update.alamat.cabangp2tel.new_value !== null) {
					return true
				} else if (this.update.alamat.wilayah.confirm === false) {
					return true
				} else {
					return false
				}
				} else {
				return false
				}
			},

			postalamat (kode) {
				if (kode === 7001) {
					HTTP.post('perubahan/alamat', {
						token: this.$store.state.login.token,
						id_alamat: this.al.id,
						jalan: this.al.jalan,
						komp: this.al.komp,
						blok: this.al.blok,
						no: this.al.no,
						rt: this.al.rt,
						rw: this.al.rw,
						id_pmp: (this.al.id).split('.')[0].concat((this.al.id).split('.')[1]),
						kelurahan_id: this.al.kodeKelurahan,
						default: this.al.default,
						_no_urut_alamat: (this.al.id).split('.')[2],
						kode: kode

					}).then(res => { location.reload() })
				} else if(kode === 7002) {
					HTTP.post('perubahan/alamat', {
						token: this.$store.state.login.token,
						id_alamat: this.al.id,
						jalan: this.al.jalan,
						komp: this.al.komp,
						blok: this.al.blok,
						no: this.al.no,
						rt: this.al.rt,
						rw: this.al.rw,
						id_pmp: this.al.id_pmp,
						kelurahan_id: this.al.kodeKelurahan,
						default: this.al.default,
						kode: kode

					}).then(res => { location.reload() })
				} else if (kode === 7003) {
					HTTP.post('perubahan/alamat', {
						token: this.$store.state.login.token,
						id_alamat: this.dataAlamatDefault.id,
						id_pmp: (this.dataAlamatDefault.id).split('.')[0].concat((this.dataAlamatDefault.id).split('.')[1]),
						kode: kode

					}).then(res => { location.reload() })
				}
			},
			ubahAlamatstate (kode, id) {
				return _.where(this.perubahanAlamat, { id_alamat: id }).length !== 0 ? true : false
			},
			tambahAlamatState (kode) {
				return _.where(this.perubahanAlamat, { kode_laporan: kode }).length !== 0 ? true : false
			},
			alamatDefault (vm, index) {
				this.titleModalAlamatDefault = `Jadikan alamat lain ${ index + 1} menjadi alamat utama`
				this.dataAlamatDefault = vm
				this.$refs.modalAlamatDefault.show()
			},
			tambahAlamat () {
				this.al = {
					jalan: null,
					komp: null,
					blok: null,
					no: null,
					rt: null,
					rw: null,
					kodeKelurahan: null,
					kodeKecamatan: null,
					kodeKota: null,
					kodeProvinsi: null,
					default: 0,
					cabangp2tel: null,
					id_pmp: this.$route.path.split('/')[2]
				}
				this.$refs.modalTambahAlamat.show()
			},
			addrmakeVal(val) {
				if (val === null || typeof val === 'undefined' || val === '-' || val === '' || val === ' ') {
					return null
				} else {
					return val
				}
			},
			addrmakeBlock(val) {
				if (val === null || typeof val === 'undefined' || val === '-' || val === '' || val === ' ') {
					return false
				} else {
					return true
				}
			},
			addrmakeKey(val, key) {
				if (val === null || typeof val === 'undefined' || val === '-' || val === '' || val === ' ') {
					return null
				} else {
					return key
				}
			}
		}
	}
</script>
<style scoped>
.border-bottom{
	border-bottom:solid 1px #ddd;
}
dt{
	font-weight:bold;
}
dl,dd{
	margin-bottom:0;
}
</style>