<template>
	
	<div>
		
    	<b-form inline>
      		<h2>Tanggal Meninggal - {{ checkTglMeninggal(dataasli.tanggal_meninggal) }}</h2>
    	</b-form>
		<button class="btn btn-danger btn-sm" @click="btnEditTglMeninggal()">Edit </button>
		<b-modal ref="updateTanggalMeninggal" hide-footer title="Update Tanggal Meninggal">
			<div class="d-block text-center">
				<div class="form-group">
				<label for="input-normal">Tanggal Meninggal</label>
				<input type="date" class="form-control" v-model="updateTglMeninggal">
				</div>
			</div>
			
			<b-btn class="col-md-12"  variant="outline-danger" block @click="postEditTglMeninggal()">Save</b-btn>
		
		</b-modal>

		
  	</div>

	
</template>
<script>
	import * as _ from 'underscore'
	import { HTTP, HTTPFORM } from '@/config'
	export default {
		props: [ 'dataasli', 'perubahan' ],
		data () {
			return {
				tgl_meninggal: null,
				updateTglMeninggal: null,
			}
		},

		methods: {
			checkTglMeninggal(i){
				if (i === null){
					return "-"
				} else {
					return i
				}
			},

			btnEditTglMeninggal(){
				this.$refs.updateTanggalMeninggal.show()    
			},
			postEditTglMeninggal(){
				HTTP.post('admin/ubah-biodata', { token: this.$store.state.login.token, id_pmp:this.dataasli.id , data_perubahan:"_tgl_meninggal", value:this.updateTglMeninggal })
				.then(res => {
				location.reload()
			})
    }

			

		}

	}
</script>
<style scoped>
.border-bottom{
	border-bottom:solid 1px #ddd;
}
dl,dd{
	margin-bottom:0;
}
</style>