<div id="app">
  <!-- default -->
  <b-form-textarea ref="default" v-model="text" placeholder="Type something">
  </b-form-textarea>
  <br><br>

  <!-- rows and max-rows -->
  <b-form-textarea ref="rows" :rows="4" :max-rows="10"v-model="text" placeholder="Type something">
  </b-form-textarea>
  <br><br>

  <!-- state -->
  <b-form-textarea ref="invalid" state="invalid" v-model="text" placeholder="Type something">
  </b-form-textarea>
  <br><br>
  
  <!-- value -->
  <b-form-textarea ref="value" v-model="value">
  </b-form-textarea>
  <br><br>
 
</div>
