<div id="app">

    <b-progress :value="progress" show-progress animated class="mb-4"></b-progress>

    <b-progress class="mb-4">
        <b-progress-bar :value="progress" show-progress animated variant="danger"></b-progress-bar>
    </b-progress>

    <b-progress variant="primary" animated striped class="mb-4">
        <b-progress-bar :value="progress" show-progress></b-progress-bar>
    </b-progress>

    <b-progress :max="150" height="2rem" class="mb-4">
        <b-progress-bar :value="progress" variant="primary" animated striped show-value></b-progress-bar>
        <b-progress-bar :value="10" variant="success" show-value></b-progress-bar>
    </b-progress>

    <b-btn class="mt-4" @click="clicked">Click me</b-btn>

</div>
