<template>
  <inside :username="userData._username">    
    <header class="header bg-dark" style="background-image: url(http://thetheme.io/theadmin/assets/img/gallery/8.jpg)">
      <div class="header-info h-120px mb-0">
        <div class="media align-items-end">
          <div class="media-body">
            <h3 class="text-white opacity-90"><strong>{{ nama }} | {{ nik }}</strong></h3>
            <small class="text-white opacity-80">{{ nama_cabang }}</small><br>
            <small class="text-white opacity-80">{{ kategori_kunjungan }} - {{ status_absen }}</small><br>
          </div>
        </div>
      </div>
    </header>

    <div class="main-content">
      <div class="card">
        <div class="card-body">
          <div v-if="checkKategoriKunjungan">
              <b-alert show>Terimakasih Telah Melakukan Survey untuk PMP - {{ nama }}</b-alert>
          </div>
          <div v-if="!checkKategoriKunjungan">
              <b-alert show>Terimakasih Telah Melakukan Survey untuk PMP - {{ nama }}, Harap Melakukan Kunjungan dan Isi Form Kunjungan</b-alert>
          </div>
          <div>
              <b-button variant="success" @click="kembaliKeDaftar()">Kembali Ke daftar</b-button>
              <b-button v-if="!checkKategori" variant="success" @click="lanjutKeFormKunjungan()">Lanjut ke Form Kunjungan</b-button>
            </div>
        </div>
      </div>
    </div>
  </inside>
  
</template>
<script>
import inside from '@/layout/inside'

import { HTTP } from '@/config'
import { HTTPFORM } from '@/config'
import check from '@/util/check-status-datul'
export default {
  components: {
    inside
  },
  data () {
  	return {
  		datax: [],
		  data: {},
		  id_pmp: '',
  		nama: '',
  		nik: '',
      nama_cabang: '',
      
      status_absen_id:null,
      status_absen:'',

      kategori_kunjungan_id:null,
      kategori_kunjungan:'',

      userData: {},
    

  	}
  },
  asyncComputed: {
  	getDataPMP () {
  		return HTTP.post(`absen/dashboard/detailPmp/${ this.$route.params.id }`, { id_pmp: this.$route.params.id ,token: this.$store.state.login.token})
  		.then(res => {
			this.id_pmp = res.data.rows[0].id
			this.nama = res.data.rows[0].nama
      this.nik = res.data.rows[0].nik
      this.nama_cabang = `P2TEL ${ res.data.rows[0].nama_mitra }`

      this.status_absen_id = res.data.rows[0].status_code
      
      if ( res.data.rows[0].status_code === 0) {
        this.status_absen = 'Belum Survey'
      } else if ((res.data.rows[0].status_code === 1) ) {
        this.status_absen = 'Selesai Survey'
      } else if ((res.data.rows[0].status_code === 2) ) {
        this.status_absen = 'Menunggu Kunjungan' 
      } else if (res.data.rows[0].status_code === 3 ){
        this.status_absen = 'Selesai Kunjungan'
      } 

      // this.status_absen = res.data.rows[0].status_title

      this.kategori_kunjungan_id = res.data.rows[0].kategori_kunjungan
      this.kategori_kunjungan = res.data.rows[0].kategori_title
      
			this.data = res.data.data.data[0]
			this.datax = res.data.data
  		})
  	}
  },
  computed: {
    checkKategori () {
      if (this.kategori_kunjungan_id === 1) {
        return false
      } else {
        return true
      }
    },

    checkKategoriKunjungan () {
      if (this.kategori_kunjungan_id === 1) {
        return false
      } else {
        return true
      }
    }

  },
  methods: {
    checkStatus (i) {
      return check(i)
    },
    
    lanjutKeFormKunjungan() { 
      this.$router.push(`/pelayanan/non-datul-dan-kunjungan/form-kunjungan/${ this.id_pmp }`)
        
    },

    kembaliKeDaftar(){
      this.$router.push(`/pelayanan/non-datul-dan-kunjungan`)
    }
    
  },
  beforeMount () {
    
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          // console.log(res)
          next('/absen' + this.$route.path.split('/')[2])
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style>
.header {
	margin-bottom: 0;
}
.card .tabs .card-header ul{
	margin-bottom: 0px;
}
.card .tabs .card-header{
	padding:0 !important;
}
.modal-content{
	background-color: white !important;
}
</style>
