<template>
  <inside :username="username">
    <template slot="header">
      <header class="header bg-dark">
          <div class="header-info">
            <div class="left">
              <h2 class="header-title text-white"><strong>Daftar Survey</strong></h2>
            </div>

          </div>
        </header>
    </template>
    <template slot>
      <b-tabs>
        <list-absen :data="dataListAnggota"></list-absen>        
      </b-tabs>
    </template>
  </inside>
</template>
<script>
import * as _s from 'underscore.string'
import inside from '@/layout/inside'
import listAbsen from '@/pages/pelayanan/non-datul-dan-kunjungan/list-absen'
import  FileSaver from 'file-saver'
import { HTTP, HTTPEXCEL } from '@/config'
export default {
  components: {
    inside, listAbsen
  },
  data () {
    return {
      userData: {},
      username: '',
      dataListAnggota: [],
      busy: true
    }
  },
  computed: {
    p2telcabang () {
      if (this.userData._cabang_p2tel === null) {
        return null
      } else {
        return `P2TEL ${ this.userData._cabang_p2tel }`
      }
    }
  },
  methods: {
    
  },
  asyncComputed: {
    listAnggota () {
      return HTTP.post('absen/dashboard/byStatus', { token: this.$store.state.login.token, status: null })
      .then(res => {
        this.dataListAnggota = res.data.rows
        this.totalListAnggota = res.data.rows.length
        this.busy = false
      })
    }
  },
  
  beforeMount () {
    
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          next('/pelayanan/non-datul-dan-kunjungan/daftar-absen')
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style scoped>
.header {
  margin-bottom: 0 !important;
}
</style>
