<template>
  <inside :username="userdata._username">
    
    <div v-if="!checkPeriodeKunjungan()">
      <notif-kunjungan></notif-kunjungan>
      <!-- <b-alert show>Mohon maaf, Datul Periode Semester I 2018 saat ini telah berakhir. Terima kasih atas partisipasi bapak dan ibu sekalian dalam mendatulkan anggotanya.</b-alert> -->
    </div>

    <template>
      <div class="row pl-20 pr-20 pt-10">
        <!-- <div class="col-lg-12" @click="pelayananNonDatulDanKunjungan()">
          <wid-one title="Pelayanan Non Datul dan Kunjungan" :icon="checkBusy('fa-file-text-o text-white')" bg-color="bg-dark" text-color="text-white" :number="total" ></wid-one>
        </div>
            
        <div class="col-lg-6" @click="belum()">
          <wid-one title="Belum Survey" :icon="checkBusy('fa-file-text-o text-white')" bg-color="bg-primary" text-color="text-white" :number="total_belum_absen" ></wid-one>
        </div>

        <div class="col-lg-6" @click="selesai()">
          <wid-one title="Selesai Survey" :icon="checkBusy('fa-file-text-o text-white')" bg-color="bg-success" text-color="text-white" :number="total_selesai_absen" ></wid-one>
        </div> -->

        <div class="col-lg-12" @click="totalKunjungan()">
          <wid-one title="Total Kunjungan" :icon="checkBusy('fa-file-text-o text-white')" bg-color="bg-brown" text-color="text-white" :number="total_kunjungan" ></wid-one>
        </div>

        <!-- <div class="col-lg-4" @click="belumAbsenDanKunjungan()">
          <wid-one title="Belum Survey dan Kunjungan" :icon="checkBusy('fa-file-text-o text-white')" bg-color="bg-danger" text-color="text-white" :number="total_kunjungan_belum_absen" ></wid-one>
        </div> -->

        <div class="col-lg-6" @click="menungguKunjungan()">
          <wid-one title="Menunggu Kunjungan" :icon="checkBusy('fa-file-text-o text-white')" bg-color="bg-yellow" text-color="text-white" :number="total_menunggu_kunjungan" ></wid-one>
        </div>

        <div class="col-lg-6" @click="selesaiKunjungan()">
          <wid-one title="Selesai Kunjungan" :icon="checkBusy('fa-file-text-o text-white')" bg-color="bg-info" text-color="text-white" :number="total_selesai_kunjungan" ></wid-one>
        </div>         
      </div>
    </template>
  </inside>
</template>
<script>
import * as _ from 'underscore'
import { HTTP } from '@/config'
import inside from '@/layout/inside'
import widOne from '@/widget/wid-one'
import widTwo from '@/widget/wid-two'

export default {
  components: {
    inside, widOne, widTwo
  },
  data () {
  	return {
  		total: null,
      total_belum_absen: null,
      total_selesai_absen: null,
      total_menunggu_kunjungan: null,
      total_selesai_kunjungan: null,
  		busy: true,
      userdata: {}
  	}
  },
  asyncComputed: {
    listAnggota () {
      return HTTP.post('absen/dashboard/count', { token: this.$store.state.login.token, status: null })
      .then(res => {
        this.dataDashboard = res.data.rows
        this.total = res.data.rows[0].count
        this.total_belum_absen = res.data.rows[1].count
        this.total_selesai_absen = res.data.rows[2].count
        this.total_menunggu_kunjungan = res.data.rows[4].count
        this.total_selesai_kunjungan = res.data.rows[5].count
        this.total_kunjungan = res.data.rows[6].count
        this.total_kunjungan_belum_absen = res.data.rows[7].count
        this.busy = false
      })
    }
  },
  methods: {
  	checkBusy (i) {
  		if (this.busy) {
  			return 'fa-spinner fa-pulse text-white'
  		} else {
  			return i
  		}
    },

    checkPeriodeKunjungan () {
      return this.$store.state.login.kunjungan.status
		},

    

    pelayananNonDatulDanKunjungan() {
      this.$router.push('/pelayanan/non-datul-dan-kunjungan/daftar-absen')
    },

    belum() {
      this.$router.push('/pelayanan/non-datul-dan-kunjungan/daftar-belum')
    },

    selesai() {
      this.$router.push('/pelayanan/non-datul-dan-kunjungan/daftar-selesai')
    },

    totalKunjungan() {
      this.$router.push('/pelayanan/non-datul-dan-kunjungan/daftar-kunjungan')
    },

    belumAbsenDanKunjungan() {
      this.$router.push('/pelayanan/non-datul-dan-kunjungan/daftar-belum-absen-dan-kunjungan')
    },
    
    menungguKunjungan() {
      this.$router.push('/pelayanan/non-datul-dan-kunjungan/daftar-menunggu-kunjungan')
    },

    selesaiKunjungan() {
      this.$router.push('/pelayanan/non-datul-dan-kunjungan/daftar-selesai-kunjungan')
    },
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      this.userdata = res.data.data
    })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style>

</style>

