<template>
  <inside :username="userData._username">
    
    <header class="header bg-dark" style="background-image: url(http://thetheme.io/theadmin/assets/img/gallery/8.jpg)">
      <div class="header-info h-120px mb-0">
        <div class="media align-items-end">
          <div class="media-body">
            <h3 class="text-white opacity-90"><strong>{{ nama }} | {{ nik }}</strong></h3>
            <small class="text-white opacity-80">{{ nama_cabang }}</small><br>
            <small class="text-white opacity-80">{{ kategori_kunjungan }} - {{ status_absen }}</small><br>
          </div>
        </div>
      </div>
    </header>

    <div class="main-content">
      <div class="card">
        <div class="card-body">
          <b-form-group :label="konfirmasiKunjunganLabel">
            <b-form-radio-group  v-model="selectedKonfirmasiKunjungan1" :options="options1" stacked>
            </b-form-radio-group>
          </b-form-group>
        

          <div v-if="!checkKonfirmasiKunjungan">
            <b-form-group :label="konfirmasiKunjunganLabel2">
              <b-form-radio-group v-model="selectedKonfirmasiKunjungan2" :options="options2" stacked></b-form-radio-group>
              <b-form-input v-if="checkKonfirmasiKunjungan2" v-model="kunjunganDengan" type="text" placeholder="Masukkan Nama keluarga/family"></b-form-input>
            </b-form-group>

            <b-form-group :label="tanggalKunjunganLabel">
             <div class="col-lg-3" >
                <datepicker v-model="tanggalKunjungan" input-class="form-control" calendar-class="datepicker-days" language="id" format="dd-MM-yyyy" :disabled="disabledWaktuKunjungan"></datepicker>
              </div>
            </b-form-group>

            <b-form-group :label="petugasKunjunganLabel">
              <b-form-select v-model="selectedPetugasKunjungan" :options="petugas.options"  class="mb-3" />
            </b-form-group>

            <b-form-group :label="uploadFotoKunjunganlabel">
              <b-form-file class="col-lg-9" v-model="uploadFotoKunjungan" :state="Boolean(file)" placeholder="Pilih File..." accept=".jpg, .pdf, .jpeg"></b-form-file>
              <b-form-checkbox class="col-lg-3"
                     v-model="checkUploadFotoKunjungan"
                     value="true">
                     Upload Nanti
            </b-form-checkbox>
            </b-form-group>
            

            <b-form-group :label="uploadFormKunjunganlabel">
              <b-form-file v-model="uploadFormKunjungan" :state="Boolean(file)" placeholder="Pilih File..." accept=".jpg, .pdf, .jpeg"></b-form-file>
              <b-form-checkbox class="col-lg-3"
                     v-model="checkUploadFormKunjungan"
                     value="true">
                     Upload Nanti
            </b-form-checkbox>
            </b-form-group>

            <div>
              <b-button variant="success" @click="kunjunganSubmit()" :disabled="disableSubmitKunjungan">Submit</b-button>
              <b-button variant="danger" @click="batal()" >Batal</b-button>
            </div>

          </div>
          <div v-if="checkKonfirmasiKunjungan">
              <b-alert show>Harap mengunjungi PMP - {{ nama }} sebelum mengisi form kunjungan.</b-alert>
              <b-button variant="danger" @click="batal()" >Kembali Ke Daftar</b-button>
          </div>
        </div>
      </div>
    </div>
  </inside>
  
</template>
<script>
import inside from '@/layout/inside'
import Datepicker from 'vuejs-datepicker'
import moment from 'moment'
import { HTTP } from '@/config'
import { HTTPFORM } from '@/config'
import check from '@/util/check-status-absen'
export default {
  components: {
    inside , Datepicker
  },
  data () {
  	return {
  		datax: [],
		  data: {},
		  id_pmp: '',
  		nama: '',
  		nik: '',
      nama_cabang: '',
      
      status_absen_id:null,
      status_absen:'',

      kategori_kunjungan_id:null,
      kategori_kunjungan:'',

      absen_id:null,
      
      userData: {},

      tanggalKunjungan:null,
      checkUploadFotoKunjungan:false,
      checkUploadFormKunjungan:false,
      uploadFotoKunjungan:null,
      uploadFormKunjungan:null,
      selectedKonfirmasiKunjungan1: null,
      selectedKonfirmasiKunjungan2: null,
      kunjunganDengan :'',
    
      
      options1: [
        { text: 'Ya', value: 'ya' },
        { text: 'Tidak', value: 'tidak' }
      ],

      options2: [
        { text: 'Berjumpa langsung dengan PMP', value: 'Berjumpa langsung dengan PMP' },
        { text: 'Berjumpa hanya dengan keluarga/family, sebutkan', value: 'Berjumpa hanya dengan keluarga/family' }
      ],
    
      selectedPetugasKunjungan: null,
      

      disabledWaktuKunjungan: {
          from: new Date(),
        to: new Date(2018,4,1)
        },

      petugas: {
        old_value: null,
        confirm: null,
        new_value: null,
        options: []
      }

  	}
  },
  asyncComputed: {
    getPetugas () {
        return HTTP.post('master/petugas', {
          token: this.$store.state.login.token
        }).then(res => {
          this.petugas.options = res.data.data
        })

    },

  	getDataPMP () {
  		return HTTP.post(`absen/dashboard/detailPmp/${ this.$route.params.id }`, { id_pmp: this.$route.params.id ,token: this.$store.state.login.token})
  		.then(res => {
			this.id_pmp = res.data.rows[0].id
			this.nama = res.data.rows[0].nama
      this.nik = res.data.rows[0].nik
      this.nama_cabang = `P2TEL ${ res.data.rows[0].nama_mitra }`

      this.status_absen_id = res.data.rows[0].status_code
      if ( res.data.rows[0].status_code === 0) {
        this.status_absen = 'Belum Survey'
      } else if ((res.data.rows[0].status_code === 1) ) {
        this.status_absen = 'Selesai Survey'
      } else if ((res.data.rows[0].status_code === 2) ) {
        this.status_absen = 'Menunggu Kunjungan' 
      } else if (res.data.rows[0].status_code === 3 ){
        this.status_absen = 'Selesai Kunjungan'
      }

      this.kategori_kunjungan_id = res.data.rows[0].kategori_kunjungan
      this.kategori_kunjungan = res.data.rows[0].kategori_title

      this.absen_id = res.data.rows[0].absen_id
      
			this.data = res.data.data.data[0]
			this.datax = res.data.data
  		})
  	}
  },
  computed: {
    checkKonfirmasiKunjungan () {
      if (this.selectedKonfirmasiKunjungan1 !== 'tidak') {
        return false
      } else {
        return true
      }
    },
    checkKonfirmasiKunjungan2 () {
      if (this.selectedKonfirmasiKunjungan2 !== 'Berjumpa hanya dengan keluarga/family') {
        return false
      } else {
        return true
      }
    },
    konfirmasiKunjunganLabel () {
      return `1. Apakah Petugas PC - ${ this.nama_cabang } sudah mengunjungi PMP - ${ this.nama } selama bulan Mei - Juni 2018 ini?`
    },

    konfirmasiKunjunganLabel2 () {
      return `2. Apakah Petugas PC - ${ this.nama_cabang } berjumpa langsung dengan PMP - ${ this.nama } atau dengan keluarga/family?`
    },

    tanggalKunjunganLabel(){
      return `3. Pada tanggal berapa Petugas PC - ${ this.nama_cabang } mengunjungi PMP - ${ this.nama } ?`
    },

    petugasKunjunganLabel(){
      return `4. Siapa Petugas PC - ${ this.nama_cabang } yang mengunjungi PMP - ${ this.nama } ?`
    },

    uploadFotoKunjunganlabel(){
      return `Setelah Anda mengisi isian di atas, silakan upload foto kunjungan  `
    },

    uploadFormKunjunganlabel(){
      return `Setelah Anda mengisi isian di atas, silakan upload form kunjungan yang telah diisi dan ditandatangani`
    },

    disableSubmitKunjungan(){
      if ((this.selectedKonfirmasiKunjungan1===null) || (this.selectedKonfirmasiKunjungan2===null) || (this.selectedPetugasKunjungan===null) || (this.tanggalKunjungan===null)||((this.uploadFotoKunjungan===null)&&(this.checkUploadFotoKunjungan===false))||((this.uploadFormKunjungan===null)&&(this.checkUploadFormKunjungan===false))){
        return true
      } else {
        return false
      }
    }

    
  },
  methods: {
    checkStatus (i) {
      return check(i)
    },

    uploadFile () {
        let formData = new FormData()
        formData.append('id_pmp', this.id_pmp)
        formData.append('dokumen', this.photo)
        HTTPFORM.post('absen/upload', formData)
        .then((res) => {
          location.reload()
        })
    },

    kunjunganSubmit() {
      
      if (this.kunjunganDengan === ''){
        this.kunjunganDengan =  '-'
      } else {
        this.kunjunganDengan = this.kunjunganDengan
      }
      let loader = this.$loading.show()
      if ((this.checkUploadFotoKunjungan)&&(this.checkUploadFormKunjungan)){
        
        HTTP.post('absen/kunjungan', { 
        absen_id:this.absen_id,
        tgl_kunjungan: moment(this.tanggalAbsen).format(),
        petugas_kunjungan: this.selectedPetugasKunjungan,
        cara_kunjungan_id: this.selectedKonfirmasiKunjungan2,
        kunjungan_dengan: this.kunjunganDengan,
        token:this.$store.state.login.token,
        }).then(()=>{
          loader.hide()
          this.$router.push(`/pelayanan/non-datul-dan-kunjungan/kunjungan-sukses/${ this.id_pmp }`)
          
        })
        
      } else if (((!this.checkUploadFotoKunjungan)&&(this.checkUploadFormKunjungan))){
        let fotoData = new FormData()
        fotoData.append('id_pmp', this.id_pmp)
        fotoData.append('dokumen_type','foto')
        fotoData.append('dokumen', this.uploadFotoKunjungan)
        
        // formData.append('token', this.$store.state.login.token)
        
        HTTPFORM.post('absen/upload/fotoKunjungan', fotoData)
        .then((res) => {
          HTTP.post('absen/kunjungan', { 
          absen_id:this.absen_id,
          tgl_kunjungan: moment(this.tanggalAbsen).format(),
	        petugas_kunjungan: this.selectedPetugasKunjungan,
	        cara_kunjungan_id: this.selectedKonfirmasiKunjungan2,
          kunjungan_dengan: this.kunjunganDengan,
          token:this.$store.state.login.token,
          }).then(()=>{
            loader.hide()
            this.$router.push(`/pelayanan/non-datul-dan-kunjungan/kunjungan-sukses/${ this.id_pmp }`)
            
          })
        })
      } else if (((this.checkUploadFotoKunjungan)&&(!this.checkUploadFormKunjungan))){
        
        let formData = new FormData()
        formData.append('id_pmp', this.id_pmp)
        formData.append('dokumen_type','form')
        formData.append('dokumen', this.uploadFormKunjungan)
        
        // formData.append('token', this.$store.state.login.token)
        
        HTTPFORM.post('absen/upload/formKunjungan', formData)
        .then((res) => {
          HTTP.post('absen/kunjungan', { 
          absen_id:this.absen_id,
          tgl_kunjungan: moment(this.tanggalAbsen).format(),
	        petugas_kunjungan: this.selectedPetugasKunjungan,
	        cara_kunjungan_id: this.selectedKonfirmasiKunjungan2,
          kunjungan_dengan: this.kunjunganDengan,
          token:this.$store.state.login.token,
          }).then(()=>{
            loader.hide()
            this.$router.push(`/pelayanan/non-datul-dan-kunjungan/kunjungan-sukses/${ this.id_pmp }`)
          })
        })

      } else {
        
        let fotoData = new FormData()
        fotoData.append('id_pmp', this.id_pmp)
        fotoData.append('dokumen_type','foto')
        fotoData.append('dokumen', this.uploadFotoKunjungan)
        
        let formData = new FormData()
        formData.append('id_pmp', this.id_pmp)
        formData.append('dokumen_type','form')
        formData.append('dokumen', this.uploadFormKunjungan)
        
        // formData.append('token', this.$store.state.login.token)
        
        HTTPFORM.post('absen/upload/fotoKunjungan', fotoData)
        .then((res) => {
          HTTPFORM.post('absen/upload/formKunjungan', formData)
          .then((res) => {
            HTTP.post('absen/kunjungan', { 
            absen_id:this.absen_id,
            tgl_kunjungan: moment(this.tanggalAbsen).format(),
            petugas_kunjungan: this.selectedPetugasKunjungan,
            cara_kunjungan_id: this.selectedKonfirmasiKunjungan2,
            kunjungan_dengan: this.kunjunganDengan,
            token:this.$store.state.login.token,
            }).then(()=>{
              loader.hide()
              this.$router.push(`/pelayanan/non-datul-dan-kunjungan/kunjungan-sukses/${ this.id_pmp }`)
            })
          })
        })

      }

      
    
      // console.log(moment(this.tanggalAbsen).format())
      
      // this.$router.push(`/pelayanan/non-datul-dan-kunjungan/absen-sukses/${ this.id_pmp }`)
      
    },

    batal(){
      this.$router.push(`/pelayanan/non-datul-dan-kunjungan`)
    },
    
    
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      this.userData = res.data.data
      this.username = res.data.data._username
    })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          // console.log(res)
          next('/absen' + this.$route.path.split('/')[2])
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style>
.header {
	margin-bottom: 0;
}
.card .tabs .card-header ul{
	margin-bottom: 0px;
}
.card .tabs .card-header{
	padding:0 !important;
}
.modal-content{
	background-color: white !important;
}
</style>
