<template>
  <inside :username="userData._username">
    
    <header class="header bg-dark" style="background-image: url(http://thetheme.io/theadmin/assets/img/gallery/8.jpg)">
      <div class="header-info h-120px mb-0">
        <div class="media align-items-end">
          <div class="media-body">
            <h3 class="text-white opacity-90"><strong>{{ nama }} | {{ nik }}</strong></h3>
            <small class="text-white opacity-80">{{ nama_cabang }}</small><br>
            <small class="text-white opacity-80">{{ kategori_kunjungan }} - {{ status_absen }}</small><br>
          </div>
        </div>
      </div>
    </header>

    <div class="main-content">
      <div class="card">
        <div class="card-body" >
          <b-form-group :label="konfirmasiSilaturahmiLabel">
            <b-form-radio-group  v-model="selectedKonfirmasi" :options="options1" stacked></b-form-radio-group>
          </b-form-group>
        

          <div v-if="!checkKonfirmasiSilaturahmi">
            <b-form-group :label="konfirmasiSilaturahmi2Label">
              <b-form-radio-group v-model="selectedKonfirmasi2" :options="options2" stacked></b-form-radio-group>
              <b-form-input v-if="checkKonfirmasiSilaturahmi2" v-model="absenDengan" type="text" placeholder="Masukkan Nama keluarga/family"></b-form-input>
            </b-form-group>

            <b-form-group :label="waktuSilaturahmiLabel">
              <div class="col-lg-3" >
                <datepicker v-model="tanggalAbsen" input-class="form-control" calendar-class="datepicker-days" language="id" format="dd-MM-yyyy" :disabled="disabledWaktuSilaturahmi"></datepicker>
              </div>
            </b-form-group>

            
            <b-form-group :label="petugasSilaturahmiLabel">
              <b-form-select v-model="selectedPetugas" :options="petugas.options"  class="mb-3" />
            </b-form-group>

            <div>
              <b-button variant="success" @click="absenSubmit()" :disabled="disableSubmit" >Submit</b-button>
              <b-button variant="danger" @click="batal()" >Batal</b-button>
            </div>

          </div>
          <div v-if="checkKonfirmasiSilaturahmi">
              <b-alert show>Harap mengunjungi/menelpon/bertemu dengan PMP - {{ nama }} agar dapat melakukan absen.</b-alert>
              <b-button variant="danger" @click="batal()" >Kembali Ke Daftar</b-button>
          </div>
        </div>
      </div>
    </div>
  </inside>
  
</template>
<script>
import inside from '@/layout/inside'

import { HTTP } from '@/config'
import { HTTPFORM } from '@/config'
import Datepicker from 'vuejs-datepicker'
import moment from 'moment'
import check from '@/util/check-status-datul'
import checkKategori from '@/util/check-kategori'
export default {
  components: {
    inside, Datepicker 
  },
  data () {
  	return {
      

  		datax: [],
		  data: {},
		  id_pmp: '',
  		nama: '',
  		nik: '',
      nama_cabang: '',
      
      status_absen_id:null,
      status_absen:'',

      kategori_kunjungan_id:null,
      kategori_kunjungan:'',

      userData: {},
      selectedKonfirmasi: null,
      selectedKonfirmasi2: null,
      absenDengan: '',
      tanggalAbsen:null,


      absen: {
        verifikasi: {
          waktu: {
            old_value: null,
            confirm: null,
            new_value: null
          }
        },
      },

      disabledWaktuSilaturahmi: {
        from: new Date(),
        to: new Date(2018,3,1)
      },
      
      selectedPetugas: '',
        
      options1: [
        { text: 'Ya', value: 'ya' },
        { text: 'Tidak', value: 'tidak' }
      ],

      options2: [
        { text: 'Berjumpa langsung dengan PMP', value: 'Berjumpa langsung dengan PMP' },
        { text: 'Berjumpa hanya dengan keluarga/family, sebutkan', value: 'Berjumpa hanya dengan keluarga/family' }
      ],

      petugas: {
        old_value: null,
        confirm: null,
        new_value: null,
        options: []
      }
      
      

  	}
  },
  asyncComputed: {

    getPetugas () {
        return HTTP.post('master/petugas', {
          token: this.$store.state.login.token
        }).then(res => {
          this.petugas.options = res.data.data
        })

    },

  	getDataPMP () {
      

  		return HTTP.post(`absen/dashboard/detailPmp/${ this.$route.params.id }`, { id_pmp: this.$route.params.id , token: this.$store.state.login.token })
  		.then(res => {
			this.id_pmp = res.data.rows[0].id
			this.nama = res.data.rows[0].nama
      this.nik = res.data.rows[0].nik
      this.nama_cabang = `P2TEL ${ res.data.rows[0].nama_mitra }`

      this.status_absen_id = res.data.rows[0].status_code

      if ( res.data.rows[0].status_code === 0) {
        this.status_absen = 'Belum Survey'
      } else if ((res.data.rows[0].status_code === 1) ) {
        this.status_absen ='Selesai Survey'
      } else if ((res.data.rows[0].status_code === 2) ) {
        this.status_absen ='Menunggu Kunjungan' 
      } else if (res.data.rows[0].status_code === 3 ){
        this.status_absen = 'Selesai Kunjungan'
      } 
      // this.status_absen = res.data.rows[0].status_title

      this.kategori_kunjungan_id = res.data.rows[0].kategori_kunjungan
      this.kategori_kunjungan = res.data.rows[0].kategori_title
      
			// this.data = res.data.data.data[0]
			// this.datax = res.data.data
  		})
  	}
  },
  computed: {
    checkKonfirmasiSilaturahmi () {
      if (this.selectedKonfirmasi !== 'tidak') {
        return false
      } else {
        return true
      }
    },
    checkKonfirmasiSilaturahmi2 () {
      if (this.selectedKonfirmasi2 !== 'Berjumpa hanya dengan keluarga/family') {
        return false
      } else {
        return true
      }
    },

    
    
    konfirmasiSilaturahmiLabel () {
      return `1. Apakah Petugas PC - ${ this.nama_cabang } sudah mengunjungi/menelepon/bertemu PMP - ${ this.nama } selama bulan April - Mei 2018 ini?`
    },

    konfirmasiSilaturahmi2Label () {
      return `2. Apakah Petugas PC - ${ this.nama_cabang } berjumpa/berkomunikasi langsung dengan PMP - ${ this.nama } atau dengan keluarga/family?`
    },

    waktuSilaturahmiLabel () {
      return `3. Pada tanggal berapa Petugas PC - ${ this.nama_cabang } mengunjungi/menelepon/bertemu PMP - ${ this.nama } ?`
    },

    petugasSilaturahmiLabel () {
      return `4. Siapa Petugas PC - ${ this.nama_cabang } yang mengunjungi/menelepon/bertemu PMP - ${ this.nama } ?`
    },

    disableSubmit(){
      if ((this.selectedKonfirmasi===null) || (this.selectedKonfirmasi2===null) || (this.selectedPetugas===null) || (this.tanggalAbsen===null)){
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    checkStatus (i) {
      return check(i)
    },

    batal(){
      this.$router.push(`/pelayanan/non-datul-dan-kunjungan`)
    },
    

    absenSubmit() {
      if (this.absenDengan === ''){
        this.absenDengan =  '-'
      } else {
        this.absenDengan = this.absenDengan
      }

      HTTP.post('absen/absen', { 
          tgl_absen: moment(this.tanggalAbsen).format(),
	        petugas_absen: this.selectedPetugas,
          cara_absen_id: this.selectedKonfirmasi2,
          absen_dengan: this.absenDengan,
          id_pmp: this.id_pmp,
          token: this.$store.state.login.token
       }).then(()=>{
         this.$router.push(`/pelayanan/non-datul-dan-kunjungan/absen-sukses/${ this.id_pmp }`)
       })
      
      
    },
    
    
  },
  beforeMount () {
    
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          // console.log(res)
          next('/absen' + this.$route.path.split('/')[2])
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style>
.header {
	margin-bottom: 0;
}
.card .tabs .card-header ul{
	margin-bottom: 0px;
}
.card .tabs .card-header{
	padding:0 !important;
}
.modal-content{
	background-color: white !important;
}
</style>
