<template>
  <inside :username="userData._username">
    
    <header class="header bg-dark" style="background-image: url(http://thetheme.io/theadmin/assets/img/gallery/8.jpg)">
      <div class="header-info h-120px mb-0">
        <div class="media align-items-end">
          <div class="media-body">
            <h3 class="text-white opacity-90"><strong>{{ nama }} | {{ nik }}</strong></h3>
            <small class="text-white opacity-80">{{ nama_cabang }}</small><br>
            <small class="text-white opacity-80">{{ kategori_kunjungan }} - {{ status_absen }}</small><br>
          </div>
        </div>
      </div>
    </header>

    <div class="main-content">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-9">
                <b-alert show>Terima kasih Telah Melakukan Kunjungan kepada PMP - {{ nama }} </b-alert>
            </div>
            <div class="col-lg-3">
              <b-button variant="success" @click="kembaliKeDaftar()">Kembali Ke daftar</b-button>
            </div>
          </div>
        </div> 
      </div>
      
      <div class="card" v-for="vm in dokumenData">
        <div class="card-body">
          <h3><strong>{{vm.type}} Kunjungan</strong></h3>
          <div class="row">
            <div class="col-lg-6" v-if="vm.uri !== null">  
              <div class="row">
                
                <div class="col-lg-6">
                  <h5><strong>{{vm.type}} sudah terupload. Silakan klik download untuk melihat {{vm.type}} kembali atau pilih & submit untuk mengganti dengan {{vm.type}} yang lain</strong></h5>
                </div>             
                
                <div class="col-lg-6">       
                  <button class="btn btn-block btn-primary" @click="openLink(vm.uri)" >Download</button>
                </div>
              </div> 
            </div>
            <div class="col-lg-6" v-if="vm.uri == null">  
              <div class="row">
                
                <div class="col-lg-12">
                  <h5><strong>{{vm.type}} belum tersedia. Silakan pilih & submit {{vm.type}} kunjungan untuk PMP yang bersangkutan.</strong></h5>
                </div>
                
              </div> 
            </div>
            <div class="col-lg-6" v-if="vm.type == 'foto'">
              <b-form-file class="col-lg-9" v-model="uploadFileFoto" :state="Boolean(file)" placeholder="Pilih File..." accept=".jpeg"></b-form-file>
              <div>
                <b-button class="float-right" variant="success"  @click="fotoSubmit()" :disabled="disableSubmitFoto">Submit</b-button>
              </div>
            </div>
            <div class="col-lg-6" v-if="vm.type == 'form'">
              <b-form-file class="col-lg-9" v-model="uploadFileForm" :state="Boolean(file)" placeholder="Pilih File..." accept=".pdf"></b-form-file>
              <div>
                <b-button class="float-right" variant="success"  @click="formSubmit()" :disabled="disableSubmitForm">Submit</b-button>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      
    </div>
    
  </inside>
  
</template>
<script>
import inside from '@/layout/inside'

import { HTTP } from '@/config'
import { HTTPFORM } from '@/config'
import check from '@/util/check-status-datul'
export default {
  components: {
    inside
  },
  data () {
  	return {
  		datax: [],
		  data: {},
		  id_pmp: '',
  		nama: '',
  		nik: '',
      nama_cabang: '',
      
      status_absen_id:null,
      status_absen:'',

      kategori_kunjungan_id:null,
      kategori_kunjungan:'',

      userData: {},

      dokumenData: [
        {
          type: 'foto',
          uri: null
        },
        {
          type: 'form',
          uri: null
        }
      ],
      uploadFileFoto:null,
      uploadFileForm:null,
  	}
  },
  asyncComputed: {

  	getDataPMP () {
  		return HTTP.post(`absen/dashboard/detailPmp/${ this.$route.params.id }`, { id_pmp: this.$route.params.id ,token: this.$store.state.login.token})
  		.then(res => {
			this.id_pmp = res.data.rows[0].id
			this.nama = res.data.rows[0].nama
      this.nik = res.data.rows[0].nik
      this.nama_cabang = `P2TEL ${ res.data.rows[0].nama_mitra }`

      this.status_absen_id = res.data.rows[0].status_code
      if ( res.data.rows[0].status_code === 0) {
        this.status_absen = 'Belum Survey'
      } else if ((res.data.rows[0].status_code === 1) ) {
        this.status_absen = 'Selesai Survey'
      } else if ((res.data.rows[0].status_code === 2) ) {
        this.status_absen = 'Menunggu Kunjungan' 
      } else if (res.data.rows[0].status_code === 3 ){
        this.status_absen = 'Selesai Kunjungan'
      }

      this.kategori_kunjungan_id = res.data.rows[0].kategori_kunjungan
      this.kategori_kunjungan = res.data.rows[0].kategori_title
      
			this.data = res.data.data.data[0]
			this.datax = res.data.data
  		})
    },
    
    getDataDokumenPMP(){
    return HTTP.get(`absen/upload/getDokumenKunjungan/${ this.$route.params.id }`)
  		.then(res => {
        this.dokumenData = res.data.paths
  		})
    }
  },
  computed: {
    checkKategori () {
      if (this.ahliwaris === 0) {
        return false
      } else {
        return true
      }
    },

    checkFileForm () {
      if (this.fileForm === null) {
        return false
      } else {
        return true
      }
    },

    checkFileFoto () {
      if (this.fileForm === null) {
        return false
      } else {
        return true
      }
    },

    disableSubmitFoto(){
      if (this.uploadFileFoto===null){
        return true
      } else {
        return false
      }
    },
    disableSubmitForm(){
      if (this.uploadFileForm===null){
        return true
      } else {
        return false
      }
    }
    
  },
  methods: {
    checkStatus (i) {
      return check(i)
    },
    
    lanjutKeFormKunjungan() {
        
            this.$router.push(`/pelayanan/non-datul-dan-kunjungan/form-kunjungan/${ this.id_pmp }`)
        
    },
    kembaliKeDaftar(){
      this.$router.push(`/pelayanan/non-datul-dan-kunjungan`)
    },
    openLink(i) {
      window.open(i, '_blank')
    },

    fotoSubmit () {
      let loader = this.$loading.show()
        let fotoData = new FormData()
        fotoData.append('id_pmp', this.id_pmp)
        fotoData.append('dokumen_type','foto')
        fotoData.append('dokumen', this.uploadFileFoto)
        
        HTTPFORM.post('absen/upload/fotoKunjungan-a', fotoData)
        .then((res) => {
          loader.hide()
          location.reload()
        })
    },

    formSubmit () {
      let loader = this.$loading.show()
        let formData = new FormData()
        formData.append('id_pmp', this.id_pmp)
        formData.append('dokumen_type','form')
        formData.append('dokumen', this.uploadFileForm)
        
        HTTPFORM.post('absen/upload/formKunjungan-a', formData)
        .then((res) => {
          loader.hide()
          location.reload()
        })
    },
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      this.userData = res.data.data
      this.username = res.data.data._username
    })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          // console.log(res)
          next('/absen' + this.$route.path.split('/')[2])
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style>
.header {
	margin-bottom: 0;
}
.card .tabs .card-header ul{
	margin-bottom: 0px;
}
.card .tabs .card-header{
	padding:0 !important;
}
.modal-content{
	background-color: white !important;
}
</style>
