<template>
  <inside :username="userdata._username">
    <template slot="header">
      <header class="header bg-dark">
          <div class="header-info">
            <div class="left">
              <h2 class="header-title text-white"><strong>Update Data PMP</strong></h2>
            </div>
          </div>
        </header>

        <div class="main-content">
          <div class="card">
            <div class="card-body" >
              <h3 class="header-title">Cari Data PMP berdasarkan NIK</h3>
              <div class="row">
              <div class="form-group col-sm-6">
                <input type="number" class="form-control " placeholder="Masukkan NIK 6 Angka" v-model="cariNik" @keyup.enter="search()">
              </div>
              <div class="form-group col-sm-2">
              <button class="btn btn-bold btn-block btn-danger" @click="search()" >Cari</button>
              </div>
              </div>
              <h3 class="header-title" v-if="resultView"> {{ resultMessage }} </h3>
              <list-search :data="dataListAnggota" v-if="!searchView"></list-search> 
            </div>
          </div>
        </div>

        
        
          
    </template>
  </inside>
</template>
<script>
import * as _ from 'underscore'
import { HTTP } from '@/config'
import listSearch from '@/pages/admin/list-search'
import inside from '@/layout/inside'

export default {
  components: {
    inside,listSearch,
  },
  data () {
  	return {
      cariNik:'',
      searchView:true,
      resultView:false,
      resultMessage:'',
      dataListAnggota: [],

  		busy: true,
      userdata: {}
  	}
  },
  asyncComputed: {
    
  },
  methods: {
  	
    search() {
      HTTP.post('/datul-bank', { 
          search:this.cariNik,
          token: this.$store.state.login.token,
          kode_cabang : ''
       }).then((res)=>{
        this.dataListAnggota = []
        if (res.data.success === true){
            this.resultMessage = 'Data Berhasil Ditemukan',
            this.searchView = false,
            this.dataListAnggota = res.data.data
          } else {
            this.resultMessage = 'Data Tidak Ditemukan',
            this.searchView = true
          }
        this.resultView = true
       })
    },

    searchCabang() {
      HTTP.post('/datul-bank', { 
          search:this.cariNik,
	        token: this.$store.state.login.token
       }).then(()=>{
         
       })
    },
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      this.userdata = res.data.data
    })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style>

</style>
