<template>
  <aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg sidebar-color-danger">
    <header class="sidebar-header bg-danger">
      <span class="logo">
        <a href="#/dashboard">Pelayanan Dana Pensiun Telkom</a>
      </span>
      <span class="sidebar-toggle-fold"></span>
    </header>

    <nav class="sidebar-navigation">
      <ul class="menu">

        <li class="menu-item" v-for="vm in menu"   v-bind:class=" vm.name === currentPath ? 'active' : '' " v-if="userLevel(vm.level)">
          <div class="menu-link" v-bind:class=" vm.name === currentPath ? 'open' : '' " @click="goTo(vm.path, vm.action)">
            <span v-bind:class="vm.icon"></span>
            <span class="title">{{ titleize(vm.name) }}</span>
            <span class="arrow" v-if="vm.child.length !== 0"></span>
          </div>
          <ul class="menu-submenu" v-if="vm.child.length !== 0" v-bind:class=" vm.name === currentPath ? 'opened-submenu' : 'closed-submenu' ">
            <li class="menu-item" v-for="cm in vm.child" @click="goTo(cm.path)">
              <div class="menu-link">
                <span class="dot" v-bind:class=" cm.name === currentChild ? 'active-submenu' : '' "></span>
                <span class="title">{{ titleize(cm.name) }}</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
</template>
<script>
import * as _s from 'underscore.string'
export default {
  data () {
    return {
      menu: [
        {
          name: 'informasi-penting',
          path: '/dashboard',
          icon: 'icon fa fa-dashboard',
          level: [1,2,3,4,5],
          child: []
        },
        {
          name: 'anggota',
          path: '/anggota',
          icon: 'icon fa fa-user-o',
          // action: false,
          level: [1,5],
          child: []
        },
        // // {
        // //   name: 'datul',
        // //   path: '/datul',
        // //   icon: 'icon fa fa-user',
        // //   level: [1,5],
        // //   child: [
        // //     {
        // //       name: 'daftar-wajib-datul',
        // //       path: '/datul/daftar-wajib-datul',
        // //       level: 2
        // //     },
        // //     {
        // //       name: 'tidak-wajib-datul',
        // //       path: '/datul/tidak-wajib-datul',
        // //       level: 2
        // //     }
        // //   ]
        // // },

        {
          name: 'data-ulang',
          path: '/data-ulang',
          icon: 'icon fa fa-user',
          level: [1,5],
          child: [
            {
              name: 'daftar-wajib-datul',
              path: '/data-ulang/daftar-wajib-datul',
              level: 2
            },
            {
              name: 'tidak-wajib-datul',
              path: '/data-ulang/tidak-wajib-datul',
              level: 2
            },
            {
              name: 'belum-datul',
              path: '/data-ulang/belum-datul',
              level: 2
            },
            {
              name: 'menunggu-konfirmasi-p2tel',
              path: '/data-ulang/menunggu-konfirmasi-p2tel',
              level: 2
            },
            // {
            //   name: 'menunggu-konfirmasi-dapen',
            //   path: '/data-ulang/menunggu-konfirmasi-dapen',
            //   level: 1
            // },
            {
              name: 'selesai-datul',
              path: '/data-ulang/selesai-datul',
              level: 2
            }
          ]
        },

        {
          name: 'PMP Baru',
          path: '/data-ulang/pmp-baru',
          icon: 'icon fa fa-user',
          level: [1,5],
          child: [
          ]
        },
        

        {
          name: 'cari Data PMP',
          path: '/datul-bank',
          icon: 'icon fa fa-user',
          level: [1,2,3,4],
          child: [
          ]
        },

        // {
        //   name: 'lapor',
        //   path: '/lapor',
        //   icon: 'icon fa fa-bullhorn',
        //   action: false,
        //   level: 1,
        //   child: [
        //     {
        //       name: 'lapor-meninggal',
        //       path: '/lapor/meninggal',
        //       level: 1
        //     },
        //     {
        //       name: 'lapor-perubahan-data',
        //       path: '/lapor/perubahan-data',
        //       level: 1
        //     }
        //   ]
        // },

        {
          name: 'pelayanan',
          path: false,
          icon: 'icon fa fa-user',
          level: [1,2,3,4,5],
          child: [
            {
              name: 'non-datul-dan-kunjungan',
              path: '/pelayanan/non-datul-dan-kunjungan/dashboard',
              level: [1,2,3,4,5],
            }
          ]
        },
        {
          name: 'mobile-config',
          path: false,
          icon: 'icon ti-mobile',
          level: [1],
          child: [
            
            {
              name: 'user-list',
              path: '/mobile-config/user-list',
              level: 1
            },
            // {
            //   name: 'berita',
            //   path: '/mobile-config/berita',
            //   level: 1
            // }
          ]
        },
        {
          name: 'p2tel',
          path: false,
          icon: 'icon fa fa-user',
          level: [1],
          child: [
            
            {
              name: 'user-p2tel',
              path: '/p2tel/user-list',
              level: 1
            },
            // {
            //   name: 'berita',
            //   path: '/mobile-config/berita',
            //   level: 1
            // }
          ]
        },
        {
          name: 'admin',
          path: false,
          icon: 'icon ti-mobile',
          level: [1],
          child: [
            
            {
              name: 'Update Data PMP',
              path: '/admin/update-data-pmp',
              level: 1
            },
            // {
            //   name: 'berita',
            //   path: '/mobile-config/berita',
            //   level: 1
            // }
          ]
        },
        {
          name: 'keluar',
          path: '/',
          icon: 'icon fa fa-sign-out',
          level: [1,2,3,4,5],
          child: []
        },
        // {
        //   name: 'Tangguhan',
        //   path: '/tangguhan',
        //   icon: 'icon fa fa-warning',
        //   level: 2,
        //   child: []
        // },
        // {
        //   name: 'berita',
        //   path: '/berita',
        //   icon: 'icon fa fa-newspaper-o',
        //   action: false,
        //   level: 1,
        //   child: [
        //     {
        //       name: 'berita-baru',
        //       path: '/berita/berita-baru',
        //       level: 1
        //     },
        //     {
        //       name: 'daftar-berita',
        //       path: '/berita/daftar-berita',
        //       level: 1
        //     }
        //   ]
        // },
        
      ]
    }
  },
  methods: {
    userLevel(i) {
      let currentUserLevel = this.$store.state.login.user_level
      if (i.indexOf(currentUserLevel) === -1) {
        return false
      } else {
        return true
      }
    },
    titleize (input) {
      return _s.titleize(_s.humanize(input))
    },
    goTo (path, action = true) {
      // this.$log(input)
      // console.log(input)

      if (action) {
        if(path === '/'){
        // alert(path)
          localStorage.clear()
          this.$store.commit('setlogin', {
            token: ''
          })
        }
        this.$router.push({ path: path })
      }
    }
  },
  computed: {
    currentPath () {
      return this.$route.path.split('/')[1]
    },
    currentChild () {
      return this.$route.path.split('/')[2]
    }
  }
}
</script>
<style scoped>
.menu-item {
  cursor: pointer;
}

.opened-submenu {
  display: block;
}

.closed-submenu {
  display: none;
}
.active-submenu::after {
  background-color: #f96868;
  border-color: #f96868;
}

</style>
