<template>
  <aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg sidebar-color-danger">
    <header class="sidebar-header bg-danger">
      <span class="logo">
        <a href="/dashboard"><img src="../assets/img/logo-light.png" alt="logo"></a>
      </span>
      <span class="sidebar-toggle-fold"></span>
    </header>

    <nav class="sidebar-navigation">
      <ul class="menu">

        <li class="menu-item" v-for="vm in menu"  @click="goTo(vm.path, vm.action)" v-bind:class=" vm.name === currentPath ? 'active' : '' ">
          <div class="menu-link" v-bind:class=" vm.name === currentPath ? 'open' : '' ">
            <span v-bind:class="vm.icon"></span>
            <span class="title">{{ titleize(vm.name) }}</span>
            <span class="arrow" v-if="vm.child.length !== 0"></span>
          </div>
          <ul class="menu-submenu" v-if="vm.child.length !== 0" v-bind:class=" vm.name === currentPath ? 'opened-submenu' : 'closed-submenu' ">
            <li class="menu-item" v-for="cm in vm.child" @click="goTo(cm.path)">
              <div class="menu-link">
                <span class="dot" v-bind:class=" cm.name === currentChild ? 'active-submenu' : '' "></span>
                <span class="title">{{ titleize(cm.name) }}</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
</template>
<script>
import * as _s from 'underscore.string'
export default {
  data () {
    return {
      menu: [
        {
          name: 'dashboard',
          path: '/dashboard',
          icon: 'icon fa fa-dashboard',
          level: 2,
          child: []
        },
        {
          name: 'datul-anggota',
          path: '/datul-anggota',
          icon: 'icon fa fa-user',
          action: false,
          level: 2,
          child: [
            {
              name: 'selesai-datul',
              path: '/datul-anggota/selesai-datul',
              level: 2
            },
            {
              name: 'belum-datul',
              path: '/datul-anggota/belum-datul',
              level: 2
            },
            {
              name: 'total-anggota',
              path: '/datul-anggota/total-anggota',
              level: 2
            },
            {
              name: 'konfirmasi-p2tel',
              path: '/datul-anggota/konfirmasi-p2tel',
              level: 2
            },
            {
              name: 'konfirmasi-dapentel',
              path: '/datul-anggota/konfirmasi-dapentel',
              level: 2
            },
            {
              name: 'tidak-wajib-datul',
              path: '/datul-anggota/tidak-wajib-datul',
              level: 2
            }
          ]
        },
        {
          name: 'berita',
          path: '/berita',
          icon: 'icon fa fa-newspaper-o',
          action: false,
          level: 1,
          child: [
            {
              name: 'berita-baru',
              path: '/berita/berita-baru',
              level: 1
            },
            {
              name: 'daftar-berita',
              path: '/berita/daftar-berita',
              level: 1
            }
          ]
        },
        {
          name: 'laporan',
          path: '/laporan',
          icon: 'icon fa fa-area-chart',
          action: false,
          level: 1,
          child: [
            {
              name: 'laporan-baru',
              path: '/laporan/laporan-baru',
              level: 1
            },
            {
              name: 'daftar-laporan',
              path: '/laporan/daftar-laporan',
              level: 1
            }
          ]
        },
        {
          name: 'mobile-config',
          path: false,
          icon: 'icon ti-mobile',
          level: 1,
          child: [
            {
              name: 'welcome-screen',
              path: '/mobile-config/welcome-screen',
              level: 1
            },
            {
              name: 'login-screen',
              path: '/mobile-config/login-screen',
              level: 1
            },
            {
              name: 'dashboard-splash',
              path: '/mobile-config/dashboard-splash',
              level: 1
            }
          ]
        }
      ]
    }
  },
  methods: {
    titleize (input) {
      return _s.titleize(_s.humanize(input))
    },
    goTo (path, action = true) {
      // this.$log(input)
      // console.log(input)
      if (action) {
        this.$router.push({ path: path })
      }
    }
  },
  computed: {
    currentPath () {
      return this.$route.path.split('/')[1]
    },
    currentChild () {
      return this.$route.path.split('/')[2]
    }
  }
}
</script>
<style scoped>
.menu-item {
  cursor: pointer;
}

.opened-submenu {
  display: block;
}

.closed-submenu {
  display: none;
}
.active-submenu::after {
  background-color: #f96868;
  border-color: #f96868;
}

</style>
