<template>
  
	<div class="card card-body text-center" :class="bgColor">
    <div class="text-uppercase" :class="textColor">{{ number }} - {{ title }}</div>
  </div>
  
</template>
<script>
	export default {
		props: ['title', 'icon', 'bgColor', 'textColor', 'number']
	}
</script>
<style scoped>
  .bg-black {
    background-color: black
  }
</style>