<template>
	<div class="card card-body" :class="bgColor">
    <h6 class="text-uppercase" :class="textColor">{{ title }}</h6>
    <div class="flexbox mt-2">
      <span class="fa fs-30" :class="icon"></span>
      <span class="fs-30">{{ number }}</span>
    </div>
  </div>
  
</template>
<script>
	export default {
		props: ['title', 'icon', 'bgColor', 'textColor', 'number']
	}
</script>
<style scoped>
  .bg-black {
    background-color: black
  }
</style>