<template>
	<div class="card-body br-1 border-light">
                    <div class="flexbox mb-1">
                      <span>
                        <i class="ti-user fs-20"></i><br>
                        New Users
                      </span>
                      <span class="text-primary fs-40">34</span>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 35%; height: 4px;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
	<!-- <div class="card card-body" :class="bgColor">
	  <div class="flexbox">
	    <span class="fa fs-40" :class="icon"></span>
	    <span class="fs-40">{{ number }}</span>
	  </div>
	  <div class="text-right">{{ title }}</div>
	</div> -->
</template>
<script>
	export default {
		props: ['title', 'icon', 'bgColor', 'textColor', 'number']
	}
</script>