<div id="app">
    <b-form-input v-model="text" placeholder="Enter your name"></b-form-input>

    <b-form-input v-model="textformatter" placeholder="Enter your name" :formatter="format"></b-form-input>

    <b-form-input v-model="textlazy" type="text" placeholder="Enter your name" :formatter="format" lazy-formatter></b-form-input>

    <b-form-input v-model="text" state="valid" placeholder="valid"></b-form-input>

    <b-form-input v-model="text" state="invalid" placeholder="invalid"></b-form-input>

    <b-form-input v-model="text" type="password" placeholder="password"></b-form-input>
</div>
