<div id="app">
    <b-input-group ref="basic" left="$" right=".00">
        <b-input></b-input>
    </b-input-group>

    <b-input-group ref="components">
        <b-input-group-addon slot="left">$</b-input-group-addon>
        <b-input></b-input>
        <b-input-group-button slot="right">
            <b-button>Button</b-button>
        </b-input-group-button>
    </b-input-group>

    <b-input-group ref="large" size="lg"></b-input-group>

    <b-input-group ref="small" size="sm"></b-input-group>

    <b-input-group ref="tags" tag="fieldset">
        <b-input-group-addon tag="span">$</b-input-group-addon>
        <b-input></b-input>
    </b-input-group>
</div>
