<template>
  <inside :username="username">
    <template slot="header">
      <header class="header bg-dark">
          <div class="header-info">
            <div class="left">
              <h2 class="header-title text-white"><strong>Daftar Anggota</strong> {{ p2telcabang }}</h2>
              <!-- <div class="row">
                <div class="col-lg-6">
                  
                  <button class="btn btn-success" @click="print_dwd2">Cetak Daftar Wajib Datul Semester 2 - 2018</button>
                  <button class="btn btn-success" @click="print_twd2">Cetak Tidak Wajib Datul Semester 2 - 2018</button>
                  <button class="btn btn-success" @click="print2">Cetak Daftar Anggota Semester 2 - 2018</button>
                  <button class="btn btn-success" @click="print_pmpbaru">Cetak Daftar PMP Baru Semester 2 - 2018</button>
                </div>
                <div class="col-lg-6">
                  
                  <button class="btn btn-success" @click="print_dwd1">Cetak Daftar Wajib Datul Semester 1 - 2018</button>
                  <button class="btn btn-success" @click="print_twd1">Cetak Tidak Wajib Datul Semester 1 - 2018</button>
                  <button class="btn btn-success" @click="print1">Cetak Daftar Anggota Semester 1 - 2018</button>
                  
                </div> -->
              </div>
            </div>

          </div>
        </header>
    </template>
    <template slot>
      <b-tabs>
        <b-tab title="Daftar Anggota" :busy="busy" active>
          <daftar-anggota :data="dataListAnggota"></daftar-anggota>
        </b-tab>
<!--         <b-tab title="Riwayat" disabled>
          <br>Disabled tab!
        </b-tab> -->
      </b-tabs>
    </template>
  </inside>
</template>
<script>
import * as _s from 'underscore.string'
import inside from '@/layout/inside'
import daftarAnggota from '@/pages/anggota/daftar-anggota'
import  FileSaver from 'file-saver'
import { HTTP, HTTPEXCEL } from '@/config'
export default {
  components: {
    inside, daftarAnggota
  },
  data () {
    return {
      userData: {},
      username: '',
      dataListAnggota: [],
      busy: true
    }
  },
  computed: {
    p2telcabang () {
      if (this.userData._cabang_p2tel === null) {
        return null
      } else {
        return `P2TEL ${ this.userData._cabang_p2tel }`
      }
    }
  },
  methods: {
    print1 () {
      HTTPEXCEL.post('report/excel-lagih', {
        token: this.$store.state.login.token,
        status:null
      })
      .then((res) => {
        var blob = new Blob([res.data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"})
        FileSaver.saveAs(blob, "Daftar Anggota Semester 1 - 2018.xls")
        console.log(res)
        // download(res.data, 'xxx', 'application/vnd.ms-excel')
        // window.URL.createObjectURL(blob.data)
        // download(res.data.file.data, res.data.name, 'application/vnd.ms-excel')
        // window.URL.createObjectURL(new Blob([res.data]))
        // download(url)

      })
    },
    print2 () {
      HTTPEXCEL.post('report/excel2', {
        token: this.$store.state.login.token,
        status:null
      })
      .then((res) => {
        var blob = new Blob([res.data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"})
        FileSaver.saveAs(blob, "Daftar Anggota Semester 2 - 2018.xls")
        
        // download(res.data, 'xxx', 'application/vnd.ms-excel')
        // window.URL.createObjectURL(blob.data)
        // download(res.data.file.data, res.data.name, 'application/vnd.ms-excel')
        // window.URL.createObjectURL(new Blob([res.data]))
        // download(url)

      })
    },
    print_dwd1 () {
      HTTPEXCEL.post('report/excel-lagih', {
        token: this.$store.state.login.token,
        status: 10
      })
      .then((res) => {
        var blob = new Blob([res.data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"})
        FileSaver.saveAs(blob, "Daftar Wajib Datul Semester 1 - 2018.xls")
        // download(res.data, 'xxx', 'application/vnd.ms-excel')
        // window.URL.createObjectURL(blob.data)
        // download(res.data.file.data, res.data.name, 'application/vnd.ms-excel')
        // window.URL.createObjectURL(new Blob([res.data]))
        // download(url)

      })
    },
    print_dwd2 () {
      HTTPEXCEL.post('report/excel2', {
        token: this.$store.state.login.token,
        status:10
      })
      .then((res) => {
        var blob = new Blob([res.data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"})
        FileSaver.saveAs(blob, "Daftar Wajib Datul Semester 2 - 2018.xls")
        console.log(res)
        // download(res.data, 'xxx', 'application/vnd.ms-excel')
        // window.URL.createObjectURL(blob.data)
        // download(res.data.file.data, res.data.name, 'application/vnd.ms-excel')
        // window.URL.createObjectURL(new Blob([res.data]))
        // download(url)

      })
    },
    print_twd1 () {
      HTTPEXCEL.post('report/excel-lagih', {
        token: this.$store.state.login.token,
        status:20
      })
      .then((res) => {
        var blob = new Blob([res.data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"})
        FileSaver.saveAs(blob, "Tidak Wajib Datul Semester 1 - 2018.xls")
        console.log(res)
        // download(res.data, 'xxx', 'application/vnd.ms-excel')
        // window.URL.createObjectURL(blob.data)
        // download(res.data.file.data, res.data.name, 'application/vnd.ms-excel')
        // window.URL.createObjectURL(new Blob([res.data]))
        // download(url)

      })
    },
    print_twd2 () {
      HTTPEXCEL.post('report/excel2', {
        token: this.$store.state.login.token,
        status: 20
      })
      .then((res) => {
        var blob = new Blob([res.data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"})
        FileSaver.saveAs(blob, "Tidak Wajib Datul Semester 2 - 2018.xls")
        console.log(res)
        // download(res.data, 'xxx', 'application/vnd.ms-excel')
        // window.URL.createObjectURL(blob.data)
        // download(res.data.file.data, res.data.name, 'application/vnd.ms-excel')
        // window.URL.createObjectURL(new Blob([res.data]))
        // download(url)

      })
    },

    print_pmpbaru () {
      HTTPEXCEL.post('report/excel2', {
        token: this.$store.state.login.token,
        status: 30
      })
      .then((res) => {
        var blob = new Blob([res.data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"})
        FileSaver.saveAs(blob, "Daftar PMP Baru Semester 2 - 2018.xls")
        console.log(res)
        // download(res.data, 'xxx', 'application/vnd.ms-excel')
        // window.URL.createObjectURL(blob.data)
        // download(res.data.file.data, res.data.name, 'application/vnd.ms-excel')
        // window.URL.createObjectURL(new Blob([res.data]))
        // download(url)

      })
    },

  },
  asyncComputed: {
    listAnggota () {
      return HTTP.post('listanggota/anggota', { token: this.$store.state.login.token, status: null })
      .then(res => {
        this.dataListAnggota = res.data.data
        this.totalListAnggota = res.data.data.length
        this.busy = false
      })
    }
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      this.userData = res.data.data
      this.username = res.data.data._username
    })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          next('/anggota')
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style scoped>
.header {
  margin-bottom: 0 !important;
}
.btn{
  margin: 5px;
}
</style>
