<template>
  <inside :username="username" :nama_lengkap="nama_lengkap">
    <!-- <a v-if="ref_user_level == 5 || ref_user_level != 4" class="btn btn-block btn-primary" href="/simpul/static/Simpul_3.0_R01_P2tel.pdf" target="_blank"><i class="fa fa-download"></i> Download Panduan Penggunaan Simpul (P2TEL)</a>
    <a v-if="ref_user_level == 4 || ref_user_level != 5" class="btn btn-block btn-primary" href="/simpul/static/Simpul_3.0_R01_Bank.pdf" target="_blank"><i class="fa fa-download"></i> Download Panduan Penggunaan Simpul (BANK)</a> -->
    <img class="img-fluid" src="../assets/img/gallery/1.jpg" alt="...">
  </inside>
</template>
<script>
import inside from '@/layout/inside'
import { HTTP } from '../config'
export default {
  components: {
    inside
  },
  data () {
  	return {
  		username: '',
		nama_lengkap: '',
		ref_user_level: 0,
  	}
  },
  beforeMount () {
  	HTTP.post('token', this.$store.state.login)
    .then((res) => {
      if(res.data.data._petugas_ID === 2){
        this.nama_lengkap = 'Customer Service Bank '+res.data.data._petugas
      }else{
      	this.nama_lengkap = res.data.data.Nama
      }
	  
	  this.ref_user_level = res.data.data.ref_user_level

      var sdata = []
      sdata.nik_user = res.data.data._username
      sdata.nama_lengkap = this.nama_lengkap
      this.$store.commit('setheadername', sdata)
    })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
      	if (res.data.success === true) {
      		console.log(res)
      		next('/dashboard')
      	} else {
      		next('/')
      	}
      })
    })
}
}
</script>
<style>

</style>
