<template>
  <div class="row no-gutters min-h-fullscreen bg-white">
      <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img"  data-overlay="5">

        <div class="row px-0 py-50">
          <div class="col-md-12 col-lg-12 align-self-end">
            <img src="http://178.128.80.242/static/img/1.5106516.jpg" style="width:1080px">
            
          </div>
        </div>

      </div>

      <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
        <div class="px-80 py-30">
          <h4>Login</h4>
          <p><small>Selamat Datang, silahkan masuk</small></p>
          <br>

          <div class="form-type-material">
            <div class="form-group">
              <input type="text" class="form-control" v-model="userData.username" @keyup.enter="doLogin">
              <label for="username">Username</label>
            </div>

            <div class="form-group">
              <input type="password" class="form-control" v-model="userData.password" @keyup.enter="doLogin">
              <label for="password">Password</label>
            </div>

            <div class="form-group">
              <button class="btn btn-bold btn-block btn-danger" @click="doLogin">Login</button>
            </div>

            <b-alert variant="danger"
                     dismissible
                     :show="showDismissibleAlert"
                     @dismissed="showDismissibleAlert=false">
              Username & Password Salah!
            </b-alert>
          </div>
          <hr class="w-30px">
        </div>
      </div>
    </div>
</template>

<script>
import { HTTP } from '../config'
export default {
  components: {

  },
  data () {
    return {
      userData: {
        username: '',
        password: ''
      },
      showDismissibleAlert: false,
    }
  },
  methods: {
    doLogin () {
      HTTP.post('login-web', this.userData)
      .then((res) => {
        if (res.data.success === true) {
          this.$router.push({ path: '/dashboard' })
          this.$store.commit('setlogin', res.data)
        } else {
          this.showDismissibleAlert = true
        }
        console.log(res)
      })
      // this.$router.push({ path: '/dashboard' })
    }
  }
}
</script>