<template>
    <b-alert show>
        <p>Mohon maaf, Kunjungan Kriteria A 2018 telah ditutup.</p> 
        <p>Bilamana terdapat hal-hal yang perlu mendapatkan penjelasan lebih lanjut</p>
        dapat menghubungi Dapentel di nomor telepon 0222500983 atau nomor WA 08112183151 atau dapat menghubungi KABID Data & Sisfo PP P2TEL

        <p></br>Demikian, dan terima kasih atas perhatian dan kerjasamanya yang sangat baik</p>
       
    </b-alert>   
</template>
<script>
export default {

}
</script>
