<template>
  <inside :username="userdata._username">
    <template>
      <div class="row pl-20 pr-20 pt-10">
      <div :class="konfigurasi(vm.status,'wide')" v-for="vm in data_dashboard" @click="konfigurasi(vm.status,'link')" v-if="!konfigurasi(vm.status,'check')">
          <wid-one :title="vm.title" :icon="checkBusy('fa-file-text-o text-warning')" :bg-color="konfigurasi(vm.status,'bg-color')" text-color="text-white" :number="vm.number"></wid-one>
      </div>
      
      </div>
      <!-- <div class="card card-body">
        <div class="col-md-12">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Pilih Cabang</button>
            <div class="dropdown-menu">
              <h6 class="dropdown-header">Cabang P2Tel</h6>
              <a class="dropdown-item" href="#">Semua</a>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="row pl-20 pr-20 pt-10">
        <div class="col-md-12">
          <wid-one title="Total Anggota" :icon="checkBusy('fa-file-text-o text-warning')" bg-color="bg-info" text-color="text-white" :number="total_anggota"></wid-one>
        </div>      
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-9" @click="daftarWajibDatul()">
              <wid-one title="Daftar Wajib Datul" :icon="checkBusy('fa-file-text-o text-warning')" bg-color="bg-info" text-color="text-white" :number="daftar_wajib_datul" ></wid-one>
            </div>
            <div class="col-md-3">
              <wid-one title="Tidak Wajib Datul" :icon="checkBusy('fa-ban text-white')" bg-color="bg-black" text-color="text-white" :number="tidak_wajib_datul"></wid-one>
            </div>
            
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <wid-one title="Belum Datul" :icon="checkBusy('fa-times text-warning')" bg-color="bg-primary" text-color="text-white" :number="belum_datul"></wid-one>
            </div>
            
            <div class="col-md-6">
            	<wid-two bg-color="bg-yellow" title="Sudah Datul - Menunggu Konfirmasi P2TEL" :icon="checkBusy('fa-building-o')" :number="sudah_datul_p2tel"></wid-two>
              <wid-one title="Sudah Datul - Menunggu Konfirmasi P2TEL" :icon="checkBusy('fa-check  text-dark')" bg-color="bg-warning" text-color="text-dark" :number="sudah_datul_p2tel"></wid-one>
            </div>
            <div class="col-md-12">
              <wid-one title="Selesai Datul" :icon="checkBusy('fa-check text-white')" bg-color="bg-success" text-color="text-white" :number="sudah_datul"></wid-one>
            </div>
          </div>
        </div>
      </div> -->
      
    </template>
  </inside>
</template>
<script>
import * as _ from 'underscore'
import * as _s from 'underscore.string'
import { HTTP } from '@/config'
import inside from '@/layout/inside'
import widOne from '@/widget/wid-one'
import widTwo from '@/widget/wid-two'
import * as _l from 'lodash'

export default {
  components: {
    inside, widOne, widTwo
  },
  data () {
  	return {
      data_dashboard : null,
  		tidak_wajib_datul: null,
  		daftar_wajib_datul: null,
  		belum_datul: null,
  		sudah_datul_p2tel: null,
  		sudah_datul_dapen: null,
  		sudah_datul: null,
  		busy: true,
      userdata: {}
  	}
  },
  asyncComputed: {
    dashboard () {
      return HTTP.post('/dashboarddatul/web', { token: this.$store.state.login.token})
      .then(res => {
        this.data_dashboard = _l.orderBy(res.data.data,'order')
        // this.total_anggota = (_.where(res.data.data, {  status: null }))[0].number
        // this.daftar_wajib_datul = (_.where(res.data.data, {  status: 1 }))[0].number + (_.where(res.data.data, {  status: 2 }))[0].number +(_.where(res.data.data, {  status: 3 }))[0].number +(_.where(res.data.data, {  status: 4 }))[0].number
        // this.tidak_wajib_datul = (_.where(res.data.data, {  status: 5 }))[0].number
        // this.belum_datul = (_.where(res.data.data, {  status: 4 }))[0].number
        // this.sudah_datul_p2tel = (_.where(res.data.data, {  status: 3 }))[0].number
        // this.sudah_datul_dapen = (_.where(res.data.data, {  status: 2 }))[0].number
        // this.sudah_datul = (_.where(res.data.data, {  status: 1 }))[0].number
        this.busy = false
      })
    }
  },
  
  methods: {
  	checkBusy (i) {
  		if (this.busy) {
  			return 'fa-spinner fa-pulse text-white'
  		} else {
  			return i
  		}
    },
    daftarWajibDatul() {
      this.$router.push('/data-ulang/daftar-wajib-datul')
    },
    title(input){
      return _s(input).humanize().titleize().value()
    },
    konfigurasi(input,parameter){
      let output
      if (input === null){
        output = ['col-md-12','bg-info']
      } else if (input === 'dwd'){
        output = ['col-md-9','bg-info','/data-ulang/daftar-wajib-datul']
      } else if (input === 1){
        if (this.userdata.ref_user_level === 5){
          output = ['col-md-3','bg-success','/data-ulang/selesai-datul']  
        } else {
          output = ['col-md-3','bg-success','/data-ulang/selesai-datul']
        }       
      } else if (input === 2){
        if (this.$store.state.login.tbl_cabang_petugas === 69){
          output = ['col-md-6','bg-warning','/data-ulang/menunggu-konfirmasi-dapen',true] 
        } else {
          output = ['col-md-12','bg-pink','/data-ulang/program-dapen-menyapa']
        } 
        
      } else if (input === 3){       
        output = ['col-md-6','bg-warning','/data-ulang/menunggu-konfirmasi-p2tel']
      } else if (input === 4){
        output = ['col-md-3','bg-primary','/data-ulang/belum-datul']
      } else if (input === 5){
        output = ['col-md-3','bg-black','/data-ulang/tidak-wajib-datul']
      } else if (input === 7){
        output = ['col-md-12','bg-dark','/data-ulang/pmp-baru']
      } else if (input === 6){
        output = ['col-md-6','bg-black','/data-ulang/tangguhan',true]
      } else {
        output = ['x']
      }

      if (parameter === 'wide'){
        return output[0]
      } else if (parameter === 'bg-color'){
        return output[1]
      } else if (parameter === 'link'){
        this.$router.push(output[2])
      } else if (parameter === 'check'){
        return output[3]
      }
    }
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      this.userdata = res.data.data
    })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style>

</style>
