<template>
  <inside :username="username">
    <div v-if="!checkPeriode()">
      <notif-datul></notif-datul>
      <!-- <b-alert show>Mohon maaf, Datul Periode Semester I 2018 saat ini telah berakhir. Terima kasih atas partisipasi bapak dan ibu sekalian dalam mendatulkan anggotanya.</b-alert> -->
    </div>
		
  	<template slot="header">
			<!-- <div class="col-md-12">    
        <div class="row">
          <div class="col-md-12" @click="daftarWajibDatul()">
            <wid-one-1 title="Daftar Wajib Datul" :icon="checkBusy('fa-file-text-o text-warning')" bg-color="bg-info" text-color="text-white" :number="daftar_wajib_datul" ></wid-one-1>
          </div>
          
          <div class="col-md-3">
            <wid-one-1 title="Belum Datul" :icon="checkBusy('fa-times text-warning')" bg-color="bg-secondary" text-color="text-white" :number="belum_datul"></wid-one-1>
          </div>
          
          <div class="col-md-6">
            <wid-one-1 title="Menunggu Konfirmasi P2TEL" :icon="checkBusy('fa-check  text-dark')" bg-color="bg-warning" text-color="text-dark" :number="sudah_datul_p2tel"></wid-one-1>
          </div>
          <div class="col-md-3">
            <wid-one-1 title="Selesai Datul" :icon="checkBusy('fa-check text-white')" bg-color="bg-success" text-color="text-white" :number="sudah_datul"></wid-one-1>
          </div>
        </div>
      </div> -->
  		<header class="header bg-dark">
          <div class="header-info">
            <div class="left">
              <h2 class="header-title text-white"><strong>Selesai Datul</strong> - {{ sudah_datul }}</h2>
              <button class="btn btn-success" @click="print">Download Report Selesai Datul</button>
            </div>
          </div>					
        </header>
  	</template>

  	<template slot>
        <selesaiDatul :data="data_selesai_datul"></selesaiDatul>
  	</template>
  </inside>
</template>
<script>
import * as _ from 'underscore'
import inside from '@/layout/inside'
import selesaiDatul from '@/pages/data-ulang/anggota/list-selesai-datul'
import { HTTP, HTTPEXCEL } from '@/config'
import  FileSaver from 'file-saver'
import widOne1 from '@/widget/wid-two'
import widTwo from '@/widget/wid-one'
import notifDatul from '@/pages/notif-datul'
export default {
  components: {
    inside, selesaiDatul , widOne1 , widTwo , notifDatul
  },
  data () {
  	return {
      username: '',
  		dataListAnggota: [],
		  data_selesai_datul: [],
  		busy: true,
      title: {
        semua: 'Semua'
      },
      daftar_wajib_datul: null,
			belum_datul: null,
  		sudah_datul_p2tel: null,
  		sudah_datul_dapen: null,
  		sudah_datul: null
  	}
  },
  methods: {
    checkPeriode () {
      return this.$store.state.login.periode_datul.status
		},
		checkBusy (i) {
  		if (this.busy) {
  			return 'fa-spinner fa-pulse text-white'
  		} else {
  			return i
  		}
    },
    print () {
      HTTPEXCEL.post('report/excel2', {
        token: this.$store.state.login.token,
        status: 1
      })
      .then((res) => {
        var blob = new Blob([res.data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"})
        FileSaver.saveAs(blob, "report.xls")
        console.log(res)
        // download(res.data, 'xxx', 'application/vnd.ms-excel')
        // window.URL.createObjectURL(blob.data)
        // download(res.data.file.data, res.data.name, 'application/vnd.ms-excel')
        // window.URL.createObjectURL(new Blob([res.data]))
        // download(url)

      })
    }
  },
  
  asyncComputed: {
    listAnggota () {
      return HTTP.post('listanggota/anggota', { token: this.$store.state.login.token, status: 1 })
      .then(res => {
        this.dataListAnggota = res.data.data
        this.data_selesai_datul= res.data.data
        this.totalListAnggota = res.data.data.length
        this.busy = false
      })
		},
		
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      this.username = res.data.data._username
      HTTP.post('/dashboarddatul/web', { token: this.$store.state.login.token})
      .then(res => {
        this.total_anggota = (_.where(res.data.data, {  status: null }))[0].number
        this.daftar_wajib_datul = (_.where(res.data.data, {  status: 'dwd' }))[0].number 
        this.tidak_wajib_datul = (_.where(res.data.data, {  status: 5 }))[0].number
        this.belum_datul = (_.where(res.data.data, {  status: 4 }))[0].number
        this.sudah_datul_p2tel = (_.where(res.data.data, {  status: 3 }))[0].number
        this.sudah_datul = (_.where(res.data.data, {  status: 1 }))[0].number
        this.sudah_datul_dapen = (_.where(res.data.data, {  status: 2 }))[0].number
        
        this.busy = false
    })
    })
    
    
  },
  // beforeRouteEnter (to, from, next) {
  //   next(vm => {
  //     HTTP.post('token', vm.$store.state.login)
  //     .then((res) => {
  //       if (res.data.success === true) {
  //         next('/data-ulang/daftar-wajib-datul')
  //       } else {
  //         next('/')
  //       }
  //     })
  //   })
  // }
}
</script>
<style scoped>
.header {
	margin-bottom: 0 !important;
}
.header-info {
    margin: 20px 0;
}
</style>
