<template>
	<div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <form class="lookup lookup-sm">
          <input type="text" placeholder="Search..." v-model="filter">
        </form>
      </div>

      <div class="col-md-12">
        <b-table striped responsive hover :items="dataFilter" :fields="fields" :small="true" :per-page="perPage"  :current-page="currentPage" :filter="filter" @row-clicked="goToProfile" :busy="busyCheck">
        </b-table>
      </div>
      <div v-if="busyCheck" class="col-md-12">
		<div class="spinner-circle text-center" ></div>
      </div>
      <div class="col-md-12">
        <b-pagination align="center" size="md" :total-rows="dataFilterLength" v-model="currentPage" :per-page="perPage"></b-pagination>
      </div>
    </div>
  </div>
</template>
<script>
	import * as _ from 'underscore'
	export default {
		props: {
			data: {
				type: Array,
				default: []
			}
		},
		data () {
	  	return {
	  		filter: '',
			currentPage: 1,
			perPage: 10,
			fields: [
				{
				  key: 'nik',
				  label: 'NIK',
				  sortable: true
				},
				{
					key: 'nama',
					label: 'Nama',
					sortable: true
				},
				{
					key: 'cabang_p2tel',
					label: 'Cabang P2TEL',
					sortable: true
				}
			]
	  	}
	  },
		computed: {
			dataFilter () {
				return this.data
			},
			dataFilterLength () {
				return this.data.length
			},
			busyCheck () {
				if (this.dataFilter.length === 0) {
					return true
				} else {
					return false
				}
			}
		},
		methods: {
	    goToProfile(item) {
				if (this.$store.state.login.periode_datul.status){
					this.$router.push(`/datul/${ item.id }`)
				} else {
					this.$router.push(`/data-profile/${ item.id }`)
				}
	    }
	  }
	}
</script>
<style scoped>
	.b-table {
		cursor: pointer;
	}
</style>
