<template>
	<div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <form class="lookup lookup-sm">
          <input type="text" placeholder="Search..." v-model="filter">
        </form>
      </div>
      <div class="spinner-linear" v-if="busyCheck">
        <div class="line"></div>
      </div>
      <div class="col-md-12">
        <b-table striped responsive hover :items="dataFilter" :fields="fields" :small="true" :per-page="perPage"  :current-page="currentPage" :filter="filter" :busy="busyCheck"  @row-clicked="goToProfile">
			
        </b-table>
      </div>
      <div class="col-md-12">
        <b-pagination align="center" size="md" :total-rows="dataFilterLength" v-model="currentPage" :per-page="perPage"></b-pagination>
      </div>
    </div>
  </div>
</template>
<script>
	import * as _ from 'underscore'
	import moment from 'moment'
	export default {
		props: {
			data: {
				type: Array,
				default: []
			},
			busy: {
				type: Boolean,
				default: true
			}
		},
		data () {
	  	return {
	  		filter: '',
	      currentPage: 1,
	      perPage: 10,
	      fields: [
	      	{
	          key: 'nik',
	          label: 'NIK',
	          sortable: true
	        },
	        {
	        	key: 'nama',
	        	label: 'Nama',
	        	sortable: true
	        },
	        {
	        	key: 'cabang_p2tel',
	        	label: 'Cabang P2TEL',
	        	sortable: true
	        },
	        {
	        	key: 'tanggal_datul_m',
	        	label: 'Menunggu Konfirmasi Sejak',
	        	sortable: true
	        }
	      ]
	  	}
	  },
		computed: {
			dataFilter () {
				return _.where(this.data, {  status: 3 })
			},
			dataFilterLength () {
				return _.where(this.data, {  status: 3 }).length
			},
			busyCheck () {
				if (this.busy) {
					return false
				} else {
					return true
				}
			}
		},
		methods: {
	    goToProfile(item) {
				// if (this.$store.state.login.periode_datul.status){
					this.$router.push(`/datul/${ item.id }`)
				// } else {
				// 	this.$router.push(`/profile/${ item.id }`)
				// }
	    },
	    dateFormater (i) {
	      if (i === null || i === '') {
	        return null
	      } else {
	        return moment(i).format('D MMMM YYYY')
	      }
	    }
	  }
	}
</script>
<style scoped>
	.b-table {
		cursor: pointer;
	}
</style>
