body { border:0; margin:0; padding:0;font-size: 9px; color: #000000 ;font:80%/110% "verdana",sans-serif;}

.button {
    display:block;
    float:right;
    background-color:#FFFF99;
    border:0px solid #000;
    border-top:0px solid #000;
    border-left:0px solid #000;
    font-family:"Lucida Grande", Arial, Tahoma, Verdana, sans-serif;
    font-size:100%;
    line-height:100%;
    text-decoration:none;
    text-align:right;
    color:#000000;
}
.button_0 {
    background-color:#FFFF99;
    font-family:"Lucida Grande", Arial, Tahoma, Verdana, sans-serif;
    font-size:100%;
    line-height:100%;
    text-decoration:none;
    color:#000000;
}
.button_1 {
    display:block;
    float:center;
    background-color:#FFFF99;
    border:0px solid #000;
    border-top:0px solid #000;
    border-left:0px solid #000;
    font-family:"Lucida Grande", Arial, Tahoma, Verdana, sans-serif;
    font-size:100%;
    line-height:100%;
    text-decoration:none;
    text-align:left;
    color:#000000;
}
.button_2 {
    display:block;
    float:left;
    background-color:#FFFF99;
    border:0px solid #000;
    border-top:0px solid #000;
    border-left:0px solid #000;
    font-family:"Lucida Grande", Arial, Tahoma, Verdana, sans-serif;
    font-size:100%;
    line-height:100%;
    text-decoration:none;
    text-align:left;
    color:#000000;
}
.button_telepon {
    background-color:#FFFF99;
    border:0px solid #000;
    border-top:0px solid #000;
    border-left:0px solid #000;
    font-family:"Lucida Grande", Arial, Tahoma, Verdana, sans-serif;
    font-size:100%;
    line-height:100%;
    text-decoration:none;
    text-align:right;
    color:#000000;
}
.header_teks { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 12px; color: #000000; font-weight:bold; }
.header_teks_2 { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 9px; color: #000000; }
.header_teks_3 { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 8px; color: #000000; }
.link_edit {font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 11px; color: #000000; font-weight:bold; text-decoration:underline;color: #0066ff;cursor:pointer}
a.header_teks { text-decoration:none; }

a.header_teks:hover { text-decoration:underline; color: #FF6600; }

.header_table { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 12px; color: #000000; font-weight:bold; }

.normal_teks { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 12px; color: #000000 }
.normal_teks_2 { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 8px; color: #000000 }
.normal_teks_3 { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 7px; color: #000000 }
a { text-decoration: none; color: #ffffff }

a.normal_teks:hover { text-decoration: none; color: #0066ff }

.selected_b_teks { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 11px; color: #ff6600; font-weight:bold; }

a.selected_b_teks { text-decoration: underline; }

a.selected_b_teks:hover { text-decoration: none; color: #0066ff }

.selected_teks { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 11px; color: #ff6600 }

a.selected_teks { text-decoration: underline; }

a.selected_teks:hover { text-decoration: none; color: #0066ff }

.top_menu {
    font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 18px; color:#FFFFFF; height: 6px; }

a.top_menu { color:#FFFFFF; text-decoration:none; }

a.top_menu:hover { color:#FFFFFF; text-decoration:underline; }

.copyright { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 10px; color:#FFFFFF; }

a.menu:link {color: #ffffff;  font-family: verdana, arial, helvetica, sans-serif; font-weight: normal; font-size: 11px; text-decoration: none}

a.menu:visited {color: #ffffff;  font-family: verdana, arial, helvetica, sans-serif; font-weight: normal; font-size: 11px; text-decoration: none} 

a.menu:active {color: #ffffff;  font-family: verdana, arial, helvetica, sans-serif; font-weight: normal; font-size: 11px; text-decoration: none} 

a.menu:hover {text-decoration: none;  font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-size: 11px;color: #FFFFFF}

.date { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 10px; color: #3399CC; font-weight:bold; }

.detail { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 9px; color: #6D7FA5; font-weight:bold; }

a.detail { text-decoration:none }

.agung { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 8px; color:  #000000; font-weight:bold; }

a.detail:hover { text-decoration:underline }
.kesesuaian { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 18px; color: #000000; font-weight:bold;
background-color:#000000}
.kesesuaian2 { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 16px; color: #FFFFFF; font-weight:bold;
background-color:#000000}
.kesesuaian3 { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 11px; color: #000000;}

.header_tabel { font:Arial, Tahoma, helvetica, sans-serif;color: #FFFFFF; background-color:#000000 }

/* CSS Tambahan (12 Januari 2008)*/
.formPermohonan { background-color:#CCCCCC; border-bottom-color:#DDDDDD}

.headerFormPermohonan {background-color:#FFEF97; font-family:Arial, Tahoma, Helvetica, sans-serif; font-weight:bold; font-size:13px}

.login_teks { font-family: Arial, Tahoma, helvetica, sans-serif;  font-size: 13px; color: #000000 }
