	body, td, textarea, input, select {
		font-family: Tahoma;
		font-size: 11px;
		color: #404040;
	}
	.tahoma11 {
		font-family: 		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 			11px;
	}	
	.tahoma12 {
		font-family: 		Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 			12px;
	}	
	.arial14 {
		font-family: 		Arial, Helvetica, sans-serif;
		font-size: 			14px;
		font-weight:		bold;
		color:				white;
	}	
	.arial14_normal {
		font-family: 		Arial, Helvetica, sans-serif;
		font-size: 			14px;
		font-weight:		bold;
	}	
	.color_5b5b5b{
		color:				#5b5b5b;
	}
	.white 			{COLOR: #FFFFFF; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}
	.white:hover	{COLOR: #FFCC00; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}
	.gray 			{COLOR: #808080; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}
	.title 			{COLOR: #363636; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}
	.title:hover	{COLOR: #FFCC00; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}
	.ref 			{COLOR: #3F8CDA; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}
	.ref:hover		{COLOR: #FFCC00; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}
	.fer 			{COLOR: #FFCC00; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}
	.fer:hover		{COLOR: #3F8CDA; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}
	.reftable 			{COLOR: #3F8CDA; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}
	.reftable:hover		{color: #363636; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}
	.rtitle 		{COLOR: #3F8CDA; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}
	.rtitle:hover	{COLOR: #FFCC00; FONT-SIZE: 11px; FONT-FAMILY: Tahoma; TEXT-DECORATION: none}

	#calendartable {
		background-color: white;
		padding: 0.25em;
		border: 1px solid gray;
		text-align: center;
		font-size: 0.8em;
	}
	#calendartable td a {
		display: block;
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: blue
	}
	#calendartable td a:hover {
		background-color: gray;
	}
#addthis_services a {
  padding: 0px 0px 0px 4px; 
  color:#333333; 
  display: block;
}
#addthis_dropdown a:hover {
  background-color: #F5F5F5;
}
#addthis_dropdown a {
  text-decoration: none; 
  font-family:tahoma, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
}
#div1 {
  text-align: left;
  width: 124px; 
  position: absolute; 
  border: #CCCCCC solid 1px; 
  padding: 1px 1px 0px 1px; 
  overflow: hidden;
  background: #FFF;
  font-family:Geneva, Arial, Helvetica, sans-serif;
}
	td.spacer {
		height: 5px;
	}
	button {
		border: 1 solid #555555; 
		cursor:hand; 
		vertical-align: middle;
	}
	td.thead {
		background-color:#135cae; 
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#135cae',EndColorStr='#FFFFFF');
		margin: 0px auto;
		color: white;
		text-align: center;
		font-weight: bold;
		border-bottom: 1px solid;
		border-bottom-color: #135cae;
		height: 30px;
	}
	td.tfoot {
		background-color:#135cae; 
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#135cae');
		margin: 0px auto;
		color: white;
		text-align: center;
		font-weight: bold;
		border-top: 1px solid;
		border-top-color: #135cae;
		height: 30px;
	}
	.top { vertical-align: top; }
	.middle { vertical-align: middle; }
	input.text { border: 1px solid #135cae; vertical-align: middle;}

#pathinfo a
{
	text-decoration:none;
	color:#FF6600;
	height:15;
	text-align:center;
	font-weight:thin;
}

#pathinfo a:link
{
	color:#FF6600;
}


#pathinfo a:hover
{
	color:black;
	font-weight:thin;
}

#pathinfo span
{
    padding:1 1ex;
	border:1px solid #b6d5c1;
	color:black;
}