<div id="app">
    <div class="row">

        <div class="col">
            <b-btn-group ref="vertical" vertical>
                <b-btn variant="success">Top</b-btn>
                <b-btn variant="info">Middle</b-btn>
                <b-btn variant="primary">Bottom</b-btn>
            </b-btn-group>
        </div>

        <div class="col">
            <b-btn-group ref="basic">
                <b-btn>Left</b-btn>
                <b-btn>Middle</b-btn>
                <b-btn>Right</b-btn>
            </b-btn-group>
        </div>
        <div class="col">
            <b-btn-group ref="size" size="sm">
                <b-btn>Left</b-btn>
                <b-btn>Middle</b-btn>
                <b-btn>Right</b-btn>
            </b-btn-group>
        </div>
    </div>
</div>
