<template>
  <inside :username="username">
    <template slot="header">
      <header class="header bg-dark">
          <div class="header-info">
            <div class="left">
              <h2 class="header-title text-white"><strong>Daftar Belum</strong> </h2>
            </div>

          </div>
        </header>
    </template>
    <template slot>
      <b-tabs>
        <list-belum :data="dataListAnggota"></list-belum>
      </b-tabs>
    </template>
  </inside>
</template>
<script>
import * as _s from 'underscore.string'
import inside from '@/layout/inside'
import listBelum from '@/pages/pelayanan/non-datul-dan-kunjungan/list-belum'
import  FileSaver from 'file-saver'
import { HTTP, HTTPEXCEL } from '@/config'
export default {
  components: {
    inside, listBelum
  },
  data () {
    return {
      userData: {},
      username: '',
      dataListAnggota: [],
      busy: true
    }
  },
  computed: {
    p2telcabang () {
      if (this.userData._cabang_p2tel === null) {
        return null
      } else {
        return `P2TEL ${ this.userData._cabang_p2tel }`
      }
    }
  },
  methods: {
    print () {
      HTTPEXCEL.post('report/excel2', {
        token: this.$store.state.login.token
      })
      .then((res) => {
        var blob = new Blob([res.data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"})
        FileSaver.saveAs(blob, "report.xls")
        console.log(res)
        // download(res.data, 'xxx', 'application/vnd.ms-excel')
        // window.URL.createObjectURL(blob.data)
        // download(res.data.file.data, res.data.name, 'application/vnd.ms-excel')
        // window.URL.createObjectURL(new Blob([res.data]))
        // download(url)

      })
    }
  },
  asyncComputed: {
    listAnggota () {
      return HTTP.post('absen/dashboard/byStatus/0', { token: this.$store.state.login.token, status: null })
      .then(res => {
        this.dataListAnggota = res.data.rows
        this.totalListAnggota = res.data.rows.length
        this.busy = false
      })
    }
  },
  
  beforeMount () {
    
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          next('/pelayanan/non-datul-dan-kunjungan/daftar-belum')
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style scoped>
.header {
  margin-bottom: 0 !important;
}
</style>
