<template>
  <inside :username="username">
    
    <div v-if="!checkPeriodeKunjungan()">
      <notif-kunjungan></notif-kunjungan>
      <!-- <b-alert show>Mohon maaf, Datul Periode Semester I 2018 saat ini telah berakhir. Terima kasih atas partisipasi bapak dan ibu sekalian dalam mendatulkan anggotanya.</b-alert> -->
    </div>

    <template slot="header">
      <header class="header bg-dark">
          <div class="header-info">
            <div class="left">
              <h2 class="header-title text-white"><strong>Daftar Kunjungan</strong></h2>
            </div>

          </div>
        </header>
    </template>
    <template slot>
      <b-tabs>
        <list-absen :data="dataListAnggota"></list-absen>
      </b-tabs>
    </template>
  </inside>
</template>
<script>
import * as _s from 'underscore.string'
import inside from '@/layout/inside'
import listAbsen from '@/pages/pelayanan/non-datul-dan-kunjungan/list-kunjungan'
import  FileSaver from 'file-saver'
import { HTTP, HTTPEXCEL } from '@/config'
import notifKunjungan from '@/pages/notif-kunjungan'


export default {
  components: {
    inside, listAbsen , notifKunjungan
  },
  data () {
    return {
      userData: {},
      username: '',
      dataListAnggota: [],
      busy: true
    }
  },
  computed: {
    p2telcabang () {
      if (this.userData._cabang_p2tel === null) {
        return null
      } else {
        return `P2TEL ${ this.userData._cabang_p2tel }`
      }
    }
  },
  methods: {
    checkPeriodeKunjungan () {
      return this.$store.state.login.kunjungan.status
		},

  },
  asyncComputed: {
    
  },
  
  beforeMount () {
    HTTP.post('absen/dashboard/list-kunjungan', { token: this.$store.state.login.token, cabang: this.$route.params.item, status:null })
      .then(res => {
        this.dataListAnggota = res.data.data
        this.totalListAnggota = res.data.data.length
        this.busy = false
      })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        
      })
    })
  }
}
</script>
<style scoped>
.header {
  margin-bottom: 0 !important;
}
</style>
