<template>
  <inside :username="username">
    <div v-if="!checkPeriodeKunjungan()">
      <notif-kunjungan></notif-kunjungan>
      <!-- <b-alert show>Mohon maaf, Datul Periode Semester I 2018 saat ini telah berakhir. Terima kasih atas partisipasi bapak dan ibu sekalian dalam mendatulkan anggotanya.</b-alert> -->
    </div>

    <template slot="header">
      <header class="header bg-dark">
          <div class="header-info">
            <div class="left">
              <h2 class="header-title text-white"><strong>Daftar Menunggu Kunjungan</strong></h2>
            </div>

          </div>
        </header>
    </template>
    <template slot>
      <b-tabs>
        <list-menunggu-kunjungan :data="dataListAnggota"></list-menunggu-kunjungan>
      </b-tabs>
    </template>
  </inside>
</template>
<script>
import * as _s from 'underscore.string'
import inside from '@/layout/inside'
import listMenungguKunjungan from '@/pages/pelayanan/non-datul-dan-kunjungan/list-menunggu-kunjungan'
import  FileSaver from 'file-saver'
import { HTTP, HTTPEXCEL } from '@/config'
import notifKunjungan from '@/pages/notif-kunjungan'

export default {
  components: {
    inside, listMenungguKunjungan, notifKunjungan
  },
  data () {
    return {
      userData: {},
      username: '',
      dataListAnggota: [],
      busy: true
    }
  },
  computed: {
    p2telcabang () {
      if (this.userData._cabang_p2tel === null) {
        return null
      } else {
        return `P2TEL ${ this.userData._cabang_p2tel }`
      }
    }
  },
  methods: {
    print () {
      HTTPEXCEL.post('report/excel2', {
        token: this.$store.state.login.token
      })
      .then((res) => {
        var blob = new Blob([res.data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"})
        FileSaver.saveAs(blob, "report.xls")
        console.log(res)
        // download(res.data, 'xxx', 'application/vnd.ms-excel')
        // window.URL.createObjectURL(blob.data)
        // download(res.data.file.data, res.data.name, 'application/vnd.ms-excel')
        // window.URL.createObjectURL(new Blob([res.data]))
        // download(url)

      })
    },

    checkPeriodeKunjungan () {
      return this.$store.state.login.kunjungan.status
		},

  },
  asyncComputed: {
    
  },
  beforeMount () {
    HTTP.post('absen/dashboard/list-kunjungan', { token: this.$store.state.login.token, cabang: this.$route.params.item, status:1 })
      .then(res => {
        this.dataListAnggota = res.data.data
        this.totalListAnggota = res.data.data.length
        this.busy = false
      })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        
      })
    })
  }
}
</script>
<style scoped>
.header {
  margin-bottom: 0 !important;
}
</style>
