<template>
  <inside :username="userdata._username">
    
    <div v-if="!checkPeriodeKunjungan()">
      <notif-kunjungan></notif-kunjungan>
      <!-- <b-alert show>Mohon maaf, Datul Periode Semester I 2018 saat ini telah berakhir. Terima kasih atas partisipasi bapak dan ibu sekalian dalam mendatulkan anggotanya.</b-alert> -->
    </div>
    
    <template>
      
      
      <div class="row pl-20 pr-20 pt-10"> 
          <div class="col-lg-6" v-if="cek_cabang" >
            <b-form-group :label="Cabang">
              <b-form-select v-model="cabang" :options="cabang_list" value-field="_kode_p2tel" text-field="_nama_cabang" class="mb-6" @input="select_cabang()"/>
            </b-form-group>
          </div>
          <div class="col-lg-3" v-if="cek_cabang">
            <b-button size="md" variant="secondary" @click="view_rekap_p2tel()">
                  View Rekap
            </b-button>
          </div>
      </div>

      <div class="row pl-20 pr-20 pt-10"> 
          
          <div class="col-lg-3">
            <b-button size="md" variant="secondary" @click="download_rekap()">
                  Download Rekap
            </b-button>
          </div>
      </div>

        
      <div class="row pl-20 pr-20 pt-10">
        <!-- <div class="col-lg-3">
          <b-button size="md" variant="secondary" @click="view_rekap_all()">
                All
          </b-button>
        </div> -->

        <div class="col-lg-12" @click="totalKunjungan()">
          <wid-one title="Total Kunjungan" :icon="checkBusy('fa-file-text-o text-white')" bg-color="bg-brown" text-color="text-white" :number="total_kunjungan" ></wid-one>
        </div>

        <div class="col-lg-6" @click="menungguKunjungan()">
          <wid-one title="Menunggu Kunjungan" :icon="checkBusy('fa-file-text-o text-white')" bg-color="bg-yellow" text-color="text-white" :number="total_menunggu_kunjungan" ></wid-one>
        </div>

        <div class="col-lg-6" @click="selesaiKunjungan()">
          <wid-one title="Selesai Kunjungan" :icon="checkBusy('fa-file-text-o text-white')" bg-color="bg-info" text-color="text-white" :number="total_selesai_kunjungan" ></wid-one>
        </div>         

       
      </div>
    </template>
  </inside>
</template>
<script>
import * as _ from 'underscore'
import { HTTP, HTTPEXCEL } from '@/config'
import inside from '@/layout/inside'
import widOne from '@/widget/wid-one'
import widTwo from '@/widget/wid-two'
import  FileSaver from 'file-saver'
import notifKunjungan from '@/pages/notif-kunjungan'

export default {
  components: {
    inside, widOne, widTwo , notifKunjungan
  },
  data () {
  	return {
      cabang:null,
      
      cabang_list:[],

  		total_kunjungan: null,
      total_menunggu_kunjungan: null,
      total_selesai_kunjungan: null,
  		busy: true,
      userdata: {}
  	}
  },
  computed: {
    cek_cabang(){
      if (this.$store.state.login.user_level === 1){
        return true
      }else{
        return false
      }
    } 
  },
  methods: {
    select_cabang(){
      HTTP.post('absen/dashboard/count-a', { token: this.$store.state.login.token, cabang:this.cabang ,rekap:false})
      .then(res2 => {
        this.dataDashboard = res2.data
        this.total_kunjungan = res2.data[0].jumlah
        this.total_menunggu_kunjungan = res2.data[1].jumlah
        this.total_selesai_kunjungan = res2.data[2].jumlah        
        this.busy = false
      })
    },

    checkPeriodeKunjungan () {
      return this.$store.state.login.kunjungan.status
		},

    view_rekap_p2tel(){
      this.$router.push('/pelayanan/non-datul-dan-kunjungan/rekap')
    },

    download_rekap(){
      HTTPEXCEL.post('absen/dashboard/list-kunjungan-xls', {
          token: this.$store.state.login.token,
          status:null,
          cabang: this.cabang
        })
        .then((res) => {
          var blob = new Blob([res.data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"})
          FileSaver.saveAs(blob, "Rekap Kunjungan.xls")

        })
      },
    


  	checkBusy (i) {
  		if (this.busy) {
  			return 'fa-spinner fa-pulse text-white'
  		} else {
  			return i
  		}
    },
    pelayananNonDatulDanKunjungan() {
      this.$router.push('/pelayanan/non-datul-dan-kunjungan/daftar-absen')
    },

    belum() {
      this.$router.push('/pelayanan/non-datul-dan-kunjungan/daftar-belum')
    },

    selesai() {
      this.$router.push('/pelayanan/non-datul-dan-kunjungan/daftar-selesai')
    },

    totalKunjungan() {
      let cabang = this.cabang
      if (this.cabang === null){
        cabang = 'DAPEN'
      } 
      this.$router.push(`/pelayanan/non-datul-dan-kunjungan/daftar-kunjungan/${cabang}`)
    },
    
    menungguKunjungan() {
      let cabang = this.cabang
      if (this.cabang === null){
        cabang = 'DAPEN'
      }
      this.$router.push(`/pelayanan/non-datul-dan-kunjungan/daftar-menunggu-kunjungan/${cabang}`)
    },

    selesaiKunjungan() {
      let cabang = this.cabang
      if (this.cabang === null){
        cabang = 'DAPEN'
      } 
      this.$router.push(`/pelayanan/non-datul-dan-kunjungan/daftar-selesai-kunjungan/${cabang}`)
    },
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      
      HTTP.post('absen/dashboard/count-a', { token: this.$store.state.login.token, cabang:this.cabang, rekap:false })
      .then(res2 => {
        this.dataDashboard = res2.data
        this.total_kunjungan = res2.data[0].jumlah
        this.total_menunggu_kunjungan = res2.data[1].jumlah
        this.total_selesai_kunjungan = res2.data[2].jumlah        
        this.busy = false

        HTTP.get('absen/dashboard/list-cabang')
        .then(res3 => {
          this.cabang_list = res3.data
          this.userdata = res.data.data
          
          if(this.$store.state.login.user_level === 5){
            this.cabang = res.data.data.tbl_cabang_p2tel
          }
        })

        
      })
      
    })



  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style>

</style>

