<template>
  <inside :username="userData._username">
    
    <header class="header bg-dark" style="background-image: url(http://thetheme.io/theadmin/assets/img/gallery/8.jpg)">
      <div class="header-info h-120px mb-0">
        <div class="media align-items-end">
          <div class="media-body">
            <h3 class="text-white opacity-90"><strong>{{ nama }} | {{ nik }}</strong></h3>
            <small class="text-white opacity-80">{{ nama_cabang }}</small><br>
            <small class="text-white opacity-80">{{ status_absen }}</small><br>
          </div>
        </div>
      </div>
    </header>

    <div class="main-content">
      <div class="card">
        
          
        <h3 class="card-title"><strong>INFORMASI KUNJUNGAN</strong></h3>
          
        <div class="card-body form-type-fill">

          <b-form-group :label="konfirmasiKunjunganLabel">
            <b-form-radio-group  v-model="selectedKonfirmasiKunjungan1" :options="options1" stacked>
            </b-form-radio-group>
          </b-form-group>
        
          <div v-if="!checkKonfirmasiKunjungan">
            <b-form-group :label="konfirmasiKunjunganLabel2">
              <b-form-radio-group v-model="selectedKonfirmasiKunjungan2" :options="options2" stacked></b-form-radio-group>
              <b-form-input v-if="checkKonfirmasiKunjungan2" v-model="kunjunganDengan" type="text" placeholder="Masukkan Nama keluarga/family"></b-form-input>
            </b-form-group>

            <b-form-group :label="tanggalKunjunganLabel">
             <div class="col-lg-3" >
                <datepicker v-model="tanggalKunjungan" input-class="form-control" calendar-class="datepicker-days" language="id" format="dd-MM-yyyy" :disabled="disabledWaktuKunjungan"></datepicker>
              </div>
            </b-form-group>

            <b-form-group :label="petugasKunjunganLabel">
              <b-form-select v-model="selectedPetugasKunjungan" :options="petugas.options"  class="mb-3" />
            </b-form-group>
          
          </div>
        
        </div>

        <div v-if="!checkKonfirmasiKunjungan">
          <h3 class="card-title"><strong>1. INFORMASI</strong></h3>
          
          <div class="card-body form-type-fill">
            <b-form-group :label="informasiPengambilanMPLabel">
              <b-form-radio-group  v-model="selectedInformasiPengambilanMP" :options="optionsInformasiPengambilanMP" stacked>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group :label="informasiPernahMenghubungiDapenLabel">
              <b-form-radio-group  v-model="selectedInformasiPernahMenghubungiDapen" :options="optionsInformasiPernahMenghubungiDapen" stacked>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group :label="informasiPernahDihubungiLabel">
              <b-form-radio-group  v-model="selectedInformasiPernahDihubungi" :options="optionsKunjungan" stacked>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group :label="informasiPernahSosialisasiLabel">
              <b-form-radio-group  v-model="selectedInformasiPernahSosialisasi" :options="optionsKunjungan" stacked>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group :label="informasiKondisiKesehatanLabel">
              <b-form-radio-group  v-model="selectedInformasiKondisiKesehatan" :options="optionsInformasiKondisiKesehatan" stacked>
              </b-form-radio-group>
            </b-form-group>
          </div>

          <h3 class="card-title"><strong>2. PELAYANAN</strong></h3>
          
          <div class="card-body form-type-fill">

            <b-form-group :label="pelayananSlipGajiLabel">
              <b-form-radio-group  v-model="selectedPelayananSlipGaji" :options="optionsKunjungan" stacked>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group :label="pelayananKartuPensiunLabel">
              <b-form-radio-group  v-model="selectedPelayananKartuPensiun" :options="optionsKunjungan" stacked>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group :label="pelayananMajalahPenstelLabel">
              <b-form-radio-group  v-model="selectedPelayananMajalahPenstel" :options="optionsKunjungan" stacked>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group :label="pelayananKalenderLabel">
              <b-form-radio-group  v-model="selectedPelayananKalender" :options="optionsKunjungan" stacked>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group :label="pelayananBuktiPotongGajiLabel">
              <b-form-radio-group  v-model="selectedPelayananBuktiPotongGaji" :options="optionsKunjungan" stacked>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group :label="pelayananSuratKeteranganLabel">
              <b-form-radio-group  v-model="selectedPelayananSuratKeterangan" :options="optionsKunjungan" stacked>
              </b-form-radio-group>
            </b-form-group>

          </div>

          <h3 class="card-title"><strong>3. BEDAH / SEWA RUMAH</strong></h3>
          
          <div class="card-body form-type-fill">

            <b-form-group :label="bedahSewaKondisiLabel">
              <b-form-radio-group  v-model="selectedBedahSewaKondisi" :options="optionsBedaSewaKondisi" stacked>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group :label="bedahSewaStatusLabel">
              <b-form-radio-group  v-model="selectedBedahSewaStatus" :options="optionsBedaSewaStatus" stacked>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group :label="bedahSewaTinggalLabel">
              <b-form-radio-group  v-model="selectedBedahSewaTinggal" :options="optionsBedaSewaTinggal" stacked>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group :label="bedaSewaBantuanLabel">
              <b-form-radio-group  v-model="selectedBedahSewaBantuan" :options="optionsKunjungan" stacked>
              </b-form-radio-group>
            </b-form-group>

          </div>

          <h3 class="card-title"><strong>4. PENSIUN BERDAYA</strong></h3>
          
          <div class="card-body form-type-fill">

            <b-form-group :label="pensiunberdayaUsahaLabel">
              <b-form-radio-group  v-model="selectedPensiunBerdayaUsaha" :options="optionsKunjungan" stacked>
              </b-form-radio-group>
            </b-form-group>

            <b-form-group :label="pensiunberdayaPembinaanLabel">
              <b-form-radio-group  v-model="selectedPensiunBerdayaPembinaan" :options="optionsKunjungan" stacked>
              </b-form-radio-group>
            </b-form-group>

          </div>
          
          <h3 class="card-title"><strong>UPLOAD FILE</strong></h3>
          
          <div class="card-body form-type-fill">

            <b-form-group :label="uploadFotoKunjunganlabel">
              <b-form-file class="col-lg-9" v-model="uploadFotoKunjungan" :state="Boolean(file)" placeholder="Pilih File..." accept=".jpg, .pdf, .jpeg"></b-form-file>
            </b-form-group>
            

            <b-form-group :label="uploadFormKunjunganlabel">
              <b-form-file v-model="uploadFormKunjungan" :state="Boolean(file)" placeholder="Pilih File..." accept=".jpg, .pdf, .jpeg"></b-form-file>
            </b-form-group>

          </div>
          <h3 class="card-title"><strong>CATATAN</strong></h3>
          
          <div class="card-body form-type-fill">

            <b-form-textarea id="textarea1"
                     v-model="catatan"
                     placeholder="catatan"
                     :rows="3"
                     :max-rows="6">
            </b-form-textarea>

          </div>

          <div class="card-body form-type-fill">
            <b-button variant="success" @click="kunjunganSubmit()" :disabled="disableSubmitKunjungan">Submit</b-button>
            <b-button variant="danger" @click="batal()" >Batal</b-button>
          </div>
        
        </div>

        <div class="card-body form-type-fill" v-if="checkKonfirmasiKunjungan">
          <b-alert show>Harap mengunjungi PMP - {{ nama }} sebelum mengisi form kunjungan.</b-alert>
          <b-button variant="danger" @click="batal()" >Kembali Ke Daftar</b-button>
        </div>

      </div>
    </div>
  </inside>
  
</template>
<script>
import inside from '@/layout/inside'
import Datepicker from 'vuejs-datepicker'
import moment from 'moment'
import { HTTP } from '@/config'
import { HTTPFORM } from '@/config'
import check from '@/util/check-status-absen'
export default {
  components: {
    inside , Datepicker
  },
  data () {
  	return {
  		datax: [],
		  data: {},
		  id_pmp: '',
  		nama: '',
  		nik: '',
      nama_cabang: '',
      
      status_absen_id:null,
      status_absen:'',

      kategori_kunjungan_id:null,
      kategori_kunjungan:'',

      absen_id:null,
      
      userData: {},

      tanggalKunjungan:null,
      checkUploadFotoKunjungan:false,
      checkUploadFormKunjungan:false,
      uploadFotoKunjungan:null,
      uploadFormKunjungan:null,
      selectedKonfirmasiKunjungan1: null,
      selectedKonfirmasiKunjungan2: null,
      kunjunganDengan :'',
    
      
      options1: [
        { text: 'Ya', value: 1 },
        { text: 'Tidak', value: 2 }
      ],

      options2: [
        { text: 'Berjumpa langsung dengan PMP', value: 1 },
        { text: 'Berjumpa hanya dengan keluarga/family, sebutkan', value: 2 }
      ],
    
      selectedPetugasKunjungan: null,
      

      disabledWaktuKunjungan: {
          from: new Date(),
        to: new Date(2018,8,1)
        },

      petugas: {
        old_value: null,
        confirm: null,
        new_value: null,
        options: []
      },

      selectedInformasiPengambilanMP: null,
      optionsInformasiPengambilanMP:[
        {text: 'Datang Langsung ke Bank', value:1},
        {text: 'Melalui ATM', value:2}
      ],


      selectedInformasiPernahMenghubungiDapen: null,
      optionsInformasiPernahMenghubungiDapen:[
        {text: 'Walk In / Datang Langsung', value:1},
        {text: 'Phone In / Telepon', value:2},
        {text: 'PC P2Tel', value:3},
        {text: 'Tidak Pernah', value:4},
      ],

      selectedInformasiPernahDihubungi: null,
      optionsKunjungan:[
        {text: 'Ya', value:1},
        {text: 'Tidak', value:2},
      ],

      selectedInformasiPernahSosialisasi: null,

      selectedInformasiKondisiKesehatan: null,
      optionsInformasiKondisiKesehatan:[
        {text: 'Sehat', value:1},
        {text: 'Sakit', value:2},
        {text: 'Uzur', value:3},
      ],

      selectedPelayananSlipGaji: null,
      selectedPelayananKartuPensiun: null,
      selectedPelayananMajalahPenstel: null,
      selectedPelayananKalender: null,
      selectedPelayananBuktiPotongGaji : null,
      selectedPelayananSuratKeterangan: null,

      selectedBedahSewaKondisi: null,
      selectedBedahSewaStatus: null,
      selectedBedahSewaTinggal: null,
      selectedBedahSewaBantuan: null,

      optionsBedaSewaKondisi: [
        {text: 'Layak', value:1},
        {text:'Tidak', value:2}
      ],

      optionsBedaSewaStatus:[
        {text: 'Rumah Sendiri(ada sertifikat)', value: 1},
        {text: 'Rumah Sendiri(sertifikat di Bank)', value:2},
        {text: 'Sewa / Kontrak',value:3},
        {text: 'Bersama Anak/Keluarga Lainnya', value:4}
      ],

      optionsBedaSewaTinggal:[
        {text: 'Sendiri',value:1},
        {text: 'Suami/Istri',value:2},
        {text: 'Keluarga (Suami/Istri, Anak, Cucu)', value:3}
      ],

      selectedPensiunBerdayaUsaha: null,
      selectedPensiunBerdayaPembinaan: null,

      catatan: null,

  	}
  },
  asyncComputed: {
    getPetugas () {
        return HTTP.post('master/petugas', {
          token: this.$store.state.login.token
        }).then(res => {
          this.petugas.options = res.data.data
        })
    },

  	getDataPMP () {
  		return HTTP.post(`absen/dashboard/detailPmp/${ this.$route.params.id }`, { id_pmp: this.$route.params.id ,token: this.$store.state.login.token})
  		.then(res => {
        this.id_pmp = res.data.rows[0].id
        this.nama = res.data.rows[0].nama
        this.nik = res.data.rows[0].nik
        this.nama_cabang = `P2TEL ${ res.data.rows[0].nama_mitra }`

        this.status_absen_id = res.data.rows[0].status_code
        if ( res.data.rows[0].status_code === 1) {
          this.status_absen = 'Menunggu Kunjungan'
        } else if ((res.data.rows[0].status_code === 2) ) {
          this.status_absen = 'Selesai Kunjungan'
        }

        this.kategori_kunjungan_id = res.data.rows[0].kategori_kunjungan
        this.kategori_kunjungan = res.data.rows[0].kategori_title

        this.data = res.data.data.data[0]
        this.datax = res.data.data
  		})
  	}
  },
  computed: {
    informasiPengambilanMPLabel (){
      return 'a. Pengambilan Manfaat Pensiun'
    },

    informasiPernahMenghubungiDapenLabel (){
      return 'b. Pernah Menghubungi Dapen melalui'
    },

    informasiPernahDihubungiLabel (){
      return 'c. Pernah dihubungi telepon oleh Dapen / PC'
    },

    informasiPernahSosialisasiLabel (){
      return 'd. Pernah mengikuti sosialisasi'
    },

    informasiKondisiKesehatanLabel (){
      return 'e. Kondisi Kesehatan'
    },

    pelayananSlipGajiLabel (){
      return 'a. Pernah meminta Slip Gaji'
    },

    pelayananKartuPensiunLabel (){
      return 'b. Memiliki Kartu Pensiun'
    },

    pelayananMajalahPenstelLabel (){
      return 'c. Menerima Majalah Penstel'
    },

    pelayananKalenderLabel (){
      return 'd. Menerima kalender dari Dapen dan P2Tel'
    },

    pelayananBuktiPotongGajiLabel (){
      return 'e. Pernah Meminta Bukti Potong Gaji'
    },

    pelayananSuratKeteranganLabel(){
      return 'f. Pernah Meminta Surat Keterangan'
    },

    bedahSewaKondisiLabel (){
      return 'a. Kondisi Tempat Tinggal' 
    },

    bedahSewaStatusLabel (){
      return 'b. Status Tempat Tinggal'
    },

    bedahSewaTinggalLabel (){
      return 'c. Tinggal Bersama'
    },

    bedaSewaBantuanLabel (){
      return 'd. Pernah mendapat Bantuan Bedah / Sewa Rumah'
    },

    pensiunberdayaUsahaLabel(){
      return 'a. Memiliki Usaha'
    },

    pensiunberdayaPembinaanLabel(){
      return 'b. Minat untuk Mengikuti Pembinaan'
    },



    checkKonfirmasiKunjungan () {
      if (this.selectedKonfirmasiKunjungan1 !== 2) {
        return false
      } else {
        return true
      }
    },

    checkKonfirmasiKunjungan2 () {
      if (this.selectedKonfirmasiKunjungan2 !== 2) {
        return false
      } else {
        return true
      }
    },

    konfirmasiKunjunganLabel () {
      return `1. Apakah Petugas PC - ${ this.nama_cabang } sudah mengunjungi PMP - ${ this.nama } selama bulan Oktober - Desember 2018 ini?`
    },

    konfirmasiKunjunganLabel2 () {
      return `2. Apakah Petugas PC - ${ this.nama_cabang } berjumpa langsung dengan PMP - ${ this.nama } atau dengan keluarga/family?`
    },

    tanggalKunjunganLabel(){
      return `3. Pada tanggal berapa Petugas PC - ${ this.nama_cabang } mengunjungi PMP - ${ this.nama } ?`
    },

    petugasKunjunganLabel(){
      return `4. Siapa Petugas PC - ${ this.nama_cabang } yang mengunjungi PMP - ${ this.nama } ?`
    },

    uploadFotoKunjunganlabel(){
      return `Setelah Anda mengisi isian di atas, silakan upload foto kunjungan  `
    },

    uploadFormKunjunganlabel(){
      return `Setelah Anda mengisi isian di atas, silakan upload form kunjungan yang telah diisi dan ditandatangani`
    },

    disableSubmitKunjungan(){
      if ((this.selectedKonfirmasiKunjungan1===null) 
          || (this.selectedKonfirmasiKunjungan2===null) 
          || (this.selectedPetugasKunjungan===null) 
          || (this.tanggalKunjungan===null)
          ||((this.uploadFotoKunjungan===null)
          &&(this.checkUploadFotoKunjungan===false))
          ||((this.uploadFormKunjungan===null)
          &&(this.checkUploadFormKunjungan===false))){
        return true
      } else {
        return false
      }
    }

    
  },
  methods: {
    checkStatus (i) {
      return check(i)
    },

    uploadFile () {
        let formData = new FormData()
        formData.append('id_pmp', this.id_pmp)
        formData.append('dokumen', this.photo)
        HTTPFORM.post('absen/upload', formData)
        .then((res) => {
          location.reload()
        })
    },

    kunjunganSubmit() {
      
      if (this.kunjunganDengan === ''){
        this.kunjunganDengan =  '-'
      } else {
        this.kunjunganDengan = this.kunjunganDengan
      }
      let loader = this.$loading.show()
      if ((this.checkUploadFotoKunjungan)&&(this.checkUploadFormKunjungan)){
        
        HTTP.post('absen/kunjungan', { 
        id_pmp: this.id_pmp,
        tgl_kunjungan: moment(this.tanggalAbsen).format(),
        petugas_kunjungan: this.selectedPetugasKunjungan,
        cara_kunjungan_id: this.selectedKonfirmasiKunjungan2,
        kunjungan_dengan: this.kunjunganDengan,
        token:this.$store.state.login.token,
        }).then(()=>{
          loader.hide()
          this.$router.push(`/pelayanan/non-datul-dan-kunjungan/kunjungan-sukses/${ this.id_pmp }`)
          
        })
        
      } else if (((!this.checkUploadFotoKunjungan)&&(this.checkUploadFormKunjungan))){
        let fotoData = new FormData()
        fotoData.append('id_pmp', this.id_pmp)
        fotoData.append('dokumen_type','foto')
        fotoData.append('dokumen', this.uploadFotoKunjungan)
        
        
        HTTPFORM.post('absen/upload/fotoKunjungan-a', fotoData)
        .then((res) => {
          HTTP.post('absen/kunjungan', { 
          absen_id:this.absen_id,
          tgl_kunjungan: moment(this.tanggalAbsen).format(),
	        petugas_kunjungan: this.selectedPetugasKunjungan,
	        cara_kunjungan_id: this.selectedKonfirmasiKunjungan2,
          kunjungan_dengan: this.kunjunganDengan,
          token:this.$store.state.login.token,
          }).then(()=>{
            loader.hide()
            this.$router.push(`/pelayanan/non-datul-dan-kunjungan/kunjungan-sukses/${ this.id_pmp }`)    
          })
        })
      } else if (((this.checkUploadFotoKunjungan)&&(!this.checkUploadFormKunjungan))){
        
        let formData = new FormData()
        formData.append('id_pmp', this.id_pmp)
        formData.append('dokumen_type','form')
        formData.append('dokumen', this.uploadFormKunjungan)
        
        // formData.append('token', this.$store.state.login.token)
        
        HTTPFORM.post('absen/upload/formKunjungan-a', formData)
        .then((res) => {
          HTTP.post('absen/kunjungan', { 
          absen_id:this.absen_id,
          tgl_kunjungan: moment(this.tanggalAbsen).format(),
	        petugas_kunjungan: this.selectedPetugasKunjungan,
	        cara_kunjungan_id: this.selectedKonfirmasiKunjungan2,
          kunjungan_dengan: this.kunjunganDengan,
          token:this.$store.state.login.token,
          }).then(()=>{
            loader.hide()
            this.$router.push(`/pelayanan/non-datul-dan-kunjungan/kunjungan-sukses/${ this.id_pmp }`)
          })
        })

      } else {
        
        let fotoData = new FormData()
        fotoData.append('id_pmp', this.id_pmp)
        fotoData.append('dokumen_type','foto')
        fotoData.append('dokumen', this.uploadFotoKunjungan)
        
        let formData = new FormData()
        formData.append('id_pmp', this.id_pmp)
        formData.append('dokumen_type','form')
        formData.append('dokumen', this.uploadFormKunjungan)
        
        HTTPFORM.post('absen/upload/fotoKunjungan-a', fotoData)
        .then((res) => {
          HTTPFORM.post('absen/upload/formKunjungan-a', formData)
          .then((res) => {
            HTTP.post('absen/kunjungan-a', {
            id_pmp: this.id_pmp, 
            tgl_kunjungan: moment(this.tanggalAbsen).format(),
            petugas_kunjungan: this.selectedPetugasKunjungan,
            cara_kunjungan_id: this.selectedKonfirmasiKunjungan2,
            kunjungan_dengan: this.kunjunganDengan,
            token:this.$store.state.login.token,

            info_pengambilan_mp:this.selectedInformasiPengambilanMP,            
            info_pernah_menghubungi:this.selectedInformasiPernahMenghubungiDapen,
            info_pernah_dihubungi:this.selectedInformasiPernahDihubungi,
            info_pernah_sosialisasi:this.selectedInformasiPernahSosialisasi,
            info_kondisi_kesehatan:this.selectedInformasiKondisiKesehatan,

            pelayanan_meminta_slip:this.selectedPelayananSlipGaji,
            pelayanan_memiliki_kartu:this.selectedPelayananKartuPensiun,
            pelayanan_menerima_majalah:this.selectedPelayananMajalahPenstel,
            pelayanan_menerima_kalender:this.selectedPelayananKalender,
            pelayanan_meminta_buktipotong:this.selectedPelayananBuktiPotongGaji,
            pelayanan_meminta_suratketerangan:this.selectedPelayananSuratKeterangan,

            rumah_kondisi:this.selectedBedahSewaKondisi,      
            rumah_status:this.selectedBedahSewaStatus,
            rumah_tinggal_bersama:this.selectedBedahSewaTinggal,
            rumah_mendapat_bantuan:this.selectedBedahSewaBantuan,
            berdaya_memiliki_usaha:this.selectedPensiunBerdayaUsaha,      
            berdaya_mengikuti_pembinaan:this.selectedPensiunBerdayaPembinaan,
            catatan:this.catatan,
            }).then(()=>{
              loader.hide()
              this.$router.push(`/pelayanan/non-datul-dan-kunjungan/kunjungan-sukses/${ this.id_pmp }`)
            })
          })
        })

      }

      
    
      // console.log(moment(this.tanggalAbsen).format())
      
      // this.$router.push(`/pelayanan/non-datul-dan-kunjungan/absen-sukses/${ this.id_pmp }`)
      
    },

    batal(){
      this.$router.push(`/pelayanan/non-datul-dan-kunjungan`)
    },
    
    
  },
  beforeMount () {
    HTTP.post('token', this.$store.state.login)
    .then((res) => {
      this.userData = res.data.data
      this.username = res.data.data._username
    })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      HTTP.post('token', vm.$store.state.login)
      .then((res) => {
        if (res.data.success === true) {
          // console.log(res)
          next('/absen' + this.$route.path.split('/')[2])
        } else {
          next('/')
        }
      })
    })
  }
}
</script>
<style>
.header {
	margin-bottom: 0;
}
.card .tabs .card-header ul{
	margin-bottom: 0px;
}
.card .tabs .card-header{
	padding:0 !important;
}
.modal-content{
	background-color: white !important;
}
</style>
