<template>
  
  <div class="card-body">
    
    <div class="row">
      <div class="col-md-4">
        <form class="lookup lookup-sm">
          <input type="text" placeholder="Filter..." v-model="filter">
        </form>
      </div>

      <div class="col-md-12">
        <b-table striped responsive hover :items="dataFilter" :fields="fields" :small="true" :per-page="perPage"  :current-page="currentPage" :filter="filter" @row-clicked="goToList" :busy="busyCheck">
          <template slot="kode" scope="data">
            {{ data.item.kode }}
          </template>
          <template slot="persentase" scope="data">
            {{ data.item.persentase }} %
          </template>
        </b-table>
      </div>
      <div v-if="busyCheck" class="col-md-12">

        <div class="spinner-circle text-center" ></div>
      </div>
      <div class="col-md-12">
        <b-pagination align="center" size="md" :total-rows="dataFilterLength" v-model="currentPage" :per-page="perPage"></b-pagination>
      </div>
    </div>
  </div>
</template>
<script>
  import * as _ from 'underscore'
  import check from '@/util/check-status-absen'
  import checkKategori from '@/util/check-kategori'
  import  FileSaver from 'file-saver'
  import { HTTP, HTTPEXCEL } from '@/config'
  export default {
  
    props: {
      data: {
        type: Array,
        default: []
      }
    },
    data () {
      return {
        filter: '',
        currentPage: 1,
        perPage: 10,
        fields: [
          {
            key: 'no',
            label: 'No',
            sortable: true
          },
          {
            key: 'kode',
            label: 'Kode P2Tel',
            sortable: true
          },
          {
            key: 'nama_cabang',
            label: 'Nama Cabang',
            sortable: true
          },
          {
            key: 'menunggu_kunjungan',
            label: 'Menunggu',
            sortable: true
          },
          {
            key: 'selesai_kunjungan',
            label: 'Selesai',
            sortable: true
          },
          {
            key: 'total_kunjungan',
            label: 'Total',
            sortable: true
          },
          {
            key: 'persentase',
            label: 'Persentase',
            sortable: true
          }

        ]
      }
    },
    computed: {
      dataFilter () {
        return this.data
      },
      dataFilterLength () {
        return this.data.length
      },
      busyCheck () {
        if (this.dataFilter.length === 0) {
          return true
        } else {
          return false
        }
      }
    },
    methods: {
      goToList(item) {
       this.$router.push(`/pelayanan/non-datul-dan-kunjungan/daftar-kunjungan/${ item.kode }`)        
      },
      checkStatus (i) {
        return check(i)
      },
      checkKategoris (i) {
        return checkKategori(i)
      },

      download_rekap_p2tel(){
        HTTPEXCEL.post('absen/dashboard/rekap-xls', {
          token: this.$store.state.login.token,
          status:null
        })
        .then((res) => {
          var blob = new Blob([res.data], {type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"})
          FileSaver.saveAs(blob, "Daftar Anggota Semester 2 - 2018.xls")
          
          // download(res.data, 'xxx', 'application/vnd.ms-excel')
          // window.URL.createObjectURL(blob.data)
          // download(res.data.file.data, res.data.name, 'application/vnd.ms-excel')
          // window.URL.createObjectURL(new Blob([res.data]))
          // download(url)

        })
      }
    },
    
  }
</script>
<style scoped>
  .b-table {
    cursor: pointer;
  }
</style>
