<template>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <form class="lookup lookup-sm">
          <input type="text" placeholder="Filter..." v-model="filter">
        </form>
      </div>

      <div class="col-md-12">
        <b-table striped responsive hover :items="dataFilter" :fields="fields" :small="true" :per-page="perPage"  :current-page="currentPage" :filter="filter" @row-clicked="goToProfile" :busy="busyCheck">
          <template slot="status" scope="data">
            {{ checkStatus(data.item.status_code) }}
          </template>
          <template slot="kategori" scope="data">
            {{ checkKategoris(data.item.kategori_kunjungan) }}
          </template>
        </b-table>
      </div>
      <div v-if="busyCheck" class="col-md-12">

        <div class="spinner-circle text-center" ></div>
      </div>
      <div class="col-md-12">
        <b-pagination align="center" size="md" :total-rows="dataFilterLength" v-model="currentPage" :per-page="perPage"></b-pagination>
      </div>
    </div>
  </div>
</template>
<script>
  import * as _ from 'underscore'
  import check from '@/util/check-status-absen'
  import checkKategori from '@/util/check-kategori'
  export default {
  
    props: {
      data: {
        type: Array,
        default: []
      }
    },
    data () {
      return {
        filter: '',
        currentPage: 1,
        perPage: 10,
        fields: [
          {
            key: 'nik',
            label: 'NIK',
            sortable: true
          },
          {
            key: 'nama',
            label: 'Nama',
            sortable: true
          },
          {
            key: 'cabang_p2tel',
            label: 'Cabang P2TEL',
            sortable: true
          },
          {
            key: 'status',
            label: 'Status'
          },
          {
            key: 'kategori',
            label: 'Kategori'
          }

        ]
      }
    },
    computed: {
      dataFilter () {
        return this.data
      },
      dataFilterLength () {
        return this.data.length
      },
      busyCheck () {
        if (this.dataFilter.length === 0) {
          return true
        } else {
          return false
        }
      }
    },
    methods: {
      goToProfile(item) {
        if ( item.status_code  === 0){
          this.$router.push(`/pelayanan/non-datul-dan-kunjungan/form-absen/${ item.id }`)
        } else if ((item.status_code === 1) ){
          this.$router.push(`/pelayanan/non-datul-dan-kunjungan/absen-sukses/${ item.id }`)
        } else if ((item.status_code === 2) ){
          this.$router.push(`/pelayanan/non-datul-dan-kunjungan/form-kunjungan/${ item.id }`)
        } else if ((item.status_code === 3) ){
          this.$router.push(`/pelayanan/non-datul-dan-kunjungan/kunjungan-sukses/${ item.id }`)
        }
      },
      checkStatus (i) {
        return check(i)
      },
      checkKategoris (i) {
        return checkKategori(i)
      }
    }
  }
</script>
<style scoped>
  .b-table {
    cursor: pointer;
  }
</style>
