<div id="app">
    <div>
        <h6>Default</h6>
        <b-pagination-nav :number-of-pages="10" base-url="#" v-model="currentPage" />
        <br>
        <div>currentPage: {{currentPage}}</div>
    </div>
</div>
