<div id="app">

    <b-form-select v-model="selected"
                   :options="options"
                   class="mb-3"
    ></b-form-select>

    <b-form-select v-model="selected"
                   :options="options"
                   class="mb-3"
                   state="valid"
    ></b-form-select>

    <b-form-select v-model="selected"
                   :options="options"
                   class="mb-3"
                   state="invalid"
    ></b-form-select>

    <div>Selected: <strong>{{selected}}</strong></div>

</div>
