<div id="app">
    <b-form-radio-group v-model="value" :options="options"></b-form-radio-group>
    <br>

    <b-form-radio-group v-model="value" :options="options" stacked state="valid"></b-form-radio-group>
    <br>

    <b-form-radio-group v-model="value" :options="options" validated state="valid"></b-form-radio-group>
    <br>

    <b-form-radio-group v-model="value" :options="options" buttons></b-form-radio-group>
    <br>

    <b-form-radio-group v-model="value" :options="options" buttons stacked></b-form-radio-group>
    <br>

    <b-form-radio-group v-model="value" :options="options" buttons size-"sm"></b-form-radio-group>
    <br>

    <b-form-radio-group v-model="value">
        <b-form-radio v-for="opt in options" :key="opt.value">
            {{ opt.text }}
        </b-form-radio>
    </b-form-radio-group>
    <br>

    <span>Selected: </span>
    <span>{{value}}</span>
</div>
