<div id="app">
    <!-- default -->
    <b-container ref="default">default</b-container>
    <br>
    <!-- custom tag -->
    <b-container tag="p" ref="custom">custom</b-container>
    <br>
    <!-- fluid -->
    <b-container fluid ref="fluid">fluid</b-container>
</div>
