<div id="app">
    <!-- default -->
    <b-row ref="default">default</b-row>
    <!-- custom tag prop -->
    <b-row tag="p" ref="custom">custom</b-row>
    <!-- no-gutters prop -->
    <b-row no-gutters ref="noGutters">no gutters</b-row>
    <!-- align-v prop -->
    <b-row align-v="center" ref="alignV">align v</b-row>
    <!-- align-h prop -->
    <b-row align-h="center" ref="alignH">align h</b-row>
    <!-- align-h prop -->
    <b-row align-content="center" ref="alignContent">align content</b-row>
</div>
